
<div class="panel-heading" style="background-color: white;">
	<div class="panel-title">
		<div class="row" style="margin: 0px">
			<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10"
				style="padding: 0px">
				<div class="row" style="margin: 0px">
					<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6"
						style="padding: 0px; padding-top: 5px">
						<strong>Order</strong>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6"
						style="padding: 0px; padding-top: 5px">
						<strong>Label</strong>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-3 hidden-xs"
						style="padding: 0px; padding-top: 5px">
						<strong>Identifier</strong>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-3 hidden-xs"
						style="padding: 0px; padding-top: 5px">
						<strong>Type</strong>
					</div>
				</div>
			</div>
			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="padding: 0px">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="form-actions">
							<div class="pull-right">
								<div class="btn-group">
									<button
										ng-repeat="shWidget in $parent.shWidgets |filter: {name: 'Text'} : true"
										ng-click="$parent.$parent.addPostTypeAttr(shWidget, $parent.$parent.shPostType.shPostTypeAttrs)"
										class="btn btn-viglet btn-sm">
										<i class="fa fa-plus-circle" aria-hidden="true"></i>
										{{shWidget.name}} Field
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="panel-collapse collapse" uib-collapse="!isOpen">
	<div class="panel-body" style="padding: 0px" ng-transclude></div>
</div>