<ul class="breadcrumb" style="margin-top: 5px; margin-bottom: 25px;">
	<li><a ui-sref="content" ui-sref-opts="{reload:true}">Dashboard</a></li>
	<li>Post Types</li>
</ul>

<div>
	<h3>Select your Post Type</h3>
	<div class="pull-right" style="margin: -40px 0 0;">
		<a ui-sref="content.post-type-editor" class="btn btn-success"><i class="fa fa-cube" aria-hidden="true"
				style="margin-right: 10px;"></i>
			New</a>
	</div>
</div>
<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div style="margin-bottom: 10px; height: 40px">
			<div class="pull-left" style="width: 100%;">
				<input class="form-control" id="search-folder-input" type="text" ng-model="shSearchFilter"
					placeholder="Find a post type..." style="width: 100%;"
					ng-change="changeSearchTextBox(shSearchFilter)">
			</div>
		</div>
		<div>
			<div class="list-group" ng-hide="thumbs">
				<!--  Post Types  -->
				<div ui-sortable="sortablePostTypes" ng-model="shPostTypes">
					<div ng-repeat="shPostType in shPostTypes | filter:shSearchFilter | orderBy:'title'"
						ng-mouseenter="updateAction(shPostType.id,true)"
						ng-mouseleave="updateAction(shPostType.id,false)" class="list-group-item">
						<div class="row">
							<div class="col-lg-11 col-md-10 col-sm-10 col-xs-8" style="display: flex;">
								<div>
									<div>
										<i class="fa fa-cube fa-3x" aria-hidden="true"
											style="margin-right: 10px;color: tomato;padding-top: 10px;"></i>
									</div>
								</div>
								<div>
									<a type="button" class="btn btn-link"
										ui-sref="content.post-type-item({postTypeId: shPostType.id})"
										ui-sref-opts="{reload:true}">{{shPostType.title}}</a> <span
										ng-if="isRecent(shPostType.date)" class="label label-default"
										style="display: inline-block; margin-top: 12px">Recent</span>
									<div style="font-size: 12px;margin-left: 14px;">
										<div style="display: table-row">
											<div class="ng-binding">
												<span am-time-ago="shPostType.date" style="color: gray"></span><span
													ng-if="shPostType.description != null"> -
												</span>{{shPostType.description}}
											</div>
										</div>
										<div>
											<div style="display: inline;">
												<span class="label label-shio">Post Type</span>
											</div>
											<div ng-if="shPostType.system != 1" style="display: inline;">
												<span class="label label-shio">Custom</span>
											</div>
											<div ng-if="shPostType.system == 1" style="display: inline;">
												<span class="label label-shio">System</span>
											</div>

										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-1 col-md-2 col-sm-2 col-xs-4" ng-show="actions[shPostType.id]">
								<div class="row">
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
										<button type="button" class="btn btn-link btn-xs" style="display: block;"
											ng-click="postTypeClone(shPostType)">
											<i class="fa fa-clone" aria-hidden="true"></i> Clone
										</button>
										<button type="button" class="btn btn-link btn-xs" style="display: block;"
											ng-click="removePostType(shPostType)"> <i class="fa fa-trash-o"
												aria-hidden="true"> </i>
											Delete
										</button>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>