<ul class="breadcrumb" style="margin-top: 5px; margin-bottom: 25px;">
	<li><a ui-sref="content" ui-sref-opts="{reload:true}">Dashboard</a></li>
	<li>Post Types</li>
</ul>

<div class="settings">
	<section class="content no-padding">
		<fieldset class="user-details-top" style="margin-bottom: 30px">

			<div class="form-group">
				<h3>Select your Post Type</h3>
			</div>
			<div class="pull-right" style="margin: -40px 0 0;">
				<a ui-sref="content.post-type-editor" class="btn btn-success"><i class="fa fa-cube" aria-hidden="true"
						style="margin-right: 10px;"></i>
					New</a>
			</div>
		</fieldset>
	</section>
</div>
<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div style="margin-bottom: 10px; height: 40px">
			<div class="pull-left" style="width: 100%;">
				<input class="form-control" id="search-folder-input" type="text" ng-model="shSearchFilter"
					placeholder="Find a post type..." style="width: 100%;" ng-change="changeSearchTextBox(shSearchFilter)">
			</div>
		</div>
		<div>
			<div class="list-group" ng-hide="thumbs">
				<!--  Post Types  -->
				<div ui-sortable="sortableAuthProviders" ng-model="shPostTypes">
					<div ng-repeat="shPostType in shPostTypes | filter: { system: '1'} | filter:shSearchFilter"
						class="list-group-item">
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="display: flex;">
								<div>
									<div>
										<i class="fa fa-cube fa-3x" aria-hidden="true"
											style="margin-right: 10px;color: tomato;padding-top: 10px;"></i>
									</div>
								</div>
								<div>
									<a type="button" class="btn btn-link"
										ui-sref="content.post-type-item({postTypeId: shPostType.id})"
										ui-sref-opts="{reload:true}">{{shPostType.title}}</a>
									<div style="font-size: 12px;margin-left: 14px;">
										<div style="display: table-row">
											<div class="ng-binding">
												{{shPostType.description}}
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>