<ul class="breadcrumb" style="margin-top: 5px; margin-bottom: 25px;">
	<li><a ui-sref="content" ui-sref-opts="{reload:true}">Dashboard</a></li>
	<li>Post Types</li>
</ul>

<div class="settings">
	<section class="content no-padding">

		<fieldset class="user-details-top" style="margin-bottom: 30px">

			<div class="form-group">
				<h3>Select your Post Type</h3>
			</div>
		</fieldset>
	</section>
</div>

<div class="row">
	<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
		<div class="thumbnail">
			<a ui-sref="content.post-type-editor">
				<div
					style="background-color: #3399ff; text-align: center; height: 200px">
					<img src="img/add.png" alt="nlp" style="padding: 15px">
					<h3
						style="color: white; position: absolute; left: 30px; top: 170px; z-index: 10">New
						Post Type</h3>
				</div>
			</a>
			<div class="caption">
				<p>Create a New Post Type</p>
				<p>
					<a ui-sref="content.post-type-editor"
						class="btn btn-primary btn-lg btn-block" role="button">Create</a>
				</p>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12"
		ng-repeat="shPostType in shPostTypes | filter: { system: '1'} | orderBy:orderProp">
		<div class="thumbnail">
			<a ui-sref="content.post-type-item({postTypeId: shPostType.id})"
				ui-sref-opts="{reload:true}">
				<div
					style="background-color: #FF6347; text-align: right; height: 200px">
					<img src="img/posttype.png" alt="site" style="padding: 15px">
					<h3
						style="color: white; position: absolute; left: 30px; top: 170px; z-index: 10">{{shPostType.title}}</h3>
				</div>
			</a>
			<div class="caption">
				<p>{{shPostType.description}}</p>
				<p>
					<a ui-sref="content.post-type-item({postTypeId: shPostType.id})"
						class="btn btn-viglet btn-lg btn-block" role="button">Configure</a>
				</p>
			</div>
		</div>
	</div>
</div>
