<table class="table" style="margin: 0px;border-color: #ddd; border-style: solid; border-width: 1px;">
    <tr>
        <th scope="row" style="background: #F9F9F9; width: 40%;">
            <p>
                <b>URL</b>
            </p>
            <p>Server OTCS URL</p>
        </th>
        <td><input type="text" class="form-control" ng-model="exchangeProvider.properties.URL" /></td>
    </tr>
    <tr>
        <th scope="row" style="background: #F9F9F9; width: 40%;">
            <p>
                <b>Username</b>
            </p>
            <p>Administrator that has permission to access the objects</p>
        </th>
        <td><input type="text" class="form-control" ng-model="exchangeProvider.properties.USERNAME"
                autocomplete="new-password" /></td>
    </tr>
    <tr>
        <th scope="row" style="background: #F9F9F9; width: 40%;">
            <p>
                <b>Password</b>
            </p>
        </th>
        <td><input type="password" class="form-control" ng-model="exchangeProvider.properties.PASSWORD"
                autocomplete="new-password" /></td>
    </tr>
</table>