<div summary="Configuration Table" ng-controller="ShWidgetFormConfigurationCtrl"
	ng-init="init(shPostTypeAttr)">
	<table class="table" style="margin: 0px;">
		<tr>
			<th scope="row" style="background: #F9F9F9; width: 20%;">
				<p>
					<b>Method</b>
				</p>
			</th>
			<td><select class="form-control"
				ng-model="shPostTypeAttr.widgetSettingsObject.method">
					<option value="GET">GET</option>
					<option value="POST">POST</option>
					<option value="PUT">PUT</option>
					<option value="DELETE">DELETE</option>
			</select></td>
		</tr>
		<tr>
			<th scope="row" style="background: #F9F9F9; width: 20%;">
				<p>
					<b>Action</b>
				</p>
				<p>Select Page Layout that will receive the request</p>
			</th>
			<td><select class="form-control"
				ng-model="shPostTypeAttr.widgetSettingsObject.pageLayout"
				ng-options="pageLayout.id as pageLayout.title for pageLayout in pageLayouts">
					<option value="">-- Pick One --</option>
			</select></td>
		</tr>
		<tr>
			<th scope="row" style="background: #F9F9F9; width: 20%;">
				<p>
					<b>Create Post from Form?</b>
				</p>

			</th>
			<td><input type="checkbox" class="form-control" ng-true-value="1" ng-false-value="0"
				ng-model="shPostTypeAttr.widgetSettingsObject.createPost"></td>
		</tr>
		<tr>
			<th scope="row" style="background: #F9F9F9; width: 20%;">
				<p>
					<b>Destination Folder</b>
				</p>

			</th>
			<td><input type="text" class="form-control"
			ng-model="shPostTypeAttr.widgetSettingsObject.folder" /></td>
		</tr>
	</table>
</div>