<!DOCTYPE html>
<html lang="en" ng-app="shioWelcome">

<head>
	<meta charset="UTF-8">
	<title>Sign in | Viglet Shio CMS</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	</meta>

	<link href="/thirdparty/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	</link>

	<link rel="stylesheet" th:href="@{/css/login.css}">
	<link th:href="@{/favicon.ico}" rel="shortcut icon" type="image/x-icon" />
	<link rel="apple-touch-icon" sizes="57x57" th:href="@{/apple-icon-57x57.png}">
	<link rel="apple-touch-icon" sizes="60x60" th:href="@{/apple-icon-60x60.png}">
	<link rel="apple-touch-icon" sizes="72x72" th:href="@{/apple-icon-72x72.png}">
	<link rel="apple-touch-icon" sizes="76x76" th:href="@{/apple-icon-76x76.png}">
	<link rel="apple-touch-icon" sizes="114x114" th:href="@{/apple-icon-114x114.png}">
	<link rel="apple-touch-icon" sizes="120x120" th:href="@{/apple-icon-120x120.png}">
	<link rel="apple-touch-icon" sizes="144x144" th:href="@{/apple-icon-144x144.png}">
	<link rel="apple-touch-icon" sizes="152x152" th:href="@{/apple-icon-152x152.png}">
	<link rel="apple-touch-icon" sizes="180x180" th:href="@{/apple-icon-180x180.png}">
	<link rel="icon" type="image/png" sizes="192x192" th:href="@{/android-icon-192x192.png}">
	<link rel="icon" type="image/png" sizes="32x32" th:href="@{/favicon-32x32.png}">
	<link rel="icon" type="image/png" sizes="96x96" th:href="@{/favicon-96x96.png}">
	<link rel="icon" type="image/png" sizes="16x16" th:href="@{/favicon-16x16.png}">
	<link rel="manifest" th:href="@{/manifest.json}">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
</head>

<body ng-controller="ShWelcomeCtrl">
	<div style="position: absolute;bottom: 10px;right: 10px;background: tomato;opacity: 60%;padding:5px">
		<a style="color: white;text-decoration: none"
			href="https://unsplash.com/s/photos/green-chameleon%2C-bristol%2C-uk" target="_blank"
			rel="noopener noreferrer">Green Chameleon,
			Bristol, UK</a>
	</div>
	<div class="login-form" ng-if="showLogin">
		<div style="text-align: center; margin-bottom: 30px">
			<img th:src="@{/img/shio-logo.png}" alt="Shio CMS Logo" />
		</div>
		<form role="form"  method="POST" ng-submit="login()">
			<div class="form-group ">
				<input type="text" class="form-control" placeholder="Username" id="username" name="username"
					ng-model="credentials.username">
				<em class="fa fa-user"></em>
			</div>
			<div class="form-group log-status">
				<input type="password" class="form-control" placeholder="Password" id="password" name="password"
					ng-model="credentials.password">
				<em class="fa fa-lock"></em>
			</div>
			<span class="alert">Invalid Credentials</span>
			<button type="submit" class="log-btn">Log in</button>
		</form>
	</div>
	<script src="/thirdparty/jquery/1.12.4/jquery.min.js"></script>
	<script src="/thirdparty/moment/2.29.3/min/moment-with-locales.min.js"></script>
	<script src="/thirdparty/angular/1.8.2/angular.min.js"></script>
	<script src="/thirdparty/angular-resource/1.8.2/angular-resource.min.js"></script>
	<script src="/thirdparty/angular-animate/1.8.2/angular-animate.min.js"></script>
	<script src="/thirdparty/angular-cookies/1.8.2/angular-cookies.min.js"></script>
	<script src="/thirdparty/angular-sanitize/1.8.2/angular-sanitize.min.js"></script>
	<script src="/thirdparty/angular-ui-router/1.0.29/release/angular-ui-router.min.js"></script>
	<script src="/thirdparty/angular-translate/2.19.0/dist/angular-translate.min.js"></script>

	<script src="/thirdparty/angular-moment/1.2.0/angular-moment.min.js"></script>
	<!-- shim is needed to support non-HTML5 FormData browsers (IE8-9)-->
	<script src="/thirdparty/angular-ui-notification/0.3.6/dist/angular-ui-notification.min.js"></script>

	<script th:src="@{/js/welcome.js}"></script>
</body>

</html>