<div ng-include="'/template/breadcrumb/breadcrumb-list.html'"></div>
<div style="margin-top: 25px">
		<h3>Commits on {{shSite.name}} Site</h3>
</div>
<div>
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-centered" style="vertical-align: top;">
		<div class="panel-body">
			<div infinite-scroll='loadMore()' infinite-scroll-distance='2'>
				<article ng-repeat="commit in commits" style="margin-top: 30px; padding-bottom: 0px;">
					<a style="margin-bottom: 5px;color: #FF6347; font-weight: bolder;"
						ng-href="/api/v2/object/{{commit.shObject}}/editor">
						{{commit.description}}
					</a>
					<ul class="breadcrumb" style="background-color: white; padding: 0px; margin: 0px; font-size: 12px;">
						<li><span style="font-weight: bolder;">{{commit.owner}}</span> committed on <span
								am-time-ago="commit.date"></span></li>
						<li ng-repeat="breacrumbItem in shPostWithBreadCrumb.breadcrumb"><a
								ui-sref="content.children.folder-children({folderId: breacrumbItem.id})"
								ui-sref-opts="{reload:true}">{{breacrumbItem.name}}</a></li>
					</ul>
				</article>
			</div>
		</div>
	</div>
</div>