<div layout-gt-xs="row">
	<div style="width: 100%">
		<md-input-container class="md-block" flex-gt-xs>
			<label th:text="|${shPostTypeAttr.label}|"></label>
			<md-select th:if="${shPostTypeAttr.required} == 1" th:placeholder="|${shPostTypeAttr.label}|"
				th:name="${'__sh-post-type-attr-' + shPostTypeAttr.name}" th:ng-model="${shPostTypeAttr.name}" required>
				<md-option th:each="choice : ${choices}" th:value="${choice.key}" th:text="|${choice.value}|">
				</md-option>
			</md-select>
			<md-select th:if="${shPostTypeAttr.required} != 1" th:placeholder="|${shPostTypeAttr.label}|"
				th:name="${'__sh-post-type-attr-' + shPostTypeAttr.name}" th:ng-model="${shPostTypeAttr.name}">
				<md-option th:each="choice : ${choices}" th:value="${choice.key}" th:text="|${choice.value}|">
				</md-option>
			</md-select>
		</md-input-container>
	</div>
</div>