<div class="pull-right" style="padding-top: 1px;">
	<div style="display: inline-flex;" ng-show="searchFolder">
		<div class="input-group" style="position: relative;top: 1px;">
			<div class="input-group-btn">
				<button class="btn btn-default"><i class="fa fa-search" aria-hidden="true"></i></button>
			</div>
			<!-- Input Text -->
			<input class="form-control" id="search-folder-input" type="text" ng-model="$ctrl.shSearchFilter" autofocus
				placeholder="Search within this Folder" style="width: 200px;">
			<div class="input-group-btn">
				<button class="btn btn-default" ng-click="hideSearchFolderAction()">
					<i class="fa fa-close" aria-hidden="true"></i>
				</button>
			</div>
		</div>
	</div>
	<div style="display: inline-flex;" ng-hide="searchFolder">
		<a class="btn" data-toggle="tooltip" title="Sort" ng-click="$ctrl.orderList()">
			<i class="fa fa-sort-alpha-asc" ng-if="$ctrl.orderAsc" aria-hidden="true"></i>
			<i class="fa fa-sort-alpha-desc" ng-if="!$ctrl.orderAsc" aria-hidden="true"></i>
		</a>
		<div style="display: inline-block;">
			<div class="form-group" style="position: relative;top: 4px;">
				<select style="height: 27px;" ng-model="$ctrl.orderBy" ng-change="$ctrl.orderBySelection()">
					<option value="name">Name</option>
					<option value="date">Date</option>
				</select>
			</div>
		</div>
		<a href class="btn" ng-click="showSearchFolderAction()" data-toggle="tooltip"
			title="Search within this Folder"><i class="fa fa-search" aria-hidden="true"></i></a>
		<a href class="btn" ngf-select="uploadFile($file, $invalidFiles)" data-toggle="tooltip" title="Upload Files"><i
				class="fa fa-upload" aria-hidden="true"></i></a>
		<a href class="btn" ng-hide="thumbs" ng-click="thumbs=true" data-toggle="tooltip" title="Thumbnails"><span
				class="glyphicon glyphicon-th-large" aria-hidden="true"></span></a>
		<a href class="btn" ng-show="thumbs" ng-click="thumbs=false" data-toggle="tooltip" title="List"><span
				class="glyphicon glyphicon-th-list" aria-hidden="true"></span></a>
	</div>
</div>
<div>
	<ul class="breadcrumb" style="margin-top: 0px; margin-bottom: 5px;">
		<li><a ng-click="providerList()" ng-if="!isProviderList" href>Providers</a><a ng-if="isProviderList"
				href>Providers</a></li>
		<li ng-if="!isProviderList && $ctrl.providerItem.breadcrumb == null"><span>{{$ctrl.providerItem.providerName}}</span></li>
		<li ng-if="!isProviderList" ng-repeat="breacrumbItem in $ctrl.providerItem.breadcrumb"
			ng-class="{'active':$last}">
			<a ng-if="$first" ng-click="objectList(breacrumbItem.id)" href>{{$ctrl.providerItem.providerName}}</a>
			<a ng-if="!$last && !$first" ng-click="objectList(breacrumbItem.id)"
				href>{{breacrumbItem.title}}</a><span ng-if="$last && !$first">{{breacrumbItem.title}}</span></li>
	</ul>
</div>
<div ng-show="thumbs" ng-include="'/template/provider/provider-explorer-thumbs.html'">
</div>
<div ng-hide="thumbs" ng-include="'/template/provider/provider-explorer-list.html'">
</div>