
<div ng-include="'/template/breadcrumb/breadcrumb-list.html'"></div>
<div ng-if="shCurrentFolder == null && 1 == 0"
	style="margin-bottom: 20px">
	<dl>
		<dd style="padding-left: 15px;">{{shSite.description}}</dd>
	</dl>
</div>
<div class="panel panel-default"
	ng-if="shCurrentFolder == null &&  commits > 0">
	<div class="panel-body">
		<div class="row row-centered">
			<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
				<a ui-sref="content.commit({objectId: shSite.id})"
					style="color: #6a737d;"> <i class="fa fa-history"
					aria-hidden="true"></i> <b>{{commits}}</b> commits
				</a>
			</div>
			<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
				<i class="fa fa-users" aria-hidden="true" style="color: #6a737d;"></i>
				<b>1</b> contributor
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div style="margin-bottom: 10px; height: 40px">
			<div class="pull-left">
				<div ng-if="shCurrentFolder != null" class="btn-group">
					<a
						ui-sref="content.post-type-item.post-item-new({folderId: shCurrentFolder.id, postTypeId: shUser.lastPostType})"
						class="btn btn-default">New {{shLastPostType.title}}</a> <a
						class="btn btn-default"
						ui-sref="content.folder.post-type-select({folderId: shCurrentFolder.id})"><span
						class="glyphicon glyphicon-th"></span></a>
				</div>
				<a ui-sref="content.object.folder-new({objectId: objectId})"
					class="btn btn-default">New Folder</a>

			</div>
			<div class="pull-right hidden-xs">
				<div class="btn-group" uib-dropdown>
					<button id="select-button" type="button" class="btn btn-default"
						uib-dropdown-toggle ng-disabled="disabled">
						Select <span class="caret"></span>
					</button>
					<ul class="dropdown-menu" uib-dropdown-menu role="menu"
						aria-labelledby="select-button">
						<li role="menuitem"><a ng-click="selectContents()" href><i
								class="fa fa-files-o" aria-hidden="true"></i> Content</a></li>
						<li role="menuitem"><a ng-click="selectFolders()" href><i
								class="fa fa-folder-open" aria-hidden="true"></i> Folder</a></li>
						<li role="menuitem"><a ng-click="selectEverything()" href><i
								class="fa fa-check-square" aria-hidden="true"></i> Everything</a></li>
						<li role="menuitem"><a ng-click="selectInverted()" href><i
								class="fa fa-undo" aria-hidden="true"></i> Invert Selection</a></li>
						<li role="menuitem"><a ng-click="selectNothing()" href><i
								class="fa fa-ban" aria-hidden="true"></i> Nothing</a></li>
					</ul>
				</div>

				<div class="btn-group" uib-dropdown>
					<button id="batch-button" type="button" class="btn btn-default"
						uib-dropdown-toggle ng-disabled="disabled">
						Action in Batch <span class="caret"></span>
					</button>
					<ul class="dropdown-menu" uib-dropdown-menu role="menu"
						aria-labelledby="batch-button">
						<li role="menuitem"><a ng-click="objectsCopy()" href><i
								class="fa fa-files-o" aria-hidden="true"></i> Copy</a></li>
						<li role="menuitem"><a ng-click="objectsMove()" href><i
								class="fa fa-share" aria-hidden="true"></i> Move</a></li>
						<li role="menuitem"><a ng-click="objectsDelete()" href><i
								class="fa fa-trash-o" aria-hidden="true"></i> Delete</a></li>
					</ul>
				</div>
			</div>

		</div>
		<div>
			<ul class="breadcrumb" style="margin-top: 0px; margin-bottom: 5px;">
				<li><a ng-if="breadcrumb != null"
					ui-sref="content.children({objectId: shSite.id})"
					ui-sref-opts="{reload:true}"><i class="fa fa-sitemap"
						aria-hidden="true"></i></a><span ng-if="breadcrumb == null"><i
						class="fa fa-sitemap" aria-hidden="true"></i></span></li>
				<li ng-repeat="breacrumbItem in breadcrumb"
					ng-class="{'active':$last}"><a ng-if="!$last"
					ui-sref="content.children({objectId: breacrumbItem.id})"
					ui-sref-opts="{reload:true}">{{breacrumbItem.name}}</a> <span
					ng-if="$last">{{breacrumbItem.name}}</span></li>
			</ul>
		</div>
		<div class="list-group">
			<div ng-if="shFolders.length == 0 && shPosts.length == 0"
				style="padding: 20px; border-style: dashed; border-color: gray;">
				<div style="padding-top: 20px">
					<h3>Drag and drop to upload files!</h3>
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
							<img src="/img/help-drop-list-target-96.png"
								style="float: left; margin: 10px">Drag the files from your
							desktop and drop them here to load.
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
							<img src="/img/help-drop-folder-target-96.png"
								style="float: left; margin: 10px"> You can drop files into
							folders.
						</div>
					</div>
				</div>
				<div style="padding-top: 20px">
					<h3>It is also possible ...</h3>

					<div style="display: table;">
						<i class="fa fa-file-o fa-4x" aria-hidden="true"
							style="float: left; margin: 10px"></i><span
							style="display: inline-block; margin-top: 20px"><a
							ui-sref="content.post-type-item-by-name.post-item-new({folderId: shCurrentFolder.id, postTypeName: 'PT-FILE'})">Upload
								file</a></span>
					</div>
					<div style="display: table;">
						<i class="fa fa-folder-o fa-4x" aria-hidden="true"
							style="float: left; margin: 10px"></i> <span
							style="display: inline-block; margin-top: 20px"> <a
							ui-sref="content.object.folder-new({objectId: objectId})">Create
								a folder</a></span>
					</div>
				</div>
			</div>
			<!--  Folders  -->
			<div ng-repeat="shFolder in shFolders | orderBy: '-date'"
				ng-mouseenter="updateAction(shFolder.id,true)"
				ng-mouseleave="updateAction(shFolder.id,false)" class="list-group-item">
				<div class="row">
					<div class="col-lg-10 col-md-9 col-sm-8 col-xs-6">
						<div style="display: inline">
							<input type="checkbox" ng-model="shStateObjects[shFolder.id]">
						</div>
						<div style="display: inline">
							<a type="button" class="btn btn-link"
								ui-sref="content.children({objectId: shFolder.id})"><i
								class="fa fa-folder-open" aria-hidden="true"
								style="margin-right: 5px"></i> {{shFolder.name}}</a> <span
								ng-if="isRecent(shFolder.date)" class="label label-default"
								style="display: inline-block; margin-top: 12px">Recent</span>

							<div style="font-size: 12px; margin-left: 28px">
								<div style="display: table-row">
									<div>
										<span am-time-ago="shFolder.date" style="color: gray"></span><span
											ng-if="shFolder.summary != null"> - </span>
										{{shFolder.summary}}
									</div>
								</div>
								<div>
									<div style="display: inline;">
										<span class="label label-warning">Folder</span> <span
											class="label label-warning">{{shSite.name}} Site</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-2 col-md-3 col-sm-4 col-xs-6"
						ng-show="actions[shFolder.id]">
						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
								<a type="button" class="btn btn-link btn-xs"
									ui-sref="content.folder.edit({folderId: shFolder.id})"> <i
									class="fa fa-pencil-square-o" aria-hidden="true"> </i> Edit
								</a>
								<button type="button" class="btn btn-link btn-xs"
									style="display: block;" ng-click="objectCopy(shFolder)">
									<i class="fa fa-files-o" aria-hidden="true"></i> Copy
								</button>
								<button type="button" class="btn btn-link btn-xs"
									style="display: block;" ng-click="objectMove(shFolder)">
									<i class="fa fa-share" aria-hidden="true"></i> Move
								</button>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
								<button type="button" class="btn btn-link btn-xs"
									style="display: block;" ng-click="objectClone(shFolder)">
									<i class="fa fa-clone" aria-hidden="true"></i> Clone
								</button>
								<button type="button" class="btn btn-link btn-xs"
									style="display: block;" ng-click="folderDelete(shFolder)">
									<i class="fa fa-trash-o" aria-hidden="true"></i> Delete
								</button>
								<button type="button" class="btn btn-link btn-xs"
									style="display: block;" ng-click="objectPreview(shFolder)">
									<i class="fa fa-eye" aria-hidden="true"></i> View Page
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--  Posts  -->
			<div ng-repeat="shPost in shPosts | orderBy: '-date'"
				ng-mouseenter="updateAction(shPost.id,true)"
				ng-mouseleave="updateAction(shPost.id,false)" class="list-group-item">
				<div class="row">
					<div class="col-lg-10 col-md-9 col-sm-8 col-xs-6">
						<div style="display: inline">
							<input type="checkbox" ng-model="shStateObjects[shPost.id]">
						</div>
						<div style="display: inline">
							<!-- NON ALIAS -->
							<a ng-if="shPost.shPostType.name !== 'PT-ALIAS'" type="button"
								class="btn btn-link"
								ui-sref="content.post-type-item.post-item({postTypeId: shPost.shPostType.id, postId: shPost.id})"><i
								class="fa fa-newspaper-o" aria-hidden="true"
								style="margin-right: 5px"></i> {{shPost.title}}</a>
							<!-- ALIAS -->
							<a ng-if="shPost.shPostType.name === 'PT-ALIAS'" type="button"
								class="btn btn-link"
								ui-sref="content.post-type-item.post-item({postTypeId: shPost.shPostType.id, postId: shPost.id})"><i
								class="fa fa-share-square-o" aria-hidden="true"
								style="margin-right: 5px"></i> {{shPost.title}}</a> <span
								ng-if="isRecent(shPost.date)" class="label label-default"
								style="display: inline-block; margin-top: 12px">Recent</span>
							<div style="font-size: 12px; margin-left: 28px">
								<div style="display: table-row">
									<div>
										<span am-time-ago="shPost.date" style="color: gray"></span><span
											ng-if="shPost.summary != null"> - </span> {{shPost.summary}}
									</div>
								</div>
								<div>
									<div style="display: inline;">
										<span class="label label-warning">Post</span> <span
											class="label label-warning">{{shSite.name}} Site</span> <span
											class="label label-warning">
											{{shPost.shPostType.title}}</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-2 col-md-3 col-sm-4 col-xs-6"
						ng-show="actions[shPost.id]">
						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
								<button type="button" class="btn btn-link btn-xs "
									ng-click="objectCopy(shPost)">
									<i class="fa fa-files-o" aria-hidden="true"></i> Copy
								</button>
								<button type="button" class="btn btn-link btn-xs"
									ng-click="objectMove(shPost)">
									<i class="fa fa-share" aria-hidden="true"></i> Move
								</button>
								<button type="button" class="btn btn-link btn-xs"
									ng-click="objectClone(shPost)">
									<i class="fa fa-clone" aria-hidden="true"></i> Clone
								</button>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
								<button type="button" class="btn btn-link btn-xs"
									ng-click="postDelete(shPost)">
									<i class="fa fa-trash-o" aria-hidden="true"></i> Delete
								</button>
								<button type="button" class="btn btn-link btn-xs"
									ng-click="objectPreview(shPost)">
									<i class="fa fa-eye" aria-hidden="true"></i> View Page
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>