<div style="margin-bottom: 50px;">
	<ul class="breadcrumb" style="margin-top: 5px; margin-bottom: 5px;">
		<li><a ng-if="breadcrumb != null"
			ui-sref="content.children.site-children({siteId: shSite.id})"
			ui-sref-opts="{reload:true}">{{shSite.name}}</a><span
			ng-if="breadcrumb == null">{{shSite.name}}</span></li>
		<li ng-repeat="breacrumbItem in breadcrumb"
			ng-class="{'active':$last}"><a ng-if="!$last"
			ui-sref="content.children.channel-children({channelId: breacrumbItem.id})"
			ui-sref-opts="{reload:true}">{{breacrumbItem.name}}</a><span
			ng-if="$last">{{breacrumbItem.name}}</span></li>
	</ul>
</div>
<div class="settings">
	<section class="content no-padding">
		<fieldset class="user-details-top">
			<div class="pull-right" style="margin: -40px 0 0;">
				<div class="input-group">
					0-{{(shPosts|filter:query).length}} of
					{{(shPosts|filter:query).length}} posts&nbsp;&nbsp;
					<button type="button" class="btn btn-default">
						<i class="fa fa-viglet fa-angle-left"></i>
					</button>
					<button type="button" class="btn btn-default">
						<i class="fa fa-viglet fa-angle-right"></i>
					</button>
				</div>

			</div>
		</fieldset>
	</section>
</div>

<div>
	<div class="row">
		<div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
			<div ng-if="channelId > 0" class="btn-group">
				<a
					ui-sref="content.post-type-item.post-item-new({channelId: channelId, postTypeId: shUser.lastPostType})"
					class="btn btn-viglet">New {{shLastPostType.title}}</a>
					
					<a ng-if="channelId > 0"
					class="btn btn-viglet"
					ui-sref="content.channel.post-type-select({channelId: channelId})"><span
					class="glyphicon glyphicon-th"></span></a>					
			</div>
			<div ng-if="channelId <= 0" class="btn-group">
				<a
					ui-sref="content.site.channel-new({siteId: siteId})"
					class="btn btn-viglet">New Channel</a>
			</div>
			<ul class="nav nav-pills nav-stacked">
				<li><a href="#">Home</a></li>
				<li><a href="#">Starred <i class="glyphicon glyphicon-star"></i></a></li>
				<li><a href="#">All Posts</a></li>
				<li><a href="#">Trash <i class="glyphicon glyphicon-trash"></i></a></li>
			</ul>
			<ul class="nav nav-pills nav-stacked">
				<li class="nav-header">Tag</li>
				<li ng-repeat="label in labels | filter:query | orderBy:orderProp">
					<a href="#"> {{label.title}} </a>
				</li>
			</ul>
		</div>
		<div class="col-lg-10 col-md-9 col-sm-9 col-xs-12">
			<div ui-view>
				<ul class="nav nav-tabs" ng-controller="ShSiteListCtrl">
					<li ng-class="{active: siteId == shSite.id}"
						ng-repeat="shSite in shSites | filter:query | orderBy:orderProp">
						<a ui-sref="content.children.site-children({siteId: shSite.id})"
						ui-sref-opts="{reload:true}" style="color: black"><i
							class="fa fa-viglet fa-tags fa-lg"></i> {{shSite.name}} </a>
					</li>
					<li><a href="/site/editor/"><i
							class="fa fa-viglet fa-plus fa-lg"></i></a></li>
				</ul>
				<table class="table table-hover">
					<!--  Channels  -->
					<tr ng-repeat="shChannel in shChannels">
						<td style="width: 90px;"><input type="checkbox" />
							<div ng-click="channelDelete(shChannel.id)"
								class="glyphicon glyphicon-trash close"
								style="font-size: 14px; margin: 5px"></div>
							<div class="glyphicon glyphicon-star-empty close"
								style="font-size: 14px; margin: 5px"></div></td>
						<td><a href="#"><span
								class="glyphicon glyphicon-folder-open close"></span></a></td>
						<td><a
							ui-sref="content.list.channel-list({channelId: shChannel.id})">
								{{shChannel.name}}</a></td>
						<td><span class="label label-primary">Channel</span></td>
						<td>{{shChannel.summary}}</td>
						<td><span am-time-ago="shChannel.date"></span></td>
					</tr>
					<!--  Posts  -->
					<tr ng-repeat="shPost in shPosts">
						<td style="width: 90px;"><input type="checkbox" />
							<div ng-click="postDelete(shPost.id)"
								class="glyphicon glyphicon-trash close"
								style="font-size: 14px; margin: 5px"></div>
							<div class="glyphicon glyphicon-star-empty close"
								style="font-size: 14px; margin: 5px"></div></td>
						<td><a href="#"><span
								class="glyphicon glyphicon-edit close"></span></a></td>
						<td><a
							ui-sref="content.post-type-item.post-item({postTypeId: shPost.shPostType.id, postId: shPost.id})">
								{{shPost.title}}</a></td>
						<td><span class="label label-warning">
								{{shPost.shPostType.title}}</span></td>
						<td>{{shPost.summary}}</td>
						<td><span am-time-ago="shPost.date"></span></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>