<div style="margin-bottom: 50px;">
	<ul class="breadcrumb" style="margin-top: 5px; margin-bottom: 5px;">
		<li><a
		ui-sref="content"
		ui-sref-opts="{reload:true}">Content</a></li>
		<li><a ng-if="breadcrumb != null"
			ui-sref="content.children.site-children({siteId: shSite.id})"
			ui-sref-opts="{reload:true}">{{shSite.name}} (Site)</a><span
			ng-if="breadcrumb == null">{{shSite.name}} (Site)</span></li>
	</ul>
</div>
<div class="settings">
	<section class="content no-padding">
		<fieldset class="user-details-top">
			<div class="pull-right" style="margin: -40px 0 0;">
				<div class="input-group">
					0-{{(shPosts|filter:query).length}} of
					{{(shPosts|filter:query).length}} posts&nbsp;&nbsp;
					<button type="button" class="btn btn-default">
						<i class="fa fa-viglet fa-angle-left"></i>
					</button>
					<button type="button" class="btn btn-default">
						<i class="fa fa-viglet fa-angle-right"></i>
					</button>
				</div>

			</div>
		</fieldset>
	</section>
</div>

<div>
	<div class="row">
		<div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
			<div ng-if="channelId.length != null" class="btn-group">
				<a
					ui-sref="content.post-type-item.post-item-new({channelId: channelId, postTypeId: shUser.lastPostType})"
					class="btn btn-viglet">New {{shLastPostType.title}}</a> <a
					class="btn btn-viglet"
					ui-sref="content.channel.post-type-select({channelId: channelId})"><span
					class="glyphicon glyphicon-th"></span></a>
			</div>
			<div ng-if="channelId.length == null" class="btn-group">
				<a ui-sref="content.site.channel-new({siteId: siteId})"
					class="btn btn-viglet">New Channel</a>
			</div>
			<ul class="nav nav-pills nav-stacked">
				<li><a ui-sref="content.site.edit({siteId: shSite.id})">Site Properties</a></li>
				<li><a href="#">Starred <i class="glyphicon glyphicon-star"></i></a></li>
				<li><a href="#">All Posts</a></li>
				<li><a href="#">Trash <i class="glyphicon glyphicon-trash"></i></a></li>
			</ul>
			<ul class="nav nav-pills nav-stacked">
				<li class="nav-header">Tag</li>
				<li ng-repeat="label in labels | filter:query | orderBy:orderProp">
					<a href="#"> {{label.title}} </a>
				</li>
			</ul>
		</div>
		<div class="col-lg-10 col-md-9 col-sm-9 col-xs-12">
			<div ui-view>
			</div>
		</div>
	</div>
</div>