{% extends "login.twig" %}
{% block baseContent %}
<form class="form-signin" action="{{ path('newPasswordProcess') }}" method="post">
    <h2 class="form-signin-heading">Reset Your Password</h2>
    <p>You've followed a link sent to the email address of '{{username}}'. You can reset your password.</p>
    <div class="form-group">
        <input name='guid' id='guid' type='hidden' value='{{guid}}'>
        <input name="password" id="password" type="password" class="input-block-level form-control" placeholder="Create a New Password">
    </div>
    <button class="btn btn-lg btn-primary" type="submit">Recover Account</button>
</form>
{% endblock %}