{% extends "login.twig" %}
{% block baseContent %}
<form class="form-signin">
    <h2 class="form-signin-heading">Reset Your Password</h2>
    <p>If {{ email }} is registered with an account on the system, we've sent it an email with instructions for continuing the process.</p>
</form>
{% endblock %}