<table class="table" style="margin: 0px;border-color: #ddd; border-style: solid; border-width: 1px;">
    <caption style="display:none">OTDS</caption>
    <tr>
        <th scope="row" style="background: #F9F9F9; width: 30%;">
            <p>
                <strong>Host</strong>
            </p>
        </th>
        <td><input type="text" class="form-control" ng-model="authProvider.properties.HOST"
                autocomplete="new-password" /></td>
    </tr>
    <tr>
        <th scope="row" style="background: #F9F9F9; width: 30%;">
            <p>
                <strong>Port</strong>
            </p>
        </th>
        <td><input type="text" class="form-control" ng-model="authProvider.properties.PORT"
                autocomplete="new-password" /></td>
    </tr>
    <tr>
        <th scope="row" style="background: #F9F9F9; width: 30%;">
            <p>
                <strong>Resource ID</strong>
            </p>
        </th>
        <td><input type="text" class="form-control" ng-model="authProvider.properties.RESOURCE_ID"
                autocomplete="new-password" /></td>
    </tr>
    <tr>
        <th scope="row" style="background: #F9F9F9; width: 30%;">
            <p>
                <strong>Secret Key</strong>
            </p>
        </th>
        <td><input type="text" class="form-control" ng-model="authProvider.properties.SECRET_KEY"
                autocomplete="new-password" /></td>
    </tr>
    <tr>
        <th scope="row" style="background: #F9F9F9; width: 30%;">
            <p>
                <strong>Partition</strong>
            </p>
        </th>
        <td><input type="text" class="form-control" ng-model="authProvider.properties.PARTITION"
                autocomplete="new-password" /></td>
    </tr>
    <tr>
        <th scope="row" style="background: #F9F9F9; width: 30%;">
            <p>
                <strong>Domain</strong>
            </p>
        </th>
        <td><input type="text" class="form-control" ng-model="authProvider.properties.DOMAIN"
                autocomplete="new-password" /></td>
    </tr>
    <tr>
        <th scope="row" style="background: #F9F9F9; width: 30%;">
            <p>
                <strong>Membership Filter Attribute</strong>
            </p>
        </th>
        <td><input type="text" class="form-control" ng-model="authProvider.properties.MEMBERSHIP_FILTER"
                autocomplete="new-password" /></td>
    </tr>
    <tr>
        <th scope="row" style="background: #F9F9F9; width: 30%;">
            <p>
                <strong>User</strong>
            </p>
        </th>
        <td>
            <table class="table" style="margin: 0px;border-color: #ddd; border-style: solid; border-width: 1px;">
                <caption style="display:none">User</caption>
                <tr>
                    <th scope="row" style="background: #F9F9F9; width: 20%;">
                        <p>
                            <strongb>Filter</strong>
                        </p>
                    </th>
                    <td><input type="text" class="form-control" ng-model="authProvider.properties.USER_FILTER"
                            autocomplete="new-password" /></td>
                </tr>
                <tr>
                    <th scope="row" style="background: #F9F9F9; width: 20%;">
                        <p>
                            <strong>Scope</strong>
                        </p>
                    </th>
                    <td><input type="text" class="form-control" ng-model="authProvider.properties.USER_SCOPE"
                            autocomplete="new-password" /></td>
                </tr>
                <tr>
                    <th scope="row" style="background: #F9F9F9; width: 20%;">
                        <p>
                            <strong>DN</strong>
                        </p>
                    </th>
                    <td><input type="text" class="form-control" ng-model="authProvider.properties.USER_DN"
                            autocomplete="new-password" /></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <th scope="row" style="background: #F9F9F9; width: 30%;">
            <p>
                <strong>Group</strong>
            </p>
        </th>
        <td>
            <table class="table" style="margin: 0px;border-color: #ddd; border-style: solid; border-width: 1px;">
                <caption style="display:none">Group</caption>
                <tr>
                    <th scope="row" style="background: #F9F9F9; width: 20%;">
                        <p>
                            <strong>Filter</strong>
                        </p>
                    </th>
                    <td><input type="text" class="form-control" ng-model="authProvider.properties.GROUP_FILTER"
                            autocomplete="new-password" /></td>
                </tr>
                <tr>
                    <th scope="row" style="background: #F9F9F9; width: 20%;">
                        <p>
                            <strong>Scope</strong>
                        </p>
                    </th>
                    <td><input type="text" class="form-control" ng-model="authProvider.properties.GROUP_SCOPE"
                            autocomplete="new-password" /></td>
                </tr>
                <tr>
                    <th scope="row" style="background: #F9F9F9; width: 20%;">
                        <p>
                            <strong>DN</strong>
                        </p>
                    </th>
                    <td><input type="text" class="form-control" ng-model="authProvider.properties.GROUP_DN"
                            autocomplete="new-password" /></td>
                </tr>
            </table>
        </td>
    </tr>
</table>