<table class="table" style="margin: 0px;border-color: #ddd; border-style: solid; border-width: 1px;">
    <tr>
        <td style="background: #F9F9F9; width: 30%;">
            <p>
                <b>Host</b>
            </p>
        </td>
        <td><input type="text" class="form-control" ng-model="authProvider.properties.HOST"
                autocomplete="new-password" /></td>
    </tr>
    <tr>
        <td style="background: #F9F9F9; width: 30%;">
            <p>
                <b>Port</b>
            </p>
        </td>
        <td><input type="text" class="form-control" ng-model="authProvider.properties.PORT"
                autocomplete="new-password" /></td>
    </tr>
    <tr>
        <td style="background: #F9F9F9; width: 30%;">
            <p>
                <b>Resource ID</b>
            </p>
        </td>
        <td><input type="text" class="form-control" ng-model="authProvider.properties.RESOURCE_ID"
                autocomplete="new-password" /></td>
    </tr>
    <tr>
        <td style="background: #F9F9F9; width: 30%;">
            <p>
                <b>Secret Key</b>
            </p>
        </td>
        <td><input type="text" class="form-control" ng-model="authProvider.properties.SECRET_KEY"
                autocomplete="new-password" /></td>
    </tr>
    <tr>
        <td style="background: #F9F9F9; width: 30%;">
            <p>
                <b>Partition</b>
            </p>
        </td>
        <td><input type="text" class="form-control" ng-model="authProvider.properties.PARTITION"
                autocomplete="new-password" /></td>
    </tr>
    <tr>
        <td style="background: #F9F9F9; width: 30%;">
            <p>
                <b>Domain</b>
            </p>
        </td>
        <td><input type="text" class="form-control" ng-model="authProvider.properties.DOMAIN"
                autocomplete="new-password" /></td>
    </tr>
    <tr>
        <td style="background: #F9F9F9; width: 30%;">
            <p>
                <b>Membership Filter Attribute</b>
            </p>
        </td>
        <td><input type="text" class="form-control" ng-model="authProvider.properties.MEMBERSHIP_FILTER"
                autocomplete="new-password" /></td>
    </tr>
    <tr>
        <td style="background: #F9F9F9; width: 30%;">
            <p>
                <b>User</b>
            </p>
        </td>
        <td>
            <table class="table" style="margin: 0px;border-color: #ddd; border-style: solid; border-width: 1px;">
                <tr>
                    <td style="background: #F9F9F9; width: 20%;">
                        <p>
                            <b>Filter</b>
                        </p>
                    </td>
                    <td><input type="text" class="form-control" ng-model="authProvider.properties.USER_FILTER"
                            autocomplete="new-password" /></td>
                </tr>
                <tr>
                    <td style="background: #F9F9F9; width: 20%;">
                        <p>
                            <b>Scope</b>
                        </p>
                    </td>
                    <td><input type="text" class="form-control" ng-model="authProvider.properties.USER_SCOPE"
                            autocomplete="new-password" /></td>
                </tr>
                <tr>
                    <td style="background: #F9F9F9; width: 20%;">
                        <p>
                            <b>DN</b>
                        </p>
                    </td>
                    <td><input type="text" class="form-control" ng-model="authProvider.properties.USER_DN"
                            autocomplete="new-password" /></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="background: #F9F9F9; width: 30%;">
            <p>
                <b>Group</b>
            </p>
        </td>
        <td>
            <table class="table" style="margin: 0px;border-color: #ddd; border-style: solid; border-width: 1px;">
                <tr>
                    <td style="background: #F9F9F9; width: 20%;">
                        <p>
                            <b>Filter</b>
                        </p>
                    </td>
                    <td><input type="text" class="form-control" ng-model="authProvider.properties.GROUP_FILTER"
                            autocomplete="new-password" /></td>
                </tr>
                <tr>
                    <td style="background: #F9F9F9; width: 20%;">
                        <p>
                            <b>Scope</b>
                        </p>
                    </td>
                    <td><input type="text" class="form-control" ng-model="authProvider.properties.GROUP_SCOPE"
                            autocomplete="new-password" /></td>
                </tr>
                <tr>
                    <td style="background: #F9F9F9; width: 20%;">
                        <p>
                            <b>DN</b>
                        </p>
                    </td>
                    <td><input type="text" class="form-control" ng-model="authProvider.properties.GROUP_DN"
                            autocomplete="new-password" /></td>
                </tr>
            </table>
        </td>
    </tr>
</table>