<style>
	html {
		margin-top: 0 !important;
	}
</style>
<main class="main bg-dark"> <iframe class="iframe-preview" ng-class="{'iframe-preview--mobile': isMobile }"
		ng-src="{{previewURL}}" id="myiframe" refreshable="refreshIframe"></iframe> </main>

<nav class="navbar navbar-preview fixed-top">
	<div class="container-fluid d-flex justify-content-between align-items-center w-100">
		<a class="my-lg-0 text-gray-soft" href ng-click="returnLink()"><i class="bootstrap-themes-icon-left-open-1"></i>
			Viglet Shiohara
			Console</a>
		<ul class="nav nav-preview d-none d-md-flex" role="tablist">
			<li class="nav-item"><a ng-click="isMobile = false" class="nav-link btn-iframe-to-desktop-trigger active"
					data-toggle="tab" href=role="tab"><i
						class="bootstrap-themes-icon-desktop nav-preview__icon"></i></a></li>
			<li class="nav-item"><a ng-click="isMobile = true;"
					class="nav-link nav-link--small btn-iframe-to-mobile-trigger" data-toggle="tab" href=role="tab"><i
						class="bootstrap-themes-icon-iphone nav-preview__icon nav-preview__icon--sm"></i></a></li>
		</ul>
		<div class="form-inline">
			<div class="alert alert-success" role="alert" ng-show="alert" style="margin-right: 10px;">
				{{message}}
			</div>
			<div class="btn-group">
				<button type="button" ng-click="actionLink()" class="btn btn-brand ">{{captionButton}}</button>
				<button type="button" class="btn btn-brand dropdown-toggle dropdown-toggle-split" style="padding-right: 0px;
				padding-left: 15px;" data-toggle="dropdown"
					aria-haspopup="true" aria-expanded="false">
					<span class="sr-only">Dropdown</span>
				</button>
				<div class="dropdown-menu">
					<a class="dropdown-item" href ng-click="objectClearCache()">Clear Cache</a>
					<a class="dropdown-item" href ng-click="openNewWindow()">Open New Window</a>
				</div>
			</div>
		</div>
	</div>
</nav>