<div class="clearfix">
    <div *ngIf="(getShPostType() | async) as postType; else loading">
        <div class="d-flex flex-items-center overflow-hidden px-3 px-md-4 px-lg-5 bg-gray-light pt-3 pb-3">
            <div style="background-color: whitesmoke;width: 32px;height: 32px;border-radius: 50%;" class="float-left">
                <svg width="32" height="32" style="border-radius: 50%;" [identiconHash]="postType.title | lowercase">
                    Avatar
                </svg>
            </div>
            <div class=" overflow-hidden flex-auto" style="font-size: larger;font-weight: 500;">

                <nav aria-label="Breadcrumb">
                    <ol class="ml-2">
                        <li class="breadcrumb-item">
                            <a [routerLink]="['/content/dashboard/modeling']">Modeling</a>
                        </li>
                        <li class="breadcrumb-item" aria-current>
                            <span>{{postType.title}}</span>
                        </li>
                    </ol>
                </nav>

            </div>
            <button class="btn btn-sm btn-primary" type="button">Save Changes</button>
        </div>
        <nav class="UnderlineNav overflow-hidden px-3 px-md-4 px-lg-5 bg-gray-light" aria-label="Pos Tabs">
            <div class="UnderlineNav-body">
                <div href="#" class="UnderlineNav-item d-flex flex-items-center selected">
                    <span octicon="package" size="16" class="mr-1"></span> Details
                </div>
                <div href="#" class="UnderlineNav-item d-flex flex-items-center">
                    <span octicon="quote" size="16" class="mr-1"></span> Fields
                </div>
                <div href="#" class="UnderlineNav-item d-flex flex-items-center">
                    <span octicon="workflow" size="16" class="mr-1"></span> Workflow
                </div>
            </div>
        </nav>
        <div class="overflow-hidden px-3 px-md-4 px-lg-5 mt-2">
            <div class="form-group">
                <div class="form-group-header">
                    <label for="repo-name">Name</label>
                </div>
                <div class="form-group-body">
                    <input class="form-control" type="text" id="post-type-name" [(ngModel)]="postType.title"
                        style="width: 100%;" />
                    <p class="note">
                        Name of Post Type
                    </p>
                </div>
            </div>
            <div class="form-group">
                <div class="form-group-header">
                    <label for="repo-name">Description</label>
                </div>
                <div class="form-group-body">
                    <input class="form-control" type="text" id="post-type-description"
                        [(ngModel)]="postType.description" style="width: 100%;" />
                    <p class="note">
                        Description of Post Type
                    </p>
                </div>
            </div>
            <div class="form-group">
                <div class="form-group-header">
                    <label for="repo-name">API Name</label>
                </div>
                <div class="form-group-body">
                    <input class="form-control" type="text" id="post-type-api-name" [(ngModel)]="postType.name"
                        style="width: 100%;" />
                    <p class="note">
                        API Name of Post Type
                    </p>
                </div>
            </div>
            <div class="form-group">
                <div class="form-group-header">
                    <label for="repo-name">API Plural Name</label>
                </div>
                <div class="form-group-body">
                    <input class="form-control" type="text" id="post-type-api-plural-name"
                        [(ngModel)]="postType.namePlural" style="width: 100%;" />
                    <p class="note">
                        API Plural Name of Post Type
                    </p>
                </div>
            </div>

            <div>
                <div class="Box mb-1">
                    <div class="Box-row d-flex flex-items-center" style="background-color: #f1f8ff;">
                        <div style="display: table;width: 100%;table-layout: fixed;">
                            <div style="display: table-row;">
                                <div style="display: table-cell;vertical-align: middle;">
                                    <label class="d-flex flex-items-center">
                                        <span octicon="filter" size="16" class="mr-2"></span></label></div>
                                <div style="display: table-cell;vertical-align: middle;">
                                    <label class="d-flex flex-items-center">
                                        <span octicon="typography" size="16" class="mr-2"></span> Label</label></div>
                                <div style="display: table-cell;vertical-align: middle;">
                                    <label class="d-flex flex-items-center">
                                        <span octicon="key" size="16" class="mr-2"></span> Identifier</label></div>
                                <div style="display: table-cell;vertical-align: middle;">
                                    <label class="d-flex flex-items-center">
                                        <span octicon="server" size="16" class="mr-2"></span> Type</label></div>
                                <div style="display: table-cell;text-align: right;vertical-align: middle;"><button
                                        type="button" class="btn btn-primary" name="button">
                                        <span octicon="plus-circle" size="16" class="mr-1"></span> Text Field</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <details *ngFor="let postTypeAttr of postType.shPostTypeAttrs; let i = index "
                    class="details-reset Box Box--blue mb-1 hover-grow">
                    <summary class="Box-row d-flex flex-items-center bg-gray-light">
                        <div class="flex-auto">
                            <div style="display: table;width: 100%;table-layout: fixed;">
                                <div style="display: table-row;">
                                    <div style="display: table-cell;vertical-align: middle;">
                                        <div class="d-flex flex-items-center">
                                            <span octicon="grabber" size="16" class="mr-1"></span>{{i + 1}}
                                        </div>
                                    </div>
                                    <div style="display: table-cell;vertical-align: middle;">
                                        <span octicon="typography" size="16" class="mr-2"></span>
                                        {{postTypeAttr.label}}</div>
                                    <div style="display: table-cell;vertical-align: middle;">
                                        <span octicon="key" size="16" class="mr-2"></span>
                                        {{postTypeAttr.name}}</div>
                                    <div style="display: table-cell;vertical-align: middle;">
                                        <div class="d-flex flex-items-center">

                                            <svg width="20" height="20" class="mr-2"
                                                [identiconHash]="postTypeAttr.shWidget.name | lowercase">
                                            </svg>

                                            {{postTypeAttr.shWidget.name}}
                                        </div>
                                    </div>
                                    <div style="display: table-cell;text-align: right;vertical-align: middle;"><button
                                            type="button" class="btn-link" name="button">
                                            <span octicon="trash" size="16" class="mr-1"></span> Delete</button></div>
                                </div>
                            </div>
                        </div>

                    </summary>
                    <div class="Box-body" style="padding: 0px;">

                        <nav class="UnderlineNav overflow-hidden px-3 px-md-4 px-lg-5 bg-gray-light"
                            aria-label="Pos Tabs">
                            <div class="UnderlineNav-body">
                                <div href="#" class="UnderlineNav-item selected">
                                    Details
                                </div>
                                <div href="#" class="UnderlineNav-item">
                                    Semantic Navigation
                                </div>
                            </div>
                        </nav>
                        <div class="overflow-hidden px-3 px-md-4 px-lg-5 mb-3">
                            <div class="form-group">
                                <div class="form-group-header">
                                    <label for="repo-name">Field Label</label>
                                </div>
                                <div class="form-group-body">
                                    <input class="form-control" type="text" id="post-type-attr-name"
                                        [(ngModel)]="postTypeAttr.label" style="width: 100%;" />
                                    <p class="note">
                                        This is the name that will appear on the Edit page
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-group-header">
                                    <label for="repo-name">Field Identifier</label>
                                </div>
                                <div class="form-group-body">
                                    <input class="form-control" type="text" id="post-type-attr-id"
                                        [(ngModel)]="postTypeAttr.name" style="width: 100%;" />
                                    <p class="note">
                                        One word, no spaces. Bottom dash (_) and dashes (-) are allowed
                                    </p>
                                </div>
                            </div>
                            <div class="form-checkbox">
                                <label for="repo-name"> <input type="checkBox" id="post-type-attr-id"
                                        [(ngModel)]="postTypeAttr.isTitle" /> Title?</label>
                            </div>
                            <div class="form-checkbox">
                                <label for="repo-name"> <input type="checkBox" id="post-type-attr-id"
                                        [(ngModel)]="postTypeAttr.isSummary" /> Description?</label>
                            </div>
                            <div class="form-checkbox">
                                <label for="repo-name"> <input type="checkBox" id="post-type-attr-id"
                                        [(ngModel)]="postTypeAttr.required" /> Required?</label>
                            </div>
                            <div class="form-group">
                                <div class="form-group-header">
                                    <label for="repo-name">Field Type</label>
                                </div>
                                <div class="form-group-body">
                                    <select class="form-select" aria-label="Type" style="width:100%">
                                        <option>Choose an option</option>
                                        <option>Git</option>
                                        <option>Subversion</option>
                                        <option>Social Coding</option>
                                        <option>Beets</option>
                                        <option>Bears</option>
                                        <option>Battlestar Galactica</option>
                                    </select>
                                </div>
                            </div>

                        </div>
                    </div>
                </details>
            </div>
        </div>
    </div>
</div>
<ng-template #loading>
    Loading...
</ng-template>