<div class="row list-group" style="overflow-x: hidden;overflow-y: scroll;max-height: 400px;padding: 15px;">

	<!--  Sites  -->
	<div ng-if="$ctrl.folderDoubleClick" class="col-lg-3 col-md-3 col-sm-4 col-xs-4" style="padding: 5px;"
		ng-repeat="provider in $ctrl.providerItem.providers | filter:$ctrl.shSearchFilter | orderBy:$ctrl.orderByFolderSelected">
		<a href ng-dblclick="objectList(provider.id)" ng-click="selectedObject(provider)" class="list-group-item"
			style="padding: 5px;">
			<div style="margin-bottom: 10px;">
				<div style="width: 100%;padding-top: 50%;position: relative;">
					<div style="background-image: url('/img/folder.jpg');background-position: center;background-repeat: no-repeat;background-size: contain;-webkit-background-size: contain;-moz-background-size: contain;-o-background-size: contain;margin: 0px !important;
							width: 100% !important;
							position: absolute !important;
							top: 0;
							left: 0;
							bottom: 0;
							right: 0;
							height: 100% !important;">
					</div>
				</div>
				<div style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;text-align: center;">
					{{provider.name}}
				</div>
			</div>
		</a>
	</div>

	<div ng-if="$ctrl.folderDoubleClick == false" class="col-lg-3 col-md-3 col-sm-4 col-xs-4" style="padding: 5px;"
		ng-repeat="provider in $ctrl.providerItem.providers | filter:$ctrl.shSearchFilter | orderBy:$ctrl.orderByFolderSelected">
		<a href ng-click="objectList(provider.id)" class="list-group-item" style="padding: 5px;">
			<div style="margin-bottom: 10px;">
				<div style="width: 100%;padding-top: 50%;position: relative;">
					<div style="background-image: url('/img/folder.jpg');background-position: center;background-repeat: no-repeat;background-size: contain;-webkit-background-size: contain;-moz-background-size: contain;-o-background-size: contain;margin: 0px !important;
							width: 100% !important;
							position: absolute !important;
							top: 0;
							left: 0;
							bottom: 0;
							right: 0;
							height: 100% !important;">
					</div>
				</div>
				<div style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;text-align: center;">
					{{provider.name}}
				</div>
			</div>
		</a>
	</div>

	<!--  Folders  -->
	<div ng-if="$ctrl.folderDoubleClick" class="col-lg-3 col-md-3 col-sm-4 col-xs-4" style="padding: 5px;"
		ng-repeat="folder in $ctrl.providerItem.folders | filter:$ctrl.shSearchFilter | orderBy:$ctrl.orderByFolderSelected">
		<a href ng-dblclick="objectList(folder.id)" ng-click="selectedObject(folder)" class="list-group-item"
			style="padding: 5px;">
			<div style="margin-bottom: 10px;">
				<div style="width: 100%;padding-top: 50%;position: relative;">
					<div style="background-image: url('/img/folder.jpg');background-position: center;background-repeat: no-repeat;background-size: contain;-webkit-background-size: contain;-moz-background-size: contain;-o-background-size: contain;margin: 0px !important;
							width: 100% !important;
							position: absolute !important;
							top: 0;
							left: 0;
							bottom: 0;
							right: 0;
							height: 100% !important;">
					</div>
				</div>
				<div style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;text-align: center;">
					{{folder.name}}
				</div>
			</div>
		</a>
	</div>

	<div ng-if="$ctrl.folderDoubleClick == false" class="col-lg-3 col-md-3 col-sm-4 col-xs-4" style="padding: 5px;"
		ng-repeat="folder in $ctrl.providerItem.folders | filter:$ctrl.shSearchFilter | orderBy:$ctrl.orderByFolderSelected">
		<a href ng-click="objectList(folder.id)" class="list-group-item" style="padding: 5px;">
			<div style="margin-bottom: 10px;">
				<div style="width: 100%;padding-top: 50%;position: relative;">
					<div style="background-image: url('/img/folder.jpg');background-position: center;background-repeat: no-repeat;background-size: contain;-webkit-background-size: contain;-moz-background-size: contain;-o-background-size: contain;margin: 0px !important;
							width: 100% !important;
							position: absolute !important;
							top: 0;
							left: 0;
							bottom: 0;
							right: 0;
							height: 100% !important;">
					</div>
				</div>
				<div style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;text-align: center;">
					{{folder.name}}
				</div>
			</div>
		</a>
	</div>

	<!--  Posts  -->
	<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4" style="padding: 5px;"
		ng-repeat="post in $ctrl.providerItem.posts | filter:$ctrl.shSearchFilter | orderBy:$ctrl.orderByPostSelected">
		<!-- NON ALIAS -->
		<a class="list-group-item"
			style="padding: 5px;" ng-click="selectedObject(post)">
			<div style="margin-bottom: 10px;">
				<div style="width: 100%;padding-top: 50%;position: relative;">
					<div style="background-image:  url('/img/news.svg');background-position: center;background-repeat: no-repeat;background-size: contain;-webkit-background-size: contain;-moz-background-size: contain;-o-background-size: contain;margin: 0px !important;
					width: 100% !important;
					position: absolute !important;
					top: 0;
					left: 0;
					bottom: 0;
					right: 0;
					height: 100% !important;">
					</div>
				</div>
				<div style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;text-align: center;">
					{{post.title}}
				</div>
			</div>
		</a>		
	</div>
</div>