<div class="clearfix" style="padding: 5px 0px;">
    <div class="float-left" style="flex: 1 1 auto;">
        <input class="form-control input-sm" style="min-width: 250px;" type="text"
            i18n-placeholder="@@FindObjectCurrentFolder" placeholder="Search this folder..."
            aria-label="Search this folder..." />
    </div>
    <div class="float-right" style="display: inline-flex;">
        <div>
            <details class="dropdown details-reset details-overlay d-inline-block mr-2">
                <summary class="btn btn-sm" aria-haspopup="true">
                    Select
                    <div class="dropdown-caret"></div>
                </summary>

                <ul class="dropdown-menu dropdown-menu-se">
                    <li><a class="dropdown-item" href="#url">
                        <span octicon="note" size="16" class="mr-1"></span>Content
                        </a></li>
                    <li><a class="dropdown-item" href="#url">
                        <span octicon="file-directory" size="16" class="mr-1"></span>Folder
                        </a></li>
                    <li><a class="dropdown-item" href="#url">Everything</a></li>
                    <li><a class="dropdown-item" href="#url">Invert Selection</a></li>
                    <li><a class="dropdown-item" href="#url">Nothing</a></li>
                </ul>
            </details>
        </div>
        <div>
            <details class="dropdown details-reset details-overlay d-inline-block mr-2">
                <summary class="btn btn-sm" aria-haspopup="true">
                    Action in Batch
                    <div class="dropdown-caret"></div>
                </summary>

                <ul class="dropdown-menu dropdown-menu-se">
                    <li><a class="dropdown-item" href="#url">
                        <span octicon="copy" size="16" class="mr-1"></span> Copy
                        </a></li>
                    <li><a class="dropdown-item" href="#url"> Move</a></li>
                    <li><a class="dropdown-item" href="#url">
                        <span octicon="trash" size="16" class="mr-1"></span> 
                        Delete</a></li>
                </ul>
            </details>
        </div>
        <div>
            <details class="dropdown details-reset details-overlay d-inline-block mr-2">
                <summary class="btn btn-sm" aria-haspopup="true">
                    <span octicon="download" size="16" class="mr-1"></span>Download
                    <div class="dropdown-caret"></div>
                </summary>

                <ul class="dropdown-menu dropdown-menu-se">
                    <li><a class="dropdown-item" href="#url">Download ZIP</a></li>
                    <li><a class="dropdown-item" href="#url">NodeJS Application</a></li>
                    <li><a class="dropdown-item" href="#url">Spreadsheet</a></li>
                </ul>
            </details>
        </div>
        <div class="d-flex flex-justify-end position-relative">
            <details class="details-reset details-overlay">
                <summary class="btn btn-primary btn-sm " aria-haspopup="true">
                    New
                    <div class="dropdown-caret"></div>
                </summary>
                <div class="SelectMenu SelectMenu--hasFilter right-0">
                    <div class="SelectMenu-modal">
                        <header class="SelectMenu-header" style="padding: 5px;">
                            <div class="SelectMenu-title">
                                <a href class="btn btn-block mb-1">
                                    <span octicon="note" size="16" class="mr-1"></span> New Article
                                </a>
                                <a href class="btn btn-block mb-1">
                                    
                                    <span octicon="file-directory" size="16" class="mr-1"></span> New
                                    Folder
                                </a>
                                <a href class="btn btn-block">
                                    <span octicon="upload" size="16" class="mr-1"></span> Upload File
                                </a>
                            </div>                           
                        </header>
                        <form [formGroup]="ptSelectForm" class="SelectMenu-filter">
                            <input class="SelectMenu-input form-control" formControlName="filter" type="text"
                                placeholder="Find a Post Type..." aria-label="Filter" />
                        </form>
                        <div class="SelectMenu-list">
                            <button class="SelectMenu-item" role="menuitem">
                                <span octicon="note" size="16" class="mr-1"></span> Text
                            </button>
                            <button class="SelectMenu-item" role="menuitem">
                                <span octicon="note" size="16" class="mr-1"></span> Article
                            </button>
                            <button class="SelectMenu-item" role="menuitem">
                                <span octicon="note" size="16" class="mr-1"></span> Folder Index
                            </button>
                        </div>
                    </div>
                </div>
            </details>
        </div>
    </div>
</div>
<div style="margin-top: 20px;">
    <div class="Box Box--blue">
        <div class="Box-header d-flex flex-items-center">
            <div style="background-color: whitesmoke;width: 24px;height: 24px;margin-right: 7px;border-radius: 50%;"
                class="float-left">
                <svg width="24" height="24" style="border-radius: 50%;"
                    [identiconHash]="objectList.shSite.name | lowercase">
                    Avatar
                </svg>
            </div>
            <div class="Box-title overflow-hidden flex-auto">

                <nav aria-label="Breadcrumb">
                    <ol>
                        <li class="breadcrumb-item" [attr.aria-current]="objectList.breadcrumb == null ? 'page' : null">

                            <a *ngIf="objectList.breadcrumb != null"
                                [routerLink]="['/content/object/list', objectList.shSite.id]">{{objectList.shSite.name}}
                            </a>
                            <span *ngIf="objectList.breadcrumb == null">{{objectList.shSite.name}}</span>
                        </li>
                        <li *ngFor="let breadcrumb of objectList.breadcrumb; last as isLast" class="breadcrumb-item"
                            [attr.aria-current]="isLast ? 'page' : null"><a
                                [routerLink]="['/content/object/list', breadcrumb.id]"
                                *ngIf="!isLast">{{breadcrumb.name}}</a><span *ngIf="isLast">{{breadcrumb.name}}</span>
                        </li>
                    </ol>
                </nav>
            </div>
            <div>

                <span title="Label: green outline label"
                    class="Label Label--outline Label--outline-green mr-3">Published</span>
                <button class="btn-link btn-sm mr-3" style="color: #24292e;">
                    <span octicon="history" size="16" class="mr-1"></span>
                    History
                </button>
                <details class="dropdown details-reset details-overlay d-inline-block mr-3">
                    <summary class="btn-link btn-sm" aria-haspopup="true" style="color: #24292e;">
                        Order
                        <div class="dropdown-caret"></div>
                    </summary>

                    <ul class="dropdown-menu dropdown-menu-se">
                        <li><a class="dropdown-item" href="#url" i18n="@@name">Name</a></li>
                        <li><a class="dropdown-item" href="#url" i18n="@@description">Description</a></li>
                        <li><a class="dropdown-item" href="#url" i18n="@@date">Date</a></li>
                    </ul>
                </details>
                <button class="btn-link btn-sm" style="color: #24292e;">
                    <fa-icon [icon]="faBars"></fa-icon>
                </button>
            </div>
        </div>
        <ul>
            <li *ngFor="let shFolder of objectList.shFolders" class="Box-row">
                <div class="d-flex flex-items-center">
                    <input type="checkbox" class="mr-2" />
                    <a [routerLink]="['/content/object/list', shFolder.id]" routerLinkActive="active"
                        class="d-flex flex-items-center">
                        <span octicon="file-directory" size="24" class="mr-2"></span>
                        {{shFolder.name}}
                    </a>
                    <shio-object-actions [title]="shFolder.name"></shio-object-actions>
                </div>
                <div class="d-flex flex-items-center mt-1" style="color: rgba(27, 31, 35, 0.6);">
                    <span octicon="clock" size="16" class="mr-1"></span>
                    <span style="font-size: smaller;"> Updated
                        {{shFolder.date | amTimeAgo}}</span>
                </div>
                <div style="margin-top: 10px;">
                    <div class="d-flex flex-items-center">
                        <span title="This folder is published"
                            class="Label Label--outline Label--outline-green mr-1">Published</span>
                        <span title="This is a folder object" class="Label Label--outline mr-1">Folder</span>
                    </div>
                </div>
            </li>
            <li *ngFor="let shPost of objectList.shPosts" class="Box-row ">
                <div class="d-flex flex-items-center">
                    <input type="checkbox" class="mr-2" />
                    <a [routerLink]="['/content/post', shPost.id]" routerLinkActive="active"
                        class="d-flex flex-items-center">
                        <span octicon="note" size="24" class="mr-2"></span>
                        {{shPost.title}}</a>
                    <shio-object-actions [title]="shPost.title"></shio-object-actions>
                </div>
                <div class="d-flex flex-items-center mt-1" style="color: rgba(27, 31, 35, 0.6);">
                    <span octicon="clock" size="16" class="mr-1"></span>
                    <span>
                        <span style="font-size: smaller;"> Updated
                            {{shPost.date | amTimeAgo}}</span>
                        <span *ngIf="shPost.summary !== null"> - </span> {{shPost.summary}}</span>
                </div>

                <div style="margin-top: 15px;">
                    <div class="d-flex flex-items-center">
                        <span title="This post is published"
                            class="Label Label--outline Label--outline-green mr-1">Published</span>
                        <span title="This a post object" class="Label Label--outline mr-1">Post</span>
                        <span title="This a {{shPost.shPostType.title}} post type"
                            class="Label Label--outline mr-1">{{shPost.shPostType.title}}</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<ngx-smart-modal #myModal identifier="myModal">
    <div class="blankslate">       
        <h3 class="mb-1">You don’t seem to have any pull requests.</h3>
        <p>Pull requests help you discuss potential changes before they are merged into the base branch.</p>
        <button (click)="myModal.close()" class="btn btn-primary my-3" type="button">New pull request</button>
        <p><button class="btn-link" type="button">Learn more</button></p>
    </div>
</ngx-smart-modal>