<div style="background-color: #FFF0E8;; height: 55px; width: 100%; padding: 10px; margin-bottom: 10px" class="affix-top"
    data-spy="affix" data-offset-top="147">
    <div class="form-actions">
        <div class="pull-right">
            <div class="form-inline">
                <select class="form-control" ng-model="authProvider.enabled"
                    ng-options="o.v as o.n for o in [{ n: 'Disabled', v: false }, { n: 'Enabled', v: true }]">
                </select>
                <div class="btn-group">
                    <button ng-click="authProviderSave()" class="btn btn-viglet">Save
                        changes</button>
                    <a class="btn btn-viglet dropdown-toggle" data-toggle="dropdown" href><span
                            class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href ng-click="authProviderSaveAndClose()">Save and
                                Close</a></li>                       
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<table class="table" style="margin: 0px;border-color: #ddd; border-style: solid; border-width: 1px;">
    <tr>
        <td style="background: #F9F9F9; width: 30%;">
            <p>
                <b>Host</b>
            </p>
        </td>
        <td><input type="text" class="form-control" ng-model="email.host" autocomplete="new-password" /></td>
    </tr>
    <tr>
        <td style="background: #F9F9F9; width: 30%;">
            <p>
                <b>Port</b>
            </p>
        </td>
        <td><input type="text" class="form-control" ng-model="email.port" autocomplete="new-password" /></td>
    </tr>
    <tr>
        <td style="background: #F9F9F9; width: 30%;">
            <p>
                <b>Username</b>
            </p>
        </td>
        <td><input type="text" class="form-control" ng-model="email.username" autocomplete="new-password" /></td>
    </tr>
    <tr>
        <td style="background: #F9F9F9; width: 30%;">
            <p>
                <b>Password</b>
            </p>
        </td>
        <td><input type="password" class="form-control" ng-model="email.password" autocomplete="new-password" /></td>
    </tr>
    <tr>
        <td style="background: #F9F9F9; width: 30%;">
            <p>
                <b>Test Connection</b>
            </p>
        </td>
        <td> <select class="form-control" ng-model="email.testConnection" autocomplete="new-password"
                ng-options="o.v as o.n for o in [{ n: 'No', v: false }, { n: 'Yes', v: true }]">
            </select></td>
    </tr>
    <tr>
        <td style="background: #F9F9F9; width: 30%;">
            <p>
                <b>SMTP</b>
            </p>
        </td>
        <td>
            <table class="table" style="margin: 0px;border-color: #ddd; border-style: solid; border-width: 1px;">
                <tr>
                    <td style="background: #F9F9F9; width: 30%;">
                        <p>
                            <b>Auth</b>
                        </p>
                    </td>
                    <td> <select class="form-control" ng-model="email.smtpAuth" autocomplete="new-password"
                            ng-options="o.v as o.n for o in [{ n: 'No', v: false }, { n: 'Yes', v: true }]">
                        </select></td>
                </tr>

                <tr>
                    <td style="background: #F9F9F9; width: 30%;">
                        <p>
                            <b>TLS Enabled</b>
                        </p>
                    </td>
                    <td> <select class="form-control" ng-model="email.smtpTLSEnabled" autocomplete="new-password"
                            ng-options="o.v as o.n for o in [{ n: 'No', v: false }, { n: 'Yes', v: true }]">
                        </select></td>
                </tr>
                <tr>
                    <td style="background: #F9F9F9; width: 30%;">
                        <p>
                            <b>TLS Required</b>
                        </p>
                    </td>
                    <td> <select class="form-control" ng-model="email.smtpTLSRequired" autocomplete="new-password"
                            ng-options="o.v as o.n for o in [{ n: 'No', v: false }, { n: 'Yes', v: true }]">
                        </select></td>
                </tr>
                <tr>
                    <td style="background: #F9F9F9; width: 30%;">
                        <p>
                            <b>SSL Enabled</b>
                        </p>
                    </td>
                    <td> <select class="form-control" ng-model="authProvider.smtpSSLEnabled" autocomplete="new-password"
                            ng-options="o.v as o.n for o in [{ n: 'No', v: false }, { n: 'Yes', v: true }]">
                        </select></td>
                </tr>
            </table>
        </td>
    </tr>
</table>