
<ul class="breadcrumb" style="margin-top: 5px; margin-bottom: 25px;">
	<li><a
		ui-sref="content"
		ui-sref-opts="{reload:true}">Dashboard</a></li>
	<li>Administration Console</a></li>
</ul>

<div id="configuration" class="row row-centered">
	<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 col-centered">
		<div class="list-group" style="margin-bottom: 10px">
			<a  ng-class="{'disabled':$state.current.name.indexOf('admin.user') == 0}" ui-sref="admin.user" class="list-group-item ng-binding"
				style="color: rgb(51, 51, 51)">Users<span
				class="glyphicon glyphicon-chevron-right" aria-hidden="true"
				style="float: right; position: relative; color: gray"></span>
			</a> <a ng-class="{'disabled':$state.current.name.indexOf('admin.group') == 0}" ui-sref="admin.group" class="list-group-item ng-binding"
				style="color: rgb(51, 51, 51)">Groups<span
				class="glyphicon glyphicon-chevron-right" aria-hidden="true"
				style="float: right; position: relative; color: gray"></span>
			</a>			
		</div>
	</div>
	<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 col-centered">
		<div ui-view>		
		</div>
	</div>
</div>
