<div class="panel-heading">
	<div class="panel-title">
		<div class="row" style="margin: 0px">
			<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10"
				style="padding: 0px">
				<a href tabindex="0" class="accordion-toggle"
					ng-click="toggleOpen()" uib-accordion-transclude="heading" style="color:#444"> <span
					uib-accordion-header ng-class="{'text-muted': isDisabled}">
						{{heading}} </span>
				</a>
			</div>
			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="padding: 0px">
				<button type="button" class="btn btn-link btn-xs pull-right"
					style="display: block;"
					ng-click="$parent.postTypeAttrDelete($parent.shPostType.shPostTypeAttrs,$parent.shPostTypeAttr,$parent.$index)">
					<i class="fa fa-trash-o" aria-hidden="true"></i> Delete
				</button>
			</div>
		</div>
	</div>
</div>
<div class="panel-collapse collapse" uib-collapse="!isOpen">
	<div class="panel-body" style="padding: 0px" ng-transclude></div>
</div>