<div class="overflow-hidden px-3 px-md-4 px-lg-5">
    <div style="margin-top: 20px;">
        <div style="padding-bottom: 15px;">
            <div class="Subhead" style="padding-bottom: 20px;">
                <div style="flex: 1 1 auto;">
                    <input class="form-control" style="width: 50%;" type="text" placeholder="Find a post type..."
                        aria-label="Find a post type" />

                    <details class="dropdown details-reset details-overlay d-inline-block mr-2">
                        <summary class="btn ml-2" aria-haspopup="true">
                            Type
                            <div class="dropdown-caret"></div>
                        </summary>

                        <ul class="dropdown-menu dropdown-menu-se">
                            <li><a class="dropdown-item" href="#url">Custom</a></li>
                            <li><a class="dropdown-item" href="#url">System</a></li>
                        </ul>
                    </details>

                </div>
                <div class="Subhead-actions">
                    <button class="btn mr-2" role="button">
                        <span octicon="upload" size="16" class="mr-1"></span> Import
                    </button> <button class="btn btn-primary" role="button">
                        <span octicon="package" size="16" class="mr-1"></span> New
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div *ngFor="let shPostType of shPostTypes" class="border-bottom d-flex flex-items-center"
            style="margin-bottom: 20px;padding-bottom: 10px;">
            <div class="flex-auto">
                <div style="background-color: whitesmoke;width: 24px;height: 24px;margin-right: 7px;border-radius: 50%;"
                    class="float-left">
                    <svg width="24" height="24" style="border-radius: 50%;"
                        [identiconHash]="shPostType.name | lowercase">
                        Avatar
                    </svg>
                </div><a [routerLink]="['/content/post-type', shPostType.id]" routerLinkActive="active"
                    style="font-weight: bolder; font-size: large;">
                    {{shPostType.name}} </a>
                <div class="text-gray-light" style="margin-top: 5px;">
                    {{shPostType.description}}
                </div>
                <div class="text-gray-light d-flex flex-items-center" style="margin-top: 10px;">
                    <div class="mr-3">
                        <div *ngIf="shPostType.system === 1">
                            <span
                                style="position: relative;top: 1px;display: inline-block;width: 12px;height: 12px;border-radius: 50%;background-color: #2b7489;"></span>
                            <span class="ml-1">System</span>
                        </div>
                        <div *ngIf="shPostType.system !== 1">
                            <span
                                style="position: relative;top: 1px;display: inline-block;width: 12px;height: 12px;border-radius: 50%;background-color: orchid;"></span>
                            <span class="ml-1">Custom</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>