<div ui-view>

	<ul class="breadcrumb" style="margin-top: 5px; margin-bottom: 25px;">
		<li><a ui-sref="content" ui-sref-opts="{reload:true}">Content</a></li>
		<li><a ui-sref="content.post-type-select"
			ui-sref-opts="{reload:true}">Post Types</a></li>
	</ul>

	<div class="settings">
		<section class="content no-padding">


			<fieldset class="user-details-top" style="margin-bottom: 30px">



				<div class="form-group">
					<h3>Model your {{shPostType.title}} Post Type</h3>
				</div>
			</fieldset>

		</section>
	</div>

	<div class="row">
		<div class="col-md-2">
			<ul class="nav nav-pills nav-stacked">
				<li class="nav-header">{{shPostType.name}}</li>

				<li class="active"><a
					ui-sref="content.post-type-item({postTypeId: shPostType.id})">Model</a>
				</li>

				<li class="nav-header">Attributes</li>
				<li ng-repeat="shPostTypeAttr in shPostType.shPostTypeAttrs"><a
					ui-sref="content.post-type-item.attribute({postTypeId:shPostType.id, postTypeAttrId:shPostTypeAttr.id})">{{shPostTypeAttr.label}}</a></li>
				<li class="nav-header">Look & Feel</li>
				<li><a href="#">Style</a></li>
				<li><a href="#">Templates</a></li>

				<li class="nav-header">Developer</li>
				<li><a href="#">API</a></li>
				<li><a href="#">Documentation</a></li>

			</ul>
		</div>
		<div class="col-md-10">
			<div class="form-group">
				<input type="text" id="title" name="title" class="form-control"
					placeholder="Post Type Title" ng-model="shPostType.title">
			</div>
			<div class="form-group">
				<textarea id="description" name="description" class="form-control"
					placeholder="About this Post Type"
					ng-model="shPostType.description"></textarea>
			</div>
			<div class="form-group">
				<label>Identifier</label> <input type="text" id="name" name="name"
					class="form-control" placeholder="Identfier"
					ng-model="shPostType.name">
			</div>


			<div class="row" style="margin: 0px">
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"
					style="padding: 0px">Order</div>
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"
					style="padding: 0px">Name</div>
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"
					style="padding: 0px">Title</div>
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"
					style="padding: 0px">Widget</div>
				<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"
					style="padding: 0px"></div>
			</div>
			<uib-accordion>
			<div uib-accordion-group
				ng-repeat="shPostTypeAttr in shPostType.shPostTypeAttrs |filter: {willBeDeleted: '!1'} | orderBy: 'ordinal'"
				class="panel-default" is-open="status.isCustomHeaderOpen"
				template-url="template/post/type/post-type-accordion.html">
				<uib-accordion-heading>
				<div class="row" style="margin: 0px">
					<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"
						style="padding: 0px">{{shPostTypeAttr.ordinal}}</div>
					<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"
						style="padding: 0px">{{shPostTypeAttr.name}}</div>
					<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"
						style="padding: 0px">{{shPostTypeAttr.label}}</div>
					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"
						style="padding: 0px">{{shPostTypeAttr.shWidget.name}}</div>
					<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"
						style="padding: 0px">
						<i class="pull-right glyphicon"
							ng-class="{'glyphicon-chevron-down': status.isCustomHeaderOpen, 'glyphicon-chevron-right': !status.isCustomHeaderOpen}"></i>
					</div>
				</div>
				</uib-accordion-heading>
				<table class="table" style="margin: 0px;">
					<tr>
						<td style="background: #F9F9F9; width: 20%;">
							<p>
								<b>Rótulo do Campo *</b>
							</p>
							<p>Este é o nome que irá aparecer na página de EDIÇÃO</p>
						</td>
						<td><input type="text" class="form-control"
							ng-model="shPostTypeAttr.label" /></td>
					</tr>
					<tr>
						<td style="background: #F9F9F9; width: 20%;">
							<p>
								<b>Nome do Campo *</b>
							</p>
							<p>Uma única palavra, sem espaços. Traço inferior (_) e
								traços (-) permitidos</p>
						</td>
						<td><input type="text" class="form-control"
							ng-model="shPostTypeAttr.name" /></td>
					</tr>
					<tr>
						<td style="background: #F9F9F9; width: 20%;">
							<p>
								<b>Tipo de Campo *</b>
							</p>
						</td>
						<td><select class="form-control"
							ng-model="shPostTypeAttr.shWidget"
							ng-options="shWidget as shWidget.name for shWidget in shWidgets track by shWidget.id">
								<option value="">- Pick One -</option>
						</select></td>
					</tr>
					<tr>
						<td style="background: #F9F9F9; width: 20%;">
							<p>
								<b>Será Título?</b>
							</p>
						</td>
						<td><input type="checkbox" ng-model="shPostTypeAttr.isTitle"
							ng-true-value="1" ng-false-value="0"></td>
					</tr>
					<tr>
						<td style="background: #F9F9F9; width: 20%;">
							<p>
								<b>Será Descrição</b>
							</p>
						</td>
						<td><input type="checkbox"
							ng-model="shPostTypeAttr.isSummary" ng-true-value="1"
							ng-false-value="0"></td>
					</tr>
					<tr>
						<td style="background: #F9F9F9; width: 20%;">
							<p>
								<b>Será Requerido?</b>
							</p>
						</td>
						<td><input type="checkbox" ng-model="shPostTypeAttr.required"
							ng-true-value="1" ng-false-value="0"></td>
					</tr>
					<tr>
						<td style="background: #F9F9F9; width: 20%;">
							<p>
								<b>Um para muitos?</b>
							</p>
						</td>
						<td><input type="checkbox" ng-model="shPostTypeAttr.many"
							ng-true-value="1" ng-false-value="0"></td>
					</tr>
				</table>
			</div>
			</uib-accordion>
			<div class="row">
				<div class="col-md-2" ng-repeat="shWidget in shWidgets">
					<div class="well">
						<a ng-click="addPostTypeAttr(shWidget)" href>
							<h4>{{shWidget.name}}</h4>
						</a>
					</div>
				</div>
			</div>
			<div class="btn-group">
				<button ng-click="postTypeSave()" class="btn btn-viglet">Save
					changes</button>
				<a class="btn btn-viglet dropdown-toggle" data-toggle="dropdown"
					href><span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href ng-click="removePostType()"><i
							class="icon-trash"></i> Delete</a></li>
					<li><a href><i class="icon-plus-sign"></i> Duplicate</a></li>
				</ul>
			</div>
			<button type="button" class="btn btn-default">Cancel</button>
		</div>
	</div>
</div>
