
<div class="panel-heading" style="background-color: white;">
	<div class="panel-title">
		<div class="row" style="margin: 0px">
			<div class="col-lg-11 col-md-11 col-sm-11 col-xs-11"
				style="padding: 0px">
				<div class="row" style="margin: 0px">
					<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"
						style="padding: 0px">
						<b>Order</b>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"
						style="padding: 0px"><b>Name</b></div>
					<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"
						style="padding: 0px"><b>Title</b></div>
					<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"
						style="padding: 0px"><b>Widget</b></div>
				</div>
			</div>
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="padding: 0px">				
			</div>
		</div>
	</div>
</div>
<div class="panel-collapse collapse" uib-collapse="!isOpen">
	<div class="panel-body" style="padding: 0px" ng-transclude></div>
</div>