<div ng-include="'template/breadcrumb/breadcrumb.html'"></div>

<div class="settings">
	<section class="content no-padding">

		<fieldset class="user-details-top" style="margin-bottom: 30px">

			<div class="form-group">
				<h3>What would you like to post?</h3>
			</div>
			<div class="pull-right" style="margin: -40px 0 0;">
				<a ng-if="channelId > 0"
					ui-sref="content.channel.channel-new({channelId: channelId})"
					class="btn btn-viglet">Or create a new Channel</a> <a
					ng-if="channelId <= 0 || channelId == null"
					ui-sref="content.site.channel-new({siteId: siteId})"
					class="btn btn-viglet">Or create a new Channel</a> <a
					ui-sref="content.post-type-editor" class="btn btn-viglet">Or
					model a new Post Type</a>

			</div>
		</fieldset>
	</section>
</div>


<div class="row">
	<div class="col-md-2"
		ng-repeat="shPostType in shPostTypes | filter: { system: '1'} | orderBy:orderProp">
		<div class="well">
			<a
				ui-sref="content.post-type-item.post-item-new({postTypeId: shPostType.id, channelId: channelId})"><h3>{{shPostType.title}}</h3></a>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-4"
		ng-repeat="shPostType in shPostTypes | filter: { system: '0'} | orderBy:orderProp">
		<div class="well">
			<a href="#"><span class="glyphicon glyphicon-star-empty close"></span></a>
			<a ui-sref="content.post-type-item({postTypeId: shPostType.id})"><span
				class="glyphicon glyphicon-pencil close"></span></a> <a
				ui-sref="content.post-type-item.post-item-new({postTypeId: shPostType.id, channelId: channelId})"><h1>
					{{shPostType.title}} <br /> <small>
						{{shPostType.description}} </small>
				</h1></a>
		</div>
	</div>
</div>
