<div class="row list-group" style="overflow-x: hidden;overflow-y: scroll;max-height: 400px;padding: 15px;">
	<!--  Folders  -->
	<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4" style="padding: 5px;"
		ng-repeat="shFolder in shFolders | filter:$ctrl.shSearchFilter | orderBy:$ctrl.orderByFolderSelected">
		<a href ng-click="folderList(shFolder)" class="list-group-item" style="padding: 5px;">
			<div style="margin-bottom: 10px;">
				<div style="width: 100%;padding-top: 50%;position: relative;">
					<div style="background-image: url('/img/folder.jpg');background-position: center;background-repeat: no-repeat;background-size: contain;-webkit-background-size: contain;-moz-background-size: contain;-o-background-size: contain;margin: 0px !important;
						width: 100% !important;
						position: absolute !important;
						top: 0;
						left: 0;
						bottom: 0;
						right: 0;
						height: 100% !important;">
					</div>
				</div>
				<div style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;text-align: center;">
					{{shFolder.name}}
				</div>
			</div>
		</a>
	</div>
	<!--  Posts  -->
	<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4" style="padding: 5px;"
		ng-repeat="shPost in shPosts | filter:$ctrl.shSearchFilter | orderBy:$ctrl.orderByPostSelected">
		<!-- NON ALIAS -->
		<a ng-if="shPost.shPostType.name !== 'PT-ALIAS' && shPost.shPostType.name !== 'PT-FILE'" class="list-group-item"
			style="padding: 5px;" ng-click="selectedPost(shPost)">
			<div style="margin-bottom: 10px;">
				<div style="width: 100%;padding-top: 50%;position: relative;">
					<div style="background-image:  url('/img/news.svg');background-position: center;background-repeat: no-repeat;background-size: contain;-webkit-background-size: contain;-moz-background-size: contain;-o-background-size: contain;margin: 0px !important;
				width: 100% !important;
				position: absolute !important;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				height: 100% !important;">
					</div>
				</div>
				<div style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;text-align: center;">
					{{shPost.title}}
				</div>
			</div>
		</a>
		<!-- ALIAS -->
		<a ng-if="shPost.shPostType.name === 'PT-ALIAS'" ng-click="selectedPost(shPost)" class="list-group-item"
			style="padding: 5px;">
			<div style="margin-bottom: 10px;">
				<div style="width: 100%;padding-top: 50%;position: relative;">
					<div style="background-image:  url('/img/alias.svg');background-position: center;background-repeat: no-repeat;background-size: contain;-webkit-background-size: contain;-moz-background-size: contain;-o-background-size: contain;margin: 0px !important;
				width: 100% !important;
				position: absolute !important;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				height: 100% !important;">
					</div>
				</div>
				<div style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;text-align: center;">
					{{shPost.title}}
				</div>
			</div>
		</a>
		<a ng-if="shPost.shPostType.name === 'PT-FILE'" ng-click="selectedPost(shPost)" class="list-group-item"
			style="padding: 5px;"
			ng-style="($ctrl.shPostSelected.id === shPost.id) && {'background-color':'lightsteelblue'}">
			<div style="margin-bottom: 10px;">
				<div style="width: 100%;padding-top: 50%;position: relative;">
					<div style="background-image: url('/api/v2/staticfile/{{shPost.id}}/thumbnail');background-position: center;background-repeat: no-repeat;background-size: contain;-webkit-background-size: contain;-moz-background-size: contain;-o-background-size: contain;margin: 0px !important;
			width: 100% !important;
			position: absolute !important;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			height: 100% !important;">
					</div>
				</div>
				<div style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;text-align: center;">
					{{shPost.title}}
				</div>
			</div>
		</a>
	</div>
</div>