.menufloat {
	z-index: 2000;
	padding-top: 5px;
	background: #444;
	width: 100px;
	height: 30px;
	margin: 10px;
	visibility: hidden;
	display: inline-block;
	color: white;
	position: absolute;
	top: 0px;
	left: 0;
	text-align: center;
}

.sh-edit {
	position: relative;
}

.sh-region {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}