<div style="background-color: #FFF0E8;; height: 55px; width: 100%; padding: 10px; margin-bottom: 10px" class="affix-top"
	data-spy="affix" data-offset-top="147">
	<div class="form-actions">
		<div class="pull-right">
			<div class="btn-group">
				<button ng-click="authProviderSave()" class="btn btn-viglet">Save
					changes</button>
				<a class="btn btn-viglet dropdown-toggle" data-toggle="dropdown" href><span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href ng-click="authProviderSaveAndClose()">Save and
							Close</a></li>
					<li><a href ng-click="removeAuthProvider()"><i class="icon-trash"></i> Delete</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>

<table class="table" style="margin: 0px;border-color: #ddd; border-style: solid; border-width: 1px;">
	<tr>
		<td style="background: #F9F9F9; width: 30%;">
			<p>
				<b>Name</b>
			</p>
			<p>This is the name that will appear on the Edit page</p>
		</td>
		<td><input type="text" class="form-control" ng-model="authProvider.name" /></td>
	</tr>
	<tr>
		<td style="background: #F9F9F9; width: 30%;">
			<p>
				<b>Description</b>
			</p>
		</td>
		<td><input type="text" class="form-control" ng-model="authProvider.description" /></td>
	</tr>
	<tr>
		<td style="background: #F9F9F9; width: 30%;">
			<p>
				<b>Vendor</b>
			</p>
			<p>Select Auth Provider Vendor</p>
		</td>
		<td><select class="form-control" ng-model="authProvider.vendor"
				ng-options="vendor as vendor.name for vendor in vendors track by vendor.id">
				<option value="">-- Pick One --</option>
			</select></td>
	</tr>

</table>
<div ng-include="authProvider.vendor.implementationCode">

</div>