
<table summary="Configuration Table" class="table"
	style="margin: 0px; border-color: #ddd; border-style: solid; border-width: 1px;">

	<tr>
		<th scope="row" style="background: #F9F9F9; width: 20%;">
			<p>
				<strong>Search Field Association</strong>
			</p>
		</th>
		<td><select class="form-control"
			ng-model="shPostTypeAttr.widgetSettingsObject.search.association">
				<option value="">NONE</option>
				<option value="title">title</option>
				<option value="text">text</option>
				<option value="abstract">abstract</option>
				<option value="type">type</option>
				<option value="image">image</option>
				<option value="publication_date">publication_date</option>
				<option value="url">url</option>
		</select></td>
	</tr>
	<tr>
		<tth scope="row" style="background: #F9F9F9; width: 20%;">
			<p>
				<strong>Create Additional Search Field?</strong>
			</p>
		</th>
		<td><input type="checkbox"
			ng-model="shPostTypeAttr.widgetSettingsObject.search.isAdditionalField"
			ng-true-value="1" ng-false-value="0">

			<table summary="Additional Search Field" class="table"
				ng-if="shPostTypeAttr.widgetSettingsObject.search.isAdditionalField == 1"
				style="margin: 0px; border-color: #ddd; border-style: solid; border-width: 1px; margin-top: 10px">
				<tr>
					<th scope="row" style="background: #F9F9F9; width: 20%;">
						<p>
							<strong>Search Field Name</strong>
						</p>
					</th>
					<td><label> <input type="checkbox"
							ng-model="shPostTypeAttr.widgetSettingsObject.search.isSamePostTypeField"
							ng-true-value="1" ng-false-value="0"> Same Post Type
							Field Name
					</label>
						<div
							ng-if="shPostTypeAttr.widgetSettingsObject.search.isSamePostTypeField == 0">
							<input type="text" class="form-control"
								ng-model="shPostTypeAttr.widgetSettingsObject.search.customFieldName" />
						</div>
						<div
							ng-if="shPostTypeAttr.widgetSettingsObject.search.isSamePostTypeField == 1">
							<input type="text" class="form-control" disabled
								ng-model="shPostTypeAttr.name" />
						</div></td>
				</tr>
			</table></td>
	</tr>

</table>