<table class="table" style="margin: 0px;border-color: #ddd; border-style: solid; border-width: 1px;">
	<caption style="display:none">Default</caption>
	<tr>
		<th scope="row" style="background: #F9F9F9; width: 20%;">
			<p>
				<strong>Field Label</strong>
			</p>
			<p>This is the name that will appear on the Edit page</p>
		</th>
		<td><input type="text" class="form-control" ng-model="shPostTypeAttr.label" /></td>
	</tr>
	<tr>
		<th scope="row" style="background: #F9F9F9; width: 20%;">
			<p>
				<strong>Field Identifier</strong>
			</p>
			<p>One word, no spaces. Bottom dash (_) and dashes (-) are
				allowed</p>
		</th>
		<td><input type="text" class="form-control" ng-model="shPostTypeAttr.name" /></td>
	</tr>
	<tr>
		<th scope="row" style="background: #F9F9F9; width: 20%;">
			<p>
				<strong>Title?</strong>
			</p>
		</th>
		<td><input type="checkbox" ng-model="shPostTypeAttr.isTitle" ng-true-value="1" ng-false-value="0"></td>
	</tr>
	<tr>
		<th scope="row" style="background: #F9F9F9; width: 20%;">
			<p>
				<strong>Description?</strong>
			</p>
		</th>
		<td><input type="checkbox" ng-model="shPostTypeAttr.isSummary" ng-true-value="1" ng-false-value="0"></td>
	</tr>
	<tr>
		<th scope="row" style="background: #F9F9F9; width: 20%;">
			<p>
				<strong>Required?</strong>
			</p>
		</th>
		<td><input type="checkbox" ng-model="shPostTypeAttr.required" ng-true-value="1" ng-false-value="0"></td>
	</tr>
	<tr>
		<th scope="row" style="background: #F9F9F9; width: 20%;">
			<p>
				<strong>Field Type</strong>
			</p>
		</th>
		<td><select class="form-control" ng-model="shPostTypeAttr.shWidget"
				ng-options="shWidget as shWidget.name for shWidget in shWidgets track by shWidget.id">
				<option value="">- Pick One -</option>
			</select></td>
	</tr>
</table>