<style>
	.button {
		-moz-appearance: button;
		/* Firefox */
		-webkit-appearance: button;
		/* Safari and Chrome */
		padding: 10px;
		margin: 10px;
		width: 70px;
	}

	.drop-box {
		background: #F8F8F8;
		border: 5px dashed #DDD;
		width: 200px;
		height: 400px;
		text-align: center;
		padding-top: 180px;
		margin: 10px;
	}

	.dragover {
		border: 5px dashed blue;
	}
</style>
<ul class="breadcrumb" style="margin-top: 5px; margin-bottom: 25px;">
	<li><a ui-sref="content" ui-sref-opts="{reload:true}">Dashboard</a></li>
	<li>Import</li>
</ul>
<div>
	<h3>Import</h3>
</div>
<div ng-if="shImport.file != null">
	<div class="row">
		<div class="col-lg-9 col-md-8 col-sm-7 col-xs-6">
			<input type='text' class='form-control' ng-model="shImport.file.name"></input>
		</div>
		<div class="col-lg-3 col-md-4 col-sm-5 col-xs-6">
			<button class="btn btn-viglet" ng-click="importFile()">Import</button>
			<button class="btn btn-default" ng-click="clearFile()">Clear</button>
		</div>
	</div>
</div>
<div ng-if="shImport.file == null || uploadNewFile" class="row" style="margin-right:5px;">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div ngf-drop ngf-select ng-model="shImport.file" class="drop-box" ngf-drag-over-class="'dragover'"
			ngf-multiple="false" ngf-allow-dir="true" accept="application/zip, application/octet-stream"
			ngf-pattern="'application/zip, application/octet-stream'" style="width: 100%">Drop the import file here or
			click to upload</div>
		<div ngf-no-file-drop>File Drag/Drop is not supported for this
			browser</div>
	</div>
</div>