<div ui-view>
	<div style="margin-bottom: 25px;">
		<ul class="breadcrumb" style="margin-top: 5px; margin-bottom: 5px;">
			<li>Content</li>
		</ul>
	</div>
	<div class="settings">
		<section class="content no-padding">

			<fieldset class="user-details-top" style="margin-bottom: 30px">

				<div class="form-group">
					<h3>Select your site</h3>
				</div>
				<div class="pull-right" style="margin: -40px 0 0;">
					<a ui-sref="content.post-type-select" class="btn btn-viglet">Or
						model a Post Type</a>

				</div>
			</fieldset>
		</section>
	</div>
	<div class="row" ng-controller="ShSiteListCtrl">
		<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
			<div class="thumbnail">
				<a ui-sref="content.site-new">
					<div
						style="background-color: #3399ff; text-align: center; height: 200px">
						<img src="img/add.png" alt="nlp" style="padding: 15px">
						<h3
							style="color: white; position: absolute; left: 30px; top: 170px; z-index: 10">Add
							Site</h3>
					</div>
				</a>
				<div class="caption">
					<p>Create a New Site</p>
					<p>
						<a ui-sref="content.site-new"
							class="btn btn-primary btn-lg btn-block" role="button">Create</a>
					</p>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
			<div class="thumbnail">
				<a ui-sref="content.site-import">
					<div
						style="background-color: #ffcc00; text-align: right; height: 200px">
						<img src="img/import.png" alt="nlp" style="padding: 15px">
						<h3
							style="color: white; position: absolute; left: 30px; top: 170px; z-index: 10">Import
							Site</h3>
					</div>
				</a>
				<div class="caption">
					<p>Import a Site from Zip file</p>
					<p>
						<a ui-sref="content.site-import"
							class="btn btn-warning btn-lg btn-block" role="button">Import</a>
					</p>
				</div>
			</div>
		</div>

		<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12"
			ng-repeat="shSiteItem in shSites | filter:query | orderBy:orderProp">
			<div class="thumbnail">
				<a ui-sref="content.children.site-children({siteId: shSiteItem.id})"
					ui-sref-opts="{reload:true}">
					<div
						style="background-color: #FF874B; text-align: right; height: 200px">
						<img src="img/site.png" alt="site" style="padding: 15px">
						<h3
							style="color: white; position: absolute; left: 30px; top: 170px; z-index: 10">{{shSiteItem.name}}</h3>
					</div>
				</a>
				<div class="caption">
					<p>{{shSiteItem.description}}</p>
					<p>
						<a ui-sref="content.children.site-children({siteId: shSiteItem.id})"
							class="btn btn-viglet btn-lg btn-block" role="button">Edit</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
