
<div style="height: 120px"></div>
<div ui-view>
	<div class="settings">
		<section class="content no-padding">
			<fieldset class="user-details-top">

				<div class="form-group"></div>
				<div class="pull-right" style="margin: -40px 0 0;">
					<div class="input-group">
						0-{{(shPosts|filter:query).length}} of
						{{(shPosts|filter:query).length}} posts&nbsp;&nbsp;
						<button type="button" class="btn btn-default">
							<i class="fa fa-viglet fa-angle-left"></i>
						</button>
						<button type="button" class="btn btn-default">
							<i class="fa fa-viglet fa-angle-right"></i>
						</button>
					</div>

				</div>
			</fieldset>
		</section>
	</div>

	<div>
		<div class="row">
			<div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
				<div class="btn-group">
					<a href="/#!/content/post/type/{{shUser.lastPostType}}/post/new"
						class="btn btn-viglet">New {{shLastPostType.title}} </a> <a
						class="btn btn-viglet" ui-sref="content.post-type-select"><span
						class="glyphicon glyphicon-th"></span></a>
				</div>
				<ul class="nav nav-pills nav-stacked">
					<li><a href="#">Home</a></li>
					<li><a href="#">Starred <i
							class="glyphicon glyphicon-star"></i></a></li>
					<li><a href="#">All Posts</a></li>
					<li><a href="#">Trash <i class="glyphicon glyphicon-trash"></i></a></li>
				</ul>
				<ul class="nav nav-pills nav-stacked">
					<li class="nav-header">Tag</li>
					<li ng-repeat="label in labels | filter:query | orderBy:orderProp">
						<a href="#"> {{label.title}} </a>
					</li>
				</ul>
			</div>
			<div class="col-lg-10 col-md-9 col-sm-9 col-xs-12">
				<ul class="nav nav-tabs" ng-controller="ShSiteListCtrl">
					<li class="active"><a href="#" style="color: black"><i
							class="fa fa-viglet fa-user fa-lg"></i> Only Me</a></li>
					<li><a href="#" style="color: black"><i
							class="fa fa-viglet  fa-users fa-lg"></i> Team</a></li>
					<li
						ng-repeat="shSite in shSites | filter:query | orderBy:orderProp">
						<a href="#" style="color: black"><i
							class="fa fa-viglet fa-tags fa-lg"></i> {{shSite.name}} </a>
					</li>
					<li><a href="/site/editor/"><i
							class="fa fa-viglet fa-plus fa-lg"></i></a></li>
				</ul>


				<table class="table table-hover">
					<!--  Channels  -->
					<tr ng-repeat="shChannel in shChannels">
						<td><input type="checkbox" /> <a href="#"><span
								class="glyphicon glyphicon-folder-open close"></span></a></td>
						<td><a
							ui-sref="content.post-type-item.post-item({postTypeId: shPost.shPostType.id, postId: shPost.id})">
								{{shChannel.name}}</a></td>
						<td><span class="label label-primary">Channel</span></td>
						<td>{{shChannel.summary}}</td>
						<td><span am-time-ago="shChannel.date"></span></td>
					</tr>
					<!--  Posts  -->
					<tr ng-repeat="shPost in shPosts">
						<td><input type="checkbox" /> <a href="#"><span
								class="glyphicon glyphicon-star-empty close"></span></a></td>
						<td><a
							ui-sref="content.post-type-item.post-item({postTypeId: shPost.shPostType.id, postId: shPost.id})">
								{{shPost.title}}</a></td>
						<td><span class="label label-warning">
								{{shPost.shPostType.title}}</span></td>
						<td>{{shPost.summary}}</td>
						<td><span am-time-ago="shPost.date"></span></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>