<table ng-controller="ShWidgetMultiSelectSettingCtrl" class="table"
	style="margin: 0px;">
	<tr>
		<th scope="row" style="background: #F9F9F9; width: 20%;">
			<p>
				<strong>Post Type</strong>
			</p>
		</th>
		<td><select class="form-control"
			ng-model="shPostTypeAttr.widgetSettingsObject.multiselect.postType"
			ng-options="postType.name as postType.title for postType in postTypes | orderBy: 'title'">
				<option value="">-- Pick One --</option>
		</select></td>
	</tr>
	<tr>
		<th scope="row" style="background: #F9F9F9; width: 20%;">
			<p>
				<strong>Folder</strong>
			</p>
		</th>
		<td><input type="text" class="form-control"
			ng-model="shPostTypeAttr.widgetSettingsObject.multiselect.folderId"></td>
	</tr>	
</table>