<form method="get" action="{{'#!/search/' + shQuery }}" style="width: calc(100% - 65px);
display: inline-flex;
padding-right: 90px;">
	<div class="input-group" style="width: 100%;">
		<input ng-model="shQuery" type="text" class="form-control" placeholder="{{ 'SEARCH_FOR' | translate }}...">
		<span class="input-group-btn">
			<button type="submit" class="btn btn-viglet"><i class="fa fa-search" aria-hidden="true"></i></button>
		</span>
	</div>
</form>
<toggle style="display: inline-flex;" ng-model="toggleValue" ng-change="changed()" on="<i class='fa fa-sun-o'></i>"
	on-class="btn-success" off="<i class='fa fa-moon-o'></i>" on-class="btn-danger"></toggle>