<div ui-view>
	<div style="margin-bottom: 25px;">
		<ul class="breadcrumb" style="margin-top: 5px; margin-bottom: 25px;">
			<li><a ui-sref="content" ui-sref-opts="{reload:true}">Dashboard</a></li>
			<li>Search</li>
		</ul>
	</div>
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-centered"
		style="vertical-align: top;">
		<div class="panel-body">
			<article ng-repeat="shPostWithBreadCrumb in shPostsWithBreadCrumb"
				style="margin-top: 30px; padding-bottom: 0px;">
				<div>
					<h4 style="margin-bottom: 5px;">
						<a style="color: #FF874B; font-weight: bolder;"
							ui-sref="content.post-type-item.post-item({postTypeId: shPostWithBreadCrumb.shPost.shPostType.id, postId: shPostWithBreadCrumb.shPost.id})"
							ng-bind-html="shPostWithBreadCrumb.shPost.title"></a>
					</h4>
				</div>
				<ul class="breadcrumb"
					style="background-color: white; padding: 0px; margin: 0px; font-size: 12px;">
					<li><a
						ui-sref="content.children({objectId: shPostWithBreadCrumb.shSite.id})"
						ui-sref-opts="{reload:true}">{{shPostWithBreadCrumb.shSite.name}}
							(Site)</a></li>
					<li ng-repeat="breacrumbItem in shPostWithBreadCrumb.breadcrumb"><a
						ui-sref="content.children({objectId: breacrumbItem.id})"
						ui-sref-opts="{reload:true}">{{breacrumbItem.name}}</a></li>
				</ul>

				<div style="font-size: 12px;">
					<div style="display: table-row">
						<div>
							<span am-time-ago="shPostWithBreadCrumb.shPost.date"
								style="color: gray"></span> -
							{{shPostWithBreadCrumb.shPost.summary}}
						</div>
					</div>
					<div>
						Tags:
						<div style="display: inline;">
							<a style="color: #FF874B" href>Post</a>, <a
								style="color: #FF874B" href>{{shPostWithBreadCrumb.shSite.name}}
								Site</a>
						</div>
					</div>
				</div>
			</article>
		</div>
	</div>
</div>
