<div *ngIf="(getShSite() | async) as shSite; else loading">
    <shio-repository-tabs [shSite]="shSite" [tabIndex]="1"></shio-repository-tabs>
    <div *ngIf="(getShHistories() | async) as shHistories; else loading"
        class="container-xl clearfix px-3 px-md-4 px-lg-5 mt-4">
        <div *ngFor="let dayItem of historyGroupBy"  class="TimelineItem TimelineItem--condensed">
            <div class="TimelineItem-badge">
                <span octicon="git-commit" size="16"></span>               
            </div>
            <div class="TimelineItem-body">
                Commits on {{dayItem.day | date}}
                <div class="Box mt-2 mb-2">
                    <ul>
                        <li *ngFor="let shHistory of dayItem.histories" class="Box-row">
                            <p class="h5 mb-1 text-gray-dark ">
                                <a style="color: #24292e;" href="#">{{shHistory.description}}</a>
                            </p>
                            <div class="d-flex flex-items-center">

                                <svg width="20" height="20" class="mr-1" style="border-radius: 50%;"
                                    [identiconHash]="shHistory.owner | lowercase">
                                    {{shHistory.owner}}
                                </svg>
                                <div class="f6 text-gray min-width-0">
                                    <span
                                        style="font-weight: 600;color: #24292e;white-space: nowrap;">{{shHistory.owner}}</span>
                                    committed {{shHistory.date | amTimeAgo}}
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>     
    </div>
</div>
<ng-template #loading>
    <span>Loading</span><span class="AnimatedEllipsis"></span>
</ng-template>