<div *ngIf="(getBreadcrumb() | async) as breadcrumb"
    class="d-flex flex-items-center overflow-hidden px-3 px-md-4 px-lg-5 bg-gray-light mt-3">
    <div style="background-color: whitesmoke;width: 32px;height: 32px;border-radius: 50%;"
        class="float-left">
        <svg width="32" height="32" style="border-radius: 50%;" [identiconHash]="shPost.shSite.name | lowercase">
        </svg>
    </div>
    <div class=" overflow-hidden flex-auto" style="font-size: larger;font-weight: 500;">

        <nav aria-label="Breadcrumb">
            <ol class="ml-2">
                <li class="breadcrumb-item" [attr.aria-current]="breadcrumb.breadcrumb == null ? 'page' : null">
                    <a *ngIf="breadcrumb.breadcrumb != null"
                        [routerLink]="['/content/object/list', shPost.shSite.id]">{{shPost.shSite.name}}
                    </a>
                    <span *ngIf="breadcrumb.breadcrumb == null">{{shPost.shSite.name}}</span>
                </li>
                <li *ngFor="let breadcrumbItem of breadcrumb.breadcrumb;" class="breadcrumb-item"><a
                        [routerLink]="['/content/object/list', breadcrumbItem.id]">{{breadcrumbItem.name}}</a>
                </li>
                <li class="breadcrumb-item" aria-current>
                    {{shPost.title}}
                </li>
            </ol>
        </nav>

    </div>
    <span title="Label: green outline label" class="Label Label--outline Label--outline-green mr-3">Published</span>
    <button class="btn btn-sm mr-2" type="button">
        <span octicon="eye" size="16" class="mr-1"></span> View Page
    </button>
    <button class="btn btn-sm mr-1" type="button">Publish</button>
    <button (click)="savePost()" class="btn btn-sm btn-primary" type="button">Save Draft</button>
</div>
<nav class="UnderlineNav overflow-hidden px-3 px-md-4 px-lg-5 bg-gray-light" aria-label="Pos Tabs">
    <div class="UnderlineNav-body">
        <div (click)="currentTab = tab.ordinal" class="UnderlineNav-item" *ngFor="let tab of tabs"
            [class.selected]="currentTab == tab.ordinal">{{tab.name}}</div>
        <div (click)="currentTab = -1" href="#" class="UnderlineNav-item" [class.selected]="currentTab == -1">
            <span octicon="gear" size="16" class="mr-1"></span> Settings
        </div>
    </div>
</nav>
<div class="overflow-hidden px-3 px-md-4 px-lg-5 mt-2">
    <div *ngFor="let tab of tabs">
        <shio-post-tab [shPost]="shPost" [tabIndex]="tab.ordinal" [currentTab]="currentTab"></shio-post-tab>
    </div>
</div>