<table class="table" style="margin: 0px;">
	<tr>
		<td style="background: #F9F9F9; width: 20%;">
			<p>
				<b>List Size Attribute</b>
			</p>
		</td>
		<td><input type="text" class="form-control" ng-model="shPostTypeAttr.widgetSettingsObject.listSize"></td>
	</tr>
	<tr>
		<td style="background: #F9F9F9; width: 20%;">
			<p>
				<b>Choices</b>
			</p>
			<p>Type each option in a new line.</p>
			<p>For more control, you can specify both values and the labels,
				as in the examples:</p> <samp>
				red: Red<br> blue: Blue
			</samp>
		</td>
		<td><textarea class="form-control" rows="8" ng-model="shPostTypeAttr.widgetSettingsObject.choices"></textarea>
	</tr>
	<tr>
		<td style="background: #F9F9F9; width: 20%;">
			<p>
				<b>Default Values</b>
			</p>
			<p>Enter each default value in a new line</p>
		</td>
		<td><textarea class="form-control" rows="8" ng-model="shPostTypeAttr.widgetSettingsObject.defaultValues"></textarea>
	</tr>
	<tr>
		<td style="background: #F9F9F9; width: 20%;">
			<p>
				<b>Allow Null?</b>
			</p>

		</td>
		<td><input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="shPostTypeAttr.widgetSettingsObject.allowNull"></td>
	</tr>
	<tr>
		<td style="background: #F9F9F9; width: 20%;">
			<p>
				<b>Select multiple values?</b>
			</p>

		</td>
		<td><input type="checkbox" ng-true-value="1" ng-false-value="0"  ng-model="shPostTypeAttr.widgetSettingsObject.multipleValues"></td>
	</tr>
	<tr>
		<td style="background: #F9F9F9; width: 20%;">
			<p>
				<b>Enhanced Field Interface</b>
			</p>

		</td>
		<td><input type="checkbox" ng-true-value="1" ng-false-value="0"  ng-model="shPostTypeAttr.widgetSettingsObject.enhancedField"></td>
	</tr>
	<tr>
		<td style="background: #F9F9F9; width: 20%;">
			<p>
				<b>Data Format</b>
			</p>
			<p>Specify how values will be returned</p>
		</td>
		<td><select class="form-control"  ng-model="shPostTypeAttr.widgetSettingsObject.dataFormat">
				<option>Value</option>
				<option>Label</option>
				<option>Both (Array)</option>
		</select></td>
	</tr>
	<tr>
		<td style="background: #F9F9F9; width: 20%;">
			<p>
				<b>Wrapper Attributes</b>
			</p>
		</td>
		<td>
			<div class="row">
				<div class="col-xs-4">
					<div class="input-group">
						<span class="input-group-addon">width</span> <input type="text"
							class="form-control"  ng-model="shPostTypeAttr.widgetSettingsObject.width">
					</div>
				</div>
				<div class="col-xs-4">
					<div class="input-group">
						<span class="input-group-addon">class</span> <input type="text"
							class="form-control"  ng-model="shPostTypeAttr.widgetSettingsObject.class">
					</div>
				</div>
				<div class="col-xs-4">
					<div class="input-group">
						<span class="input-group-addon">id</span> <input type="text"
							class="form-control"  ng-model="shPostTypeAttr.widgetSettingsObject.id">
					</div>
				</div>
			</div>
		</td>
	</tr>
</table>