<div class="overflow-hidden px-3 px-md-4 px-lg-5">
    <div style="margin-top: 20px;">
        <div style="padding-bottom: 15px;">
            <div class="Subhead" style="padding-bottom: 20px;" >
                <div style="flex: 1 1 auto;">
                    <input class="form-control" style="width: 50%;" type="text" placeholder="Find a repository..."
                        aria-label="Find a repository" />

                    <details class="dropdown details-reset details-overlay d-inline-block mr-2">
                        <summary class="btn ml-2" aria-haspopup="true">
                            Type
                            <div class="dropdown-caret"></div>
                        </summary>

                        <ul class="dropdown-menu dropdown-menu-se">
                            <li><a class="dropdown-item" href="#url">Site</a></li>
                            <li><a class="dropdown-item" href="#url">Template</a></li>
                            <li><a class="dropdown-item" href="#url">Documents</a></li>
                            <li><a class="dropdown-item" href="#url">Media</a></li>
                        </ul>
                    </details>

                </div>
                <div class="Subhead-actions">
                    <button class="btn mr-2" role="button">
                        <span octicon="upload" size="16" class="mr-1"></span> Import
                    </button> <button class="btn btn-primary" role="button">
                        <span octicon="package" size="16" class="mr-1"></span> New
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div *ngFor="let site of shSites" class="border-bottom d-flex flex-items-center"
            style="margin-bottom: 20px;padding-bottom: 10px;">
            <div class="flex-auto">
                <div style="background-color: whitesmoke;width: 24px;height: 24px;margin-right: 7px;border-radius: 50%;"
                class="float-left">
                <svg width="24" height="24" style="border-radius: 50%;" [identiconHash]="site.name | lowercase">
                    Avatar
                </svg>
            </div><a [routerLink]="['/content/object/list', site.id]" routerLinkActive="active"
                    style="font-weight: bolder; font-size: large;">
                    {{site.name}} </a>
                <div class="text-gray-light" style="margin-top: 5px;">
                    {{site.description}}
                </div>
                <div style="margin-top: 5px;">
                    <span title="Label: green outline label"
                        class="Label Label--outline Label--outline-green">Published</span>

                </div>
                <div class="text-gray-light d-flex flex-items-center" style="margin-top: 10px;">
                    <div class="mr-3">
                        <span
                            style="position: relative;top: 1px;display: inline-block;width: 12px;height: 12px;border-radius: 50%;background-color: #2b7489;"></span>
                        <span class="ml-1">Site</span>
                    </div>
                    
                </div>
            </div>           
        </div>
    </div>
</div>