
<div id="configuration" class="row row-centered">
	<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 col-centered">
		<div class="list-group" style="margin-bottom: 10px">
			<a  ng-class="{'disabled':$state.current.name.indexOf('organization.user') == 0}" ui-sref="organization.user" class="list-group-item ng-binding"
				style="color: rgb(51, 51, 51)">Users<span
				class="glyphicon glyphicon-chevron-right" aria-hidden="true"
				style="float: right; position: relative; color: gray"></span>
			</a> <a ng-class="{'disabled':$state.current.name.indexOf('organization.group') == 0}" ui-sref="organization.group" class="list-group-item ng-binding"
				style="color: rgb(51, 51, 51)">Groups<span
				class="glyphicon glyphicon-chevron-right" aria-hidden="true"
				style="float: right; position: relative; color: gray"></span>
			</a> <a ng-class="{'disabled':$state.current.name.indexOf('organization.role') == 0}" ui-sref="organization.role" class="list-group-item ng-binding"
				style="color: rgb(51, 51, 51)">Roles<span
				class="glyphicon glyphicon-chevron-right" aria-hidden="true"
				style="float: right; position: relative; color: gray"></span>
			</a>
		</div>
	</div>
	<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 col-centered">
		<div ui-view>
		<h1>Your Organization</h1>
		</div>
	</div>
</div>
