<div class="panel panel-default" style="font-weight: 400; min-height: 175px; margin-bottom: 0px; padding-bottom: 0px;">
	<div class="panel-title"
		style="padding: 10px; border-bottom-color: rgb(217, 217, 217); border-bottom-style: solid; border-bottom-width: thin;">
		<div class="pull-right">
			<button type="submit" ng-click="roleSave()" class="btn btn-viglet">Save</button>
		</div>
		<div  ng-if="role.id === null">
			<p style="font-size: 18px; color: #FF6347; margin: 0px;" class="ng-binding">New Role</p>
			<p style="font-size: 14px; color: rgb(182, 182, 182); margin: 0px;" class="ng-binding">Add new Role</p>
		</div>
		<div  ng-if="role.id !== null">
			<p style="font-size: 18px; color: #FF6347; margin: 0px;" class="ng-binding">{{role.name}}</p>
			<p style="font-size: 14px; color: rgb(182, 182, 182); margin: 0px;" class="ng-binding">{{role.description}}</p>
		</div>
	</div>
	<div class="panel-body">
		<div class="form-group">
			<label for="name">Role Name</label> <input type="input" class="form-control" id="name" ng-model="role.name"
				placeholder="Role Name">
		</div>
		<div class="form-group">
			<label for="firstName">Description</label> <input type="input" class="form-control" id="description"
				ng-model="role.description" placeholder="Description">
		</div>
		<div style="border-color: #f5f5f5; border-style: solid; border-width: 2px;">

			<div style="background-color: #f5f5f5; padding: 10px">
				<button ng-click="addRelatorItem(shPost, shPostAttr)" class="btn btn-viglet">Add Group</button>
			</div>
			<div style="padding: 10px">
				<div>
					<div class="list-group-item">
						<div style="display: inline-table; width: calc(100% - 120px);">
							<a href ng-click="selectRelatorItem(shPostAttr, shChildrenRelatorItem)">Admin</a>
						</div>
						<div style="display: inline-table">
							<button type="button" class="btn btn-link btn-xs pull-right" style="display: block;"
								ng-click="relatorDelete(shPostAttr,$index)">
								<i class="fa fa-trash-o" aria-hidden="true"></i> Delete
							</button>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>