<nav class="navbar navbar-default navbar-fixed-top row  row-centered" role="navigation">
	<div class="container-fluid col-centered col-lg-12 col-md-12 col-sm-12 col-xs-12"
		style="margin-left: 30px; margin-right: 30px">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="row">
			<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
				<a class="navbar-brand" href="#viglet" style="display: flex;">
					<div style="background: tomato;width: 40px;height: 40px;color: antiquewhite;padding-top: 6px;padding-left: 4px;font-size: 18px;font-weight:  bolder; border-width: 1px; border-style: solid;border-radius: 5px;box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);margin-right: 20px;
						margin-top: 3px;">
						<div style="margin-top: 8px;">
							Sh
						</div>
					</div>
					<div class="hidden-xs"
						style="margin-top: 17px; color: #444; font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif; font-size: 20px; line-height: 1; letter-spacing: .02em; font-weight: 400;">
						Shio CMS</div>
				</a>
			</div>


			<div class="col-lg-7 col-md-7 col-sm-5 col-xs-7" style="padding-top: 7px"
				ng-include="'/template/search/search-box.html'"></div>
			<div class="col-lg-3 col-md-3 col-sm-4 hidden-xs">
				<nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
					<ul class="nav navbar-nav navbar-right">

						<li class="dropdown" style="margin-right: 55px;"><a href class="dropdown-toggle"
								data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"
								style="padding-top: 7px;padding-bottom: 8px;padding-left: 18px;">
								<ng-avatar round-shape="true" string="{{principal.firstName}} {{principal.lastName}}"
									bind="true" bg-color="#ff6347" text-color="antiquewhite" picture-resolution="256"
									width="32" pixelated="false"></ng-avatar>
							</a>
							<ul class="dropdown-menu">
								<li style="padding-left: 10px;">{{principal.firstName}} {{principal.lastName}}</li>
							</ul>
						</li>
					</ul>
				</nav>
			</div>

		</div>

	</div>
	<!-- /.container-fluid -->
</nav>