<nav class="sidebar-menu">
    <ul>
        <li>
            <a href="/content#!/home">
                <i class="fa fa-sidebar fa-home fa-2x fa-2x-sidebar"></i>
                <span class="nav-text">
                    Dashboard
                </span>
            </a>

        </li>
        <li>
            <a href="/content#!/post/type">
                <i class="fa fa-sidebar fa-cubes fa-2x fa-2x-sidebar"></i>
                <span class="nav-text">
                    Modeling
                </span>
            </a>

        </li>
        <li>
            <a href="/content#!/playground">
                <i class="fa fa-sidebar fa-play fa-2x fa-2x-sidebar"></i>
                <span class="nav-text">
                    API Playground
                </span>
            </a>

        </li>
        <li class="has-subnav">
            <a href="/stock" target="_blank">
                <i class="fa fa-sidebar fa-pagelines fa-2x fa-2x-sidebar"></i>
                <span class="nav-text">
                    Stock
                </span>
            </a>

        </li>

    </ul>

    <ul class="sidebar-bottom">
        <li>
            <a href="/content#!/admin">
                <i class="fa fa-sidebar fa-cogs fa-2x fa-2x-sidebar"></i>
                <span class="nav-text">
                    Administration Console
                </span>
            </a>

        </li>
        <li>
            <a href="/content#!/config">
                <i class="fa fa-sidebar fa-sliders fa-2x fa-2x-sidebar"></i>
                <span class="nav-text">
                    Configuration Console
                </span>
            </a>

        </li>
        <li>
            <a href="https://shio.readme.io/docs" target="_blank">
                <i class="fa fa-sidebar fa-book fa-2x fa-2x-sidebar"></i>
                <span class="nav-text">
                    Documentation
                </span>
            </a>
        </li>
        <li>
            <a href="https://shiocms.slack.com" target="_blank">
                <i class="fa fa-sidebar fa-comments fa-2x fa-2x-sidebar"></i>
                <span class="nav-text">
                    Community
                </span>
            </a>
        </li>
        <li>
            <a href="https://github.com/ShioCMS" target="_blank">
                <i class="fa fa-sidebar fa-github fa-2x fa-2x-sidebar"></i>
                <span class="nav-text">
                    GitHub
                </span>
            </a>
        </li>
        <li>
            <a href ng-click="logout()">
                <i class="fa fa-sidebar fa-power-off fa-2x fa-2x-sidebar"></i>
                <span class="nav-text">
                    Logout
                </span>
            </a>
        </li>
    </ul>
</nav>