<div *ngIf="(getShObjectList() | async) as objectList; else loading">
    <shio-repository-tabs [shSite]="objectList.shSite" [tabIndex]="1"></shio-repository-tabs>
    <div class="clearfix overflow-hidden px-3 px-md-4 px-lg-5 mt-4">
        <div id="col-left" class="float-left" style="width: calc(100% - 300px);">
            <shio-box-list [objectList]="objectList"></shio-box-list>
        </div>
        <div id="col-right" class="float-right" style="width: 280px;">
            <div class="border-bottom" style="padding-bottom: 20px;margin-bottom: 20px;">
                <shio-repository-about [shSite]="objectList.shSite"></shio-repository-about>
            </div>
            <shio-post-type-report [shSite]="objectList.shSite"></shio-post-type-report>
        </div>
    </div>
</div>
<ng-template #loading>
    <span>Loading</span><span class="AnimatedEllipsis"></span>
</ng-template>