<div class="panel panel-default" style="font-weight: 400; min-height: 175px; margin-bottom: 0px; padding-bottom: 0px;">
	<div class="panel-title"
		style="padding: 10px; border-bottom-color: rgb(217, 217, 217); border-bottom-style: solid; border-bottom-width: thin;">
		<div class="pull-right">
			<button type="submit" ng-click="userSave()" class="btn btn-viglet">{{'SETTINGS_SAVE_CHANGES'
				| translate }}</button>
		</div>
		<div ng-if="user.username === null">
			<p style="font-size: 18px; color: #FF874B; margin: 0px;" class="ng-binding">New User</p>
			<p style="font-size: 14px; color: rgb(182, 182, 182); margin: 0px;" class="ng-binding">Add new User</p>
		</div>
		<div ng-if="user.username !== null">
			<p style="font-size: 18px; color: #FF874B; margin: 0px;" class="ng-binding">{{user.username}}</p>
			<p style="font-size: 14px; color: rgb(182, 182, 182); margin: 0px;" class="ng-binding">{{user.firstName}}
				{{user.lastName}}
			</p>
		</div>
	</div>
	<div class="panel-body">
		<div class="form-group">
			<label for="name">{{'USERNAME' | translate }}</label>
			<p ng-if="valid==false" style="font-size: 12px; color: rgb(182, 182, 182); margin: 0px;">{{msg}}</p>
			<input autocomplete="new-password" type="input" class="form-control" maxlength="15" ng-model="user.username"
				ng-change="validateUsername()" id="account_username" name="account_username" value="{{username}}"
				placeholder="{{'FIRST_NAME' | translate }}">
		</div>

		<div class="form-group">
			<label for="firstName">{{'FIRST_NAME' | translate }}</label> <input autocomplete="new-password" type="input"
				class="form-control" id="firstName" ng-model="user.firstName"
				placeholder="{{'FIRST_NAME' | translate }}">
		</div>

		<div class="form-group">
			<label for="firstName">{{'LAST_NAME' | translate }}</label> <input autocomplete="new-password" type="input"
				class="form-control" id="lastName" ng-model="user.lastName" placeholder="{{'LAST_NAME' | translate }}">
		</div>

		<div class="form-group">
				<label for="email">E-mail</label> <input autocomplete="new-password" type="input"
					class="form-control" id="email" ng-model="user.email" placeholder="E-mail">
			</div>

		<div class="form-group">
			<label for="firstName">{{'PASSWORD' | translate }}</label> <input autocomplete="new-password"
				type="password" class="form-control" id="password" ng-model="user.password"
				placeholder="{{'PASSWORD' | translate }}">
		</div>

		<div style="border-color: #f5f5f5; border-style: solid; border-width: 2px;">

			<div style="background-color: #f5f5f5; padding: 10px">
				<button ng-click="addGroups()" class="btn btn-viglet">Add Group</button>
			</div>
			<div style="padding: 10px">
				<div class="list-group-item" ng-repeat="shGroup in user.shGroups">
					<div style="display: inline-table; width: calc(100% - 120px);">
						{{shGroup.name}}
					</div>
					<div style="display: inline-table">
						<button type="button" class="btn btn-link btn-xs pull-right" style="display: block;"
							ng-click="removeGroup($index)">
							<i class="fa fa-trash-o" aria-hidden="true"></i> Remove
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>