<div class="list-group" style="overflow-x: hidden;overflow-y: scroll;max-height: 400px;padding: 15px;">
	<!--  Folders  -->
	<a ng-repeat="shFolder in shFolders | filter:$ctrl.shSearchFilter | orderBy:$ctrl.orderByFolderSelected" class="list-group-item" ng-click="folderList(shFolder)" href
		style="color: #337ab7;">
		<div class="row">
			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
				<i class="fa fa-folder-open fa-2x" aria-hidden="true"></i>
			</div>
			<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
				<div>{{shFolder.name}}</div>
				<div><span am-time-ago="shFolder.date" style="color: gray"></span></div>
			</div>	
			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
				<span class="label label-primary">Folder</span>
			</div>
		</div>

	</a>
	<!--  Posts  -->
	<a ng-repeat="shPost in shPosts | filter:$ctrl.shSearchFilter | orderBy:$ctrl.orderByPostSelected" class="list-group-item" href ng-click="selectedPost(shPost)">
		<div class="row">
			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
				<i class="fa fa-file-o fa-2x" aria-hidden="true"> </i>
			</div>
			<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
				<div>{{shPost.title}}</div> 
				<div><span am-time-ago="shPost.date" style="color: gray"></span></div>
			</div>
			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
				<span class="label label-shio">
					{{shPost.shPostType.title}}</span>
			</div>
		</div>
	</a>
</div>