<div ui-view>
	<div style="margin-bottom: 25px;">
		<ul class="breadcrumb" style="margin-top: 5px; margin-bottom: 5px;">
			<li>E-Commerce</li>
		</ul>
	</div>
	<div class="settings">
		<section class="content no-padding">

			<fieldset class="user-details-top" style="margin-bottom: 30px">

				<div class="form-group">
					<h3>Configure your e-commerce</h3>
				</div>
				<div class="pull-right" style="margin: -40px 0 0;">
					<a ui-sref="content.home" class="btn btn-viglet">Or Edit your
						Content</a>

				</div>
			</fieldset>
		</section>
	</div>
	<div class="row">
		<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
			<div class="thumbnail">
				<a ui-sref="content.ecommerce.setting">
					<div
						style="background-color: #FF874B; text-align: right; height: 200px">
						<img src="img/ecommerce-settings.png" alt="nlp"
							style="padding: 15px">
						<h3
							style="color: white; position: absolute; left: 30px; top: 170px; z-index: 10">Settings</h3>
					</div>
				</a>
				<div class="caption">
					<p>E-Commerce Settings</p>
					<p>
						<a ui-sref="content.ecommerce.setting"
							class="btn btn-viglet btn-lg btn-block" role="button">Settings</a>
					</p>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
			<div class="thumbnail">
				<a ui-sref="content.ecommerce.payment">
					<div
						style="background-color: #3399ff; text-align: center; height: 200px">
						<img src="img/payment.png" alt="nlp" style="padding: 15px">
						<h3
							style="color: white; position: absolute; left: 30px; top: 170px; z-index: 10">Payment
							Types</h3>
					</div>
				</a>
				<div class="caption">
					<p>Payment Types</p>
					<p>
						<a ui-sref="content.ecommerce.payment"
							class="btn btn-primary btn-lg btn-block" role="button">Configure</a>
					</p>
				</div>
			</div>
		</div>

	</div>
</div>
