<div style="margin-bottom: 25px;">
		<ul class="breadcrumb" style="margin-top: 5px; margin-bottom: 5px;">
			<li><a
				ui-sref="content.ecommerce"
				ui-sref-opts="{reload:true}">E-Commerce</a></li>
			<li>Payment Types</li>
		</ul>
	</div>
<h1>Payment Types</h1>

<uib-accordion close-others="oneAtATime">
<div uib-accordion-group class="panel-default" heading="Rede Card" template-url="template/ecommerce/rede-card/rede-card.html">

</div>
<div uib-accordion-group class="panel-default" heading="Boletos" template-url="template/ecommerce/boletos/boletos.html">

</div>
</uib-accordion>