<div class="settings">
	<section class="content no-padding" style="height: 170px;">

		<header class="user-profile-header">
			<img id="user-cover" class="cover-image" src="/img/user-cover.png"
				title="Alexandre Oliveira's Cover Image">

			<!--  <a class="edit-cover-image js-modal-cover button" href="#">Change Cover</a> -->
		</header>

		<form class="user-profile" novalidate="novalidate">

			<fieldset class="user-details-top">

				<figure class="user-image">
					<div id="user-image" class="img"
						style="background-image: url(http://www.gravatar.com/avatar/169ed50aa94be9aadfc771bc5d9f9255.php);"
						href="#">
						<span class="hidden">Alexandre Oliveira's Picture</span>
					</div>
					<!--   <a href="#" class="edit-user-image js-modal-image">Edit Picture</a> -->
				</figure>

				<div class="form-group">
					<h3>
						{{shUser.firstName}}, <small>What would you like to post?</small>
					</h3>
				</div>
				<div class="pull-right" style="margin: -40px 0 0;">
					<a href="/post/type/editor/" class="btn btn-default">Or model a
						new Post Type</a>

				</div>
			</fieldset>
		</form>
	</section>
</div>




<div class="row">
	<div class="col-md-2">
		<div class="well">
			<a href="/post/editor/"><h3>Text</h3></a>
		</div>

		</p>
	</div>
	<div class="col-md-2">
		<div class="well">
			<a href="newcontent.php"><h3>Photo</h3>
		</div>
	</div>
	<div class="col-md-2">
		<div class="well">
			<a href="newcontent.php"><h3>Video</h3>
		</div>
	</div>
	<div class="col-md-2">
		<div class="well">
			<a href="newcontent.php"><h3>Quote</h3></a>
		</div>
	</div>
	<div class="col-md-2">
		<div class="well">
			<a href="newcontent.php"><h3>Link</h3></a>
		</div>
	</div>
	<div class="col-md-2">
		<div class="well">
			<a href="newcontent.php"><h3>File</h3></a>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-4"
		ng-repeat="shPostType in shPostTypes | filter:query | orderBy:orderProp">
		<div class="well">
			<a href="#"><span class="glyphicon glyphicon-star-empty close"></span></a>
			<a href="/post/type/attributes/{{shPostType.id}}/"><span
				class="glyphicon glyphicon-pencil close"></span></a> <a
				href="/post/editor/{{shPostType.id}}/"><h1>
					{{shPostType.title}} <br /> <small>
						{{shPostType.description}} </small>
				</h1></a>
		</div>
	</div>
</div>
