<div class="settings">
	<section class="content no-padding" style="height: 170px;">

		<header class="user-profile-header">
			<img id="user-cover" class="cover-image" src="/img/user-cover.png"
				title="Alexandre Oliveira's Cover Image">

			<!--  <a class="edit-cover-image js-modal-cover button" href="#">Change Cover</a> -->
		</header>

		<form class="user-profile" novalidate="novalidate">

			<fieldset class="user-details-top">

				<figure class="user-image">
					<div id="user-image" class="img"
						ng-style="{'background-image':'url(' + shUser.gravatar +')'}"
						href="#"></div>
					<!--   <a href="#" class="edit-user-image js-modal-image">Edit Picture</a> -->
				</figure>

				<div class="form-group">
					<h3>
						{{shUser.firstName}}, <small>model your new Post Type</small>
					</h3>
				</div>
				<div class="pull-right" style="margin: -40px 0 0;">
					<a ui-sref="content.post-type-select" class="btn btn-default">Or
						select other Post Type</a>

				</div>
			</fieldset>
		</form>
	</section>
</div>

<div class="row">
	<div class="col-md-2">
		<ul class="nav nav-pills nav-stacked">
			<li class="nav-header">Post Type</li>

			<li><a href="/post/type/attributes/">Model</a></li>

			<li class="nav-header">Attributes</li>

			<li class="nav-header">Look & Feel</li>
			<li><a href="#">Style</a></li>
			<li><a href="#">Templates</a></li>

			<li class="nav-header">Developer</li>
			<li><a href="#">API</a></li>
			<li><a href="#">Documentation</a></li>

		</ul>
	</div>
	<div class="col-md-10">
		<input type="hidden" id="jpid" name="jpid" value="">
		<div class="form-group">
			<label for="field1">Name</label> <input type="text" id="title"
				name="title" class="form-control" placeholder="Post Type Name"
				ng-model="shPostType.title">
		</div>
		<div class="form-group">
			<label for="field2">Description</label>
			<textarea id="description" name="description" class="form-control"
				placeholder="About this Post Type" ng-model="shPostType.description"></textarea>
		</div>
		<div class="form-group">
			<label>Identifier</label> <input type="text" id="name" name="name"
				class="form-control" placeholder="Identfier"
				ng-model="shPostType.name">
		</div>
		<div class="btn-group">
			<button ng-click="postTypeSave()" class="btn btn-primary">Save
				changes</button>
			<a class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
				href="#"><span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="#"><i class="icon-trash"></i> Delete</a></li>
				<li><a href="duplicatecontent.php"><i
						class="icon-plus-sign"></i> Duplicate</a></li>
			</ul>
		</div>
		<button type="button" class="btn btn-default">Cancel</button>
	</div>
</div>
