.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: lightgrey;
  text-align: center;
}
.row {
  width: 100%;
  text-align: center;
}
.block {
  width: 100px;
  display: inline-block;
}

.button {
  color: royalblue;
  font-size: 14px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  text-transform: uppercase;
  border-right-style: groove;
}

.region {
  border-style: dashed;
  border-color: lightblue;
  border-width: thin;
}
.region-menu {
    width: 85px;
    float: right;
    position: relative;
}

.region-menu-inner {
    height: 32px;
    vertical-align: middle;
    display: table-cell;
    z-index: 10;
    position: absolute;
    top: 0px;
    width: 85px;
    background-color: lightgrey;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.region-menu-item {
    margin-right: 4px;
    margin-left: 4px;
    width: 32px;
    display: inline-block;
    padding-top: 7px;
}

.region-menu-item-icon {
    width: 15px;
    height: 15px;
}