<div class="row list-group" style="overflow-x: hidden;overflow-y: scroll;max-height: 400px;padding: 15px;">
	<!--  Sites  -->
	<a ng-repeat="shSite in shSites | filter:$ctrl.shSearchFilter | orderBy:$ctrl.orderByFolderSelected"
		class="list-group-item" ng-dblclick="objectList(shSite.id)" ng-click="selectedObject(shSite)" href
		style="color: #337ab7;" ng-if="$ctrl.folderDoubleClick">
		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
				<i class="fa fa-sitemap fa-2x" aria-hidden="true"></i>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
				<div>{{shSite.name}}</div>
				<div><span am-time-ago="shFolder.date" style="color: gray"></span></div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
				<span class="label label-primary">Site</span>
			</div>
		</div>

	</a> <a ng-repeat="shSite in shSites | filter:$ctrl.shSearchFilter | orderBy:$ctrl.orderByFolderSelected"
		class="list-group-item" ng-click="objectList(shSite.id)" href style="color: #337ab7;"
		ng-if="$ctrl.folderDoubleClick == false">
		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
				<i class="fa fa-folder-open fa-2x" aria-hidden="true"></i>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
				<div>{{shSite.name}}</div>
				<div><span am-time-ago="shFolder.date" style="color: gray"></span></div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
				<span class="label label-primary">Site</span>
			</div>
		</div>

	</a>
	<!--  Folders  -->
	<a ng-repeat="shFolder in shFolders | filter:$ctrl.shSearchFilter | orderBy:$ctrl.orderByFolderSelected"
		class="list-group-item" ng-dblclick="objectList(shFolder.id)" ng-click="selectedObject(shFolder)" href
		style="color: #337ab7;" ng-if="$ctrl.folderDoubleClick">
		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
				<i class="fa fa-folder-open fa-2x" aria-hidden="true"></i>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
				<div>{{shFolder.name}}</div>
				<div><span am-time-ago="shFolder.date" style="color: gray"></span></div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
				<span class="label label-primary">Folder</span>
			</div>
		</div>

	</a> <a ng-repeat="shFolder in shFolders | filter:$ctrl.shSearchFilter | orderBy:$ctrl.orderByFolderSelected"
		class="list-group-item" ng-click="objectList(shFolder.id)" href style="color: #337ab7;"
		ng-if="$ctrl.folderDoubleClick == false">
		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
				<i class="fa fa-folder-open fa-2x" aria-hidden="true"></i>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
				<div>{{shFolder.name}}</div>
				<div><span am-time-ago="shFolder.date" style="color: gray"></span></div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
				<span class="label label-primary">Folder</span>
			</div>
		</div>

	</a>
	<!--  Posts  -->
	<a ng-repeat="shPost in shPosts | filter:$ctrl.shSearchFilter | orderBy:$ctrl.orderByPostSelected"
		class="list-group-item" href ng-click="selectedObject(shPost)">
		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
				<i class="fa fa-file-o fa-2x" aria-hidden="true"> </i>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
				<div>{{shPost.title}}</div>
				<div><span am-time-ago="shPost.date" style="color: gray"></span></div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
				<span class="label label-shio">
					{{shPost.shPostType.title}}</span>
			</div>
		</div>
	</a>
</div>