<style>
    .button {
        -moz-appearance: button;
        /* Firefox */
        -webkit-appearance: button;
        /* Safari and Chrome */
        padding: 10px;
        margin: 10px;
        width: 70px;
    }

    .drop-box {
        background: #F8F8F8;
        border: 5px dashed #DDD;
        height: 300px;
        text-align: center;
        padding-top: 25px;
        margin: 10px;
    }

    .dragover {
        border: 5px dashed blue;
    }
</style>
<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Upload Files</h3>
</div>
<div class="modal-body" style="min-height: 400px;">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-hide="hasFiles">
        <div ngf-drop ngf-select ng-model="shFiles" class="drop-box" ngf-drag-over-class="'dragover'"
            ngf-multiple="true" ngf-allow-dir="true" style="display: flex;">
            <div
                style="margin: auto;width: 50%;vertical-align: middle;font-size: 30px;font-weight: bolder;line-height: normal;">
                Drop files here or
                click to upload</div>
        </div>
        <div ngf-no-file-drop style="margin: auto;width: 50%;vertical-align: middle;">File Drag/Drop is not supported
            for this
            browser</div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-show="hasFiles">
        <div ng-repeat="f in files">
            <h4>{{f.name}} {{f.$errorParam}}</h4>
            <div ng-show="f.error == null">
                <div class="alert alert-info" role="alert" ng-show="f.progress == null">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    Ready to upload. Click to Upload Button
                </div>
                <div class="progress" ng-show="f.progress >= 0 && f.progress < 100">
                    <div class="progress-bar progress-bar-striped active" role="progressbar"
                        aria-valuenow="{{f.progress}}" aria-valuemin="0" aria-valuemax="100"
                        style="width: {{f.progress}}%">
                        <span class="sr-only">{{f.progress}} Complete</span>
                    </div>
                </div>
                <div class="alert alert-success" role="alert" ng-show="f.progress >= 100">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    Upload Completed
                </div>
            </div>
            <div ng-show="f.error != null">
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    {{f.error}}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-viglet" type="button" ng-click="$ctrl.uploadFiles()"
        ng-disabled="!hasFiles || startUpload">Upload</button>
    <button class="btn btn-default" type="button" ng-click="$ctrl.cancel()">{{closeButtonLabel}}</button>
</div>