<table class="table" style="margin: 0px;">
	<caption style="display:none">Recaptcha</caption>
	<tr>
		<th scope="row" style="background: #F9F9F9; width: 20%;">
			<p>
				<strong>Site key</strong>
			</p>
			<p>Use this in the HTML code your site serves to users.</p>
		</th>
		<td><input type="text" class="form-control" ng-model="shPostTypeAttr.widgetSettingsObject.siteKey"></td>
	</tr>
	<tr>
		<th scope="row" style="background: #F9F9F9; width: 20%;">
			<p>
				<strong>Secret key</strong>
			</p>
			<p>Use this for communication between your site and Google. Be
				sure to keep it a secret.</p>
		</th>
		<td><input type="text" class="form-control" ng-model="shPostTypeAttr.widgetSettingsObject.secretKey"></td>
	</tr>
</table>