<div ng-include="'template/breadcrumb/breadcrumb.html'"></div>

<div class="settings" style="margin-top: 25px">
	<section class="content no-padding">
		<fieldset class="user-details-top" style="margin-bottom: 30px">
			<div class="form-group">
				<h3>Edit your {{shSite.name}} Site</h3>
			</div>
		</fieldset>
	</section>
</div>

<div
	style="background-color: #FFF0E8;; height: 55px; width: 100%; padding: 10px; margin-bottom: 10px"
	class="affix-top" data-spy="affix" data-offset-top="147">
	<div class="form-actions">
		<div class="pull-right">
			<div class="btn-group">
				<a href ng-click="siteSave()" class="btn btn-viglet">Save And
					Close</a> <a class="btn btn-viglet dropdown-toggle"
					data-toggle="dropdown" href><span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a ng-click="siteExport()" href>Export</a></li>
					<li><a ng-click="siteDelete()" href>Delete</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	<div class="form-group">
		<label for="field1">Name</label> <input type="text" id="name"
			name="name" class="form-control" placeholder="Site Name"
			ng-model="shSite.name">
	</div>
	<div class="form-group">
		<label for="field1">Description</label> <input type="text"
			id="description" name="description" class="form-control"
			placeholder="Site Description" ng-model="shSite.description">
	</div>
	<div class="form-group">
		<label for="field1">URL</label> <input type="text" id="url" name="url"
			class="form-control" placeholder="Site URL" ng-model="shSite.url">
	</div>
	<div class="form-group">
		<label for="field1">Post Type and Page Layout Association</label>
		<textarea class="form-control" rows="4" cols="50"
			ng-model="shSite.postTypeLayout">
		</textarea>
	</div>
</div>
