<div>
  <div class="clearfix overflow-hidden px-3 px-md-4 px-lg-5 bg-gray-light pt-3 pb-3">
    <div class="float-left d-flex flex-items-center">
      <span octicon="repo" size="16" class="mr-1" style="color: #959da5;"></span>
      <a [routerLink]="['/content/object/list', shSite.id]" routerLinkActive="active"
        style="font-size: larger;font-weight: 600;">{{shSite.name}}</a>
    </div>

    <div class="float-right d-flex flex-items-center">
      <span title="Label: green outline label" class="Label Label--outline Label--outline-green mr-3">Published</span>
      <div class="mr-2">
        <a [routerLink]="['/content/commit', shSite.id]" class="btn btn-sm btn-with-count" href="#url" role="button">
          <span octicon="history" size="16" class="mr-1"></span>
          <span>Commit</span>
        </a>
        <a [routerLink]="['/content/commit', shSite.id]" class="social-count">{{getCommitCount() | async}}</a>
      </div>
      <div class="mr-2">
        <button class="btn btn-sm btn-with-count" href="#url" role="button">
          <span octicon="people" size="16" class="mr-1"></span>
          <span>Contributor</span>
        </button>
        <button class="social-count" href="#url">1</button>
      </div>
      <button class="btn btn-sm" type="button">
        <span octicon="eye" size="16" class="mr-1"></span> View Site
      </button>
    </div>
  </div>
  <nav class="UnderlineNav overflow-hidden px-3 px-md-4 px-lg-5 bg-gray-light" aria-label="Dashboard Tabs">
    <div class="UnderlineNav-body">
      <a [routerLink]="['/content/object/list', shSite.id]" routerLinkActive="active"
        class="UnderlineNav-item d-flex flex-items-center" [class.selected]="tabIndex == 1">
        <span octicon="note" size="16" [style.color]="tabIndex == 1?'':'#959da5'" class="mr-2"></span> Content
      </a>
      <a [routerLink]="['/content/repo', shSite.id]" routerLinkActive="active"
        class="UnderlineNav-item d-flex flex-items-center" [class.selected]="tabIndex == 2">
        <span octicon="gear" size="16" [style.color]="tabIndex == 2?'':'#959da5'" class="mr-2"></span> Settings
      </a>
    </div>
  </nav>
</div>