
<label th:text="|${shPostTypeAttr.label}|"></label>

<ul class="nav nav-tabs">
	<li th:each="paymentType,iter : ${paymentTypes}" class="nav-item">
		<a th:href="'#' + ${paymentType.get('identifier')}"
		th:aria-controls="${paymentType.get('identifier')}" role="tab"
		data-toggle="tab"
		th:class="'nav-link'  +  (${iter.index == 0}? ' active':'')"
		th:text="${paymentType.get('name')}"> </a>
	</li>
</ul>
<input type="hidden" class="form-control" size="50"
	th:name="${'__sh-post-type-attr-' + shPostTypeAttr.name}">

<!-- Tab panes -->
<div class="tab-content" style="margin-top: 10px;">
	<div th:each="paymentType,iter : ${paymentTypes}" role="tabpanel"
		th:class="'tab-pane' +  (${iter.index == 0}? ' active':'')"
		th:id="${paymentType.get('identifier')}">
		<div th:insert="${paymentType.get('formPath')}"></div>
	</div>
</div>