<!DOCTYPE html>
<html lang="en" ng-app="shioApp" style="min-height: 100%;">

<head>
	<meta charset="utf-8">
	</meta>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	</meta>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	</meta>
	<title ng-bind="$state.current.data.pageTitle">Viglet Shio CMS</title>
	<link href="../thirdparty/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet">
	</link>
	<link href="../thirdparty/angular-ui-notification/0.3.6/dist/angular-ui-notification.min.css" rel="stylesheet">
	</link>
	<link href="../thirdparty/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	</link>
	<link th:href="@{/css/viglet.css}" rel="stylesheet">
	</link>
	<link  th:href="@{/favicon.ico}" rel="shortcut icon" type="image/x-icon" />
	<link rel="apple-touch-icon" sizes="57x57" th:href="@{/apple-icon-57x57.png}">
	<link rel="apple-touch-icon" sizes="60x60" th:href="@{/apple-icon-60x60.png}">
	<link rel="apple-touch-icon" sizes="72x72" th:href="@{/apple-icon-72x72.png}">
	<link rel="apple-touch-icon" sizes="76x76" th:href="@{/apple-icon-76x76.png}">
	<link rel="apple-touch-icon" sizes="114x114" th:href="@{/apple-icon-114x114.png}">
	<link rel="apple-touch-icon" sizes="120x120" th:href="@{/apple-icon-120x120.png}">
	<link rel="apple-touch-icon" sizes="144x144" th:href="@{/apple-icon-144x144.png}">
	<link rel="apple-touch-icon" sizes="152x152" th:href="@{/apple-icon-152x152.png}">
	<link rel="apple-touch-icon" sizes="180x180" th:href="@{/apple-icon-180x180.png}">
	<link rel="icon" type="image/png" sizes="192x192" th:href="@{/android-icon-192x192.png}">
	<link rel="icon" type="image/png" sizes="32x32" th:href="@{/favicon-32x32.png}">
	<link rel="icon" type="image/png" sizes="96x96" th:href="@{/favicon-96x96.png}">
	<link rel="icon" type="image/png" sizes="16x16" th:href="@{/favicon-16x16.png}">	
	<link rel="manifest" th:href="@{/manifest.json}">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
	<link rel="stylesheet" href="../thirdparty/angular-ui-select/0.19.8/dist/select.css">
	<link rel="stylesheet" href="../thirdparty/angular-bootstrap-toggle/0.4.2/dist/angular-bootstrap-toggle.css">
</head>

<body data-target=".navbar-default" style="min-height: 100%;">
	<div ui-view></div>

	<script src="../thirdparty/jquery/1.12.4/jquery.min.js"></script>
	<script src="../thirdparty/jquery.ui/1.11.3/ui/core.js"></script>
	<script src="../thirdparty/jquery.ui/1.11.3/ui/widget.js"></script>
	<script src="../thirdparty/jquery.ui/1.11.3/ui/mouse.js"></script>
	<script src="../thirdparty/jquery.ui/1.11.3/ui/sortable.js"></script>
	<script src="../thirdparty/tinymce/5.9.2/tinymce.min.js"></script>
	<script th:src="@{/js/sh-tinymce/sh-tinymce.js}"></script>
	<script src="../thirdparty/ace-builds/1.4.12/src-min-noconflict/ace.js"></script>

	<script src="../thirdparty/moment/2.29.3/min/moment-with-locales.min.js"></script>
	<script src="../thirdparty/angular/1.8.2/angular.min.js"></script>
	<script src="../thirdparty/angular-resource/1.8.2/angular-resource.min.js"></script>
	<script src="../thirdparty/angular-animate/1.8.2/angular-animate.min.js"></script>
	<script src="../thirdparty/angular-cookies/1.8.2/angular-cookies.min.js"></script>
	<script src="../thirdparty/angular-sanitize/1.8.2/angular-sanitize.min.js"></script>
	<script src="../thirdparty/angular-ui-sortable/0.14.3/sortable.min.js"></script>
	<script src="../thirdparty/angular-ui-router/1.0.29/release/angular-ui-router.min.js"></script>
	<script src="../thirdparty/angular-translate/2.19.0/dist/angular-translate.min.js"></script>
	<script src="../thirdparty/angular-moment/1.2.0/angular-moment.min.js"></script>
	<!-- shim is needed to support non-HTML5 FormData browsers (IE8-9)-->
	<script src="../thirdparty/ng-file-upload/12.2.13/ng-file-upload-shim.min.js"></script>
	<script src="../thirdparty/ng-file-upload/12.2.13/ng-file-upload.min.js"></script>
	<script src="../thirdparty/angular-ui-notification/0.3.6/dist/angular-ui-notification.min.js"></script>
	<script src="../thirdparty/angular-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
	<script src="../thirdparty/angular-ui-tinymce/0.0.19/dist/tinymce.min.js"></script>
	<script src="../thirdparty/angular-ui-select/0.19.8/dist/select.min.js"></script>	
	<script src="../thirdparty/angular-avatar/1.3.0/angular-avatar.min.js"></script>
	<script src="../thirdparty/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
	<script src="../thirdparty/angular-ui-ace/0.2.3/ui-ace.min.js"></script>
	<script src="../thirdparty/angular-bootstrap-toggle/0.4.2/dist/angular-bootstrap-toggle.min.js"></script>
	<script src="../thirdparty/ngInfiniteScroll/1.3.4/build/ng-infinite-scroll.min.js"></script>
	<script th:src="@{/js/dist/shio.min.js}"></script>
</body>

</html>