<div style="background-color: #f9f9f9; height: 100vh;padding-top: 30px;">
    <div class="px-3" style="width: 340px;margin: 0 auto;" id="login">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="text-center mb-4">
                <shio-logo size="48"></shio-logo>
            </div>
            <div class="f2-light text-center">
                Sign in to Shio CMS
            </div>
            <div class="Box mt-3">
                <div class="Box-body">
                    <div class="form-group-header mb-1"><label>Username</label></div>
                    <div class="form-group-body"><input formControlName="username" type="text" name="login"
                            id="login_field" class="form-control input-block" tabindex="1" autocapitalize="off"
                            autocorrect="off" autocomplete="username" autofocus="autofocus"
                            [ngClass]="{ 'is-invalid': submitted && f.username.errors }"></div>
                    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                        <div *ngIf="f.username.errors.required">Username is required</div>
                    </div>

                    <div class="mb-4 mt-3">
                        <div class="form-group-header mb-1"><label>Password <a class="label-link"
                                    style="float: right;font-size: 12px;" href="#">Forgot password?</a></label></div>
                        <div class="form-group-body"><input formControlName="password" type="password" name="password"
                                id="password" class="form-control form-control input-block" tabindex="2"
                                autocomplete="current-password"
                                [ngClass]="{ 'is-invalid': submitted && f.password.errors }"></div>
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                        </div>
                    </div>

                    <input [disabled]="loading" type="submit" name="commit" value="Sign in" tabindex="3"
                        class="btn btn-primary btn-block" data-disable-with="Signing in…">
                    <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
                </div>
            </div>
            <div class="Box mt-3" style="background-color:inherit;">
                <div class="Box-body">
                    New to Shio CMS? <a href="#">Create an account.</a>
                </div>
            </div>
        </form>
    </div>
</div>