{% extends "login.twig" %}
{% block baseContent %}
    {% include 'regionHeaderSimple.twig' %}
<div class="jumbotron">
    <h1>Sorry, that page doesn’t exist!</h1>
    <p>Thanks for noticing—we're going to fix it up and have things back to normal soon.</p>
</div>
{% endblock %}