<!DOCTYPE html>
<html lang="en" ng-app="japodeApp">
    <head>
        {% block baseHead %}
            {% include 'regionHead.twig' %}
        {% endblock %}            
    </head>
    <body>
        <div class="container">
            {% block baseContent %}
            
            {% endblock %}            
        </div>
        {% block baseJSFooter %}        
            {% include 'regionJSFooter.twig' %}
        {% endblock %}           
    </body>
</html>