<form method="post" action="/post/type/process/basic/" role="form">
    <input type="hidden" id="jpid" name="jpid" value="{{ id }}">  
    <div class="form-group">
        <label for="field1">Name</label>
        <input type="text" id="title" name="title" class="form-control" placeholder="Post Type Name" value="{{ name }}">
    </div>
    <div class="form-group">
        <label for="field2">Description</label>
        <textarea id="description" name="description" class="form-control" placeholder="About this Post Type">{{ description }}</textarea>
    </div>
      <div class="form-group">
         <label>Identifier</label>
        <input type="text" id="name" name="name" class="form-control" placeholder="Identfier" value="">
    </div>
    <div class="btn-group"> <button type="submit" class="btn btn-primary">Save changes</button> <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="#"><i class="icon-trash"></i> Delete</a></li>
            <li><a href="duplicatecontent.php"><i class="icon-plus-sign"></i> Duplicate</a></li>
        </ul>
    </div>
    <button type="button" class="btn btn-default">Cancel</button>
</form>
