<style>
    
      .tt-dropdown-menu {
        width: 540px;  
        padding: 10px;
        background-color: #fff;
        border: 1px solid #000;
      }

      .tt-suggestion.tt-cursor {
        background-color: #ccc;
      }
</style>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Japode</a>
        </div>
    </div><!-- /.container-fluid -->
</nav>
<div style="height: 60px">
   
</div>