<style>
    
      .tt-dropdown-menu {
        width: 540px;  
        padding: 10px;
        background-color: #fff;
        border: 1px solid #000;
      }

      .tt-suggestion.tt-cursor {
        background-color: #ccc;
      }
</style>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Japode</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <div class="row">
                <div class="col-md-6">
                    <form class="navbar-form navbar-left" role="search">
                        <div class="input-group">
                            <input type="text" class="states form-control" style="width:540px" placeholder="Search for people, posts and things">
                            <span class="input-group-btn"><button type="submit" style="top:-2px;" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button></span>
                        </div>
                    </form>
                </div>
                <ul class="nav navbar-nav navbar-right">
                                <li>
                        <a href="http://other.prj.viglet.co">Come back to Intro Site</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-user fa-lg"></i> <span class="badge">+1</span></a>
                    </li>
                     <li>
                        <a href="#" class="disabled"><i class="fa fa-globe fa-lg"></i></a>
                    </li>
                    <li>
                        <a href="/">{{ user.getFirstName() }}</a>
                    </li>
                    <li>
                        <a href="/content">Content</a>
                    </li>
                    
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/profile">Profile</a></li>
                            <li class="divider"></li>
                            <li><a href="/signout">Sign out</a></li>
                        </ul>
                    </li>
                    <li>
                        &nbsp;&nbsp;&nbsp;
                    </li>
                </ul>
            </div>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div style="height: 60px">
   
</div>