<ul class="nav nav-list">
    <li class="nav-header">Site</li>
    <li class="active"><a href="/site/editor">Basic Information</a></li>

    <li class="nav-header">Developer</li>
    <li><a href="#">OAuth2</a></li>
    <li><a href="#">API</a></li>
    <li><a href="#">Documentation</a></li>
</ul>
