
<style>
div.affix {
	top: 55px; /* Set the top position of pinned element */
	left: 0px;
	z-index: 1000;
}
</style>


<div
	style="background-color: #FFF0E8;; height: 55px; width: 100%; padding: 10px; margin-bottom: 10px"
	class="affix-top" data-spy="affix" data-offset-top="147">
	<div class="form-actions">
		<div class="pull-right">
			<button ng-if="principal.admin" ng-click="openProperties()" class="btn btn-default">Properties</button>
			<div class="btn-group">
				<a href ng-click="postSave('DRAFT')" class="btn btn-viglet">Save Draft</a>
				<a class="btn btn-viglet dropdown-toggle" data-toggle="dropdown"
					href><span class="caret"></span></a>
				<ul class="dropdown-menu dropdown-menu-right">
					<li><a ng-click="postDelete()" href>Delete</a></li>
					<li ng-if="!allowPublish"><a ng-click="requestWorkflow('PUBLISH')" href>Request to Publish</a></li>
					<li ng-if="!allowPublish"><a ng-click="postSave('UNPUBLISH')" href>Request to Unpublish</a></li>
					<li ng-if="allowPublish"><a ng-click="postSave('PUBLISH')" href>Publish Now</a></li>
					<li ng-if="allowPublish"><a ng-click="postSave('UNPUBLISH')" href>Unpublish</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<uib-tabset active="active"> <uib-tab
	ng-repeat="tab in tabs  | orderBy: 'ordinal'" index="$index"
	heading="{{tab.name}}">

<div style="padding: 20px">
	<div class="form-group"
		ng-repeat="shPostAttr in shPost.shPostAttrs | filter:{ tab:  tab.name } | orderBy : 'shPostTypeAttr.ordinal'"
		ng-if="shPostAttr.shPostTypeAttr.shWidget.name !== 'Tab'" >

		<div ng-if="shPostAttr.shPostTypeAttr.shWidget.implementationCode !== null">
			<label>{{shPostAttr.shPostTypeAttr.label}}</label>
			<div
				ng-include="shPostAttr.shPostTypeAttr.shWidget.implementationCode"></div>
		</div>

	</div>
</div>
</uib-tab> </uib-tabset>