<div ng-include="'template/breadcrumb/breadcrumb.html'"></div>
<div>
	<h3 ng-if="shPost.id == null">Create your new
		{{shPostType.title}} Post</h3>
	<div ng-if="shPost.id != null">
		<h3>{{shPost.title}}</h3>
		<h4>{{publishStatus}}</h4>
	</div>
</div>
<div class="pull-right" style="margin: -40px 0 0;">
	<button ng-if="shPost.id != null" ng-click="openPreviewURL()" class="btn btn-viglet">
		<i class="fa fa-eye" aria-hidden="true"></i> View Page
	</button>
</div>
<div ng-include="postEditForm"></div>
<div id="error"></div>