<div class="panel-heading">
	<h4 class="panel-title">
		<a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()"
			uib-accordion-transclude="heading"> <span uib-accordion-header
			ng-class="{'text-muted': isDisabled}"> {{heading}} </span>
		</a>
	</h4>
</div>
<div class="panel-collapse collapse" uib-collapse="!isOpen">
	<div class="panel-body" style="padding: 0px">
		<table class="table" style="margin: 0px;">
			<tbody>
				<tr>
					<td style="background: #F9F9F9; width: 20%;">
						<p>
							<b>Recaptcha</b>
						</p>
						<p>Digite a Filiação</p>
					</td>
					<td><input type="text" class="form-control"></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
