<ul class="breadcrumb" style="margin-top: 5px; margin-bottom: 25px;">
	<li><a
		ui-sref="content"
		ui-sref-opts="{reload:true}">Content</a></li>
	<li>Configuration Console</a></li>
</ul>

<div class="row row-centered">
	<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 col-centered">
		<div class="list-group" style="margin-bottom: 10px">
			<a ng-class="{'disabled':$state.current.name.indexOf('config.search') == 0}" ui-sref="config.search"
				class="list-group-item ng-binding" style="color: rgb(51, 51, 51)"><span
				class="glyphicon glyphicon-search" aria-hidden="true" style="margin-right: 10px;"></span> Search<span
					class="glyphicon glyphicon-chevron-right" aria-hidden="true"
					style="float: right; position: relative; color: gray"></span>
			</a>

		</div>
		<div class="list-group" style="margin-bottom: 10px">
			<a ng-class="{'disabled':$state.current.name.indexOf('config.exchange-providers') == 0}"
				ui-sref="config.exchange-providers" class="list-group-item ng-binding"
				style="color: rgb(51, 51, 51)"><span
				class="glyphicon glyphicon-transfer" aria-hidden="true" style="margin-right: 10px;"></span> Exchange Providers<span class="glyphicon glyphicon-chevron-right"
					aria-hidden="true" style="float: right; position: relative; color: gray"></span>
			</a> <a ng-class="{'disabled':$state.current.name.indexOf('config.auth-providers') == 0}"
				ui-sref="config.auth-providers" class="list-group-item ng-binding" style="color: rgb(51, 51, 51)"><span
				class="glyphicon glyphicon-lock" aria-hidden="true" style="margin-right: 10px;"></span> Auth
				Providers<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"
					style="float: right; position: relative; color: gray"></span>
			</a>

		</div>
	</div>
	<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 col-centered">
		<div ui-view>			
		</div>
	</div>
</div>