<div class="list-group" style="overflow-x: hidden;overflow-y: auto;max-height: 400px;padding: 15px;">
	<div class="list-group-item" style="color: white;background-color: #FF6347;">
		<div class="row">
			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
				<input type="checkbox" ng-model="$ctrl.checkAll" ng-click="$ctrl.selectEverything()">
			</div>
			<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">Group Name</div>
		</div>
	</div>
	<div ng-repeat="shGroup in $ctrl.shGroups" class="list-group-item">
		<div class="row">
			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
				<input type="checkbox" ng-model="$ctrl.shStateObjects[shGroup.id]" ng-click="$ctrl.checkSomeItemSelected()">
			</div>
			<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">{{shGroup.name}}</div>
			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
				<span class="label label-shio">Group</span>
			</div>
		</div>
	</div>
</div>