<ul class="breadcrumb" style="margin-top: 5px; margin-bottom: 20px;">
	<li><a ui-sref="content.list({siteId: 'me'})" ui-sref-opts="{reload:true}">Only Me</a></li>
	<li ng-repeat="breacrumbItem in breadcrumb"><a
		ui-sref="content.list.channel-list({siteId: 'me', channelId: breacrumbItem.id})" ui-sref-opts="{reload:true}">{{breacrumbItem.name}}</a></li>
</ul>
<div class="settings">
	<section class="content no-padding">

		<fieldset class="user-details-top" style="margin-bottom: 30px">

			<div class="form-group">

				<h3 ng-if="shPost.id == 0">Create your new {{shPostType.title}}
					Post</h3>
				<h3 ng-if="shPost.id > 0">Edit your {{shPostType.title}} Post</h3>
			</div>
			<div class="pull-right" style="margin: -40px 0 0;">
				<a ui-sref="content.post-type-select" class="btn btn-viglet">Create
					other kind of Post</a>

			</div>
		</fieldset>
	</section>
</div>
<div ng-include="postEditForm"></div>
<div id="error"></div>

