<div class="list-group" ng-hide="thumbs">
	<div ng-if="shFolders.length == 0 && shPosts.length == 0"
		style="padding: 20px; border-style: dashed; border-color: gray;">
		<div style="padding-top: 20px">
			<h3>Drag and drop to upload files!</h3>
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
					<img src="/img/help-drop-list-target-96.png" style="float: left; margin: 10px">Drag the
					files from your
					desktop and drop them here to load.
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
					<img src="/img/help-drop-folder-target-96.png" style="float: left; margin: 10px"> You
					can
					drop files into
					folders.
				</div>
			</div>
		</div>
		<div style="padding-top: 20px">
			<h3>It is also possible ...</h3>

			<div style="display: table;">
				<i class="fa fa-file-o fa-4x" aria-hidden="true" style="float: left; margin: 10px"></i><span
					style="display: inline-block; margin-top: 20px"><a
						ui-sref="content.post-type-item-by-name.post-item-new({folderId: shCurrentFolder.id, postTypeName: 'PT-FILE'})">Upload
						file</a></span>
			</div>
			<div style="display: table;">
				<i class="fa fa-folder-o fa-4x" aria-hidden="true" style="float: left; margin: 10px"></i>
				<span style="display: inline-block; margin-top: 20px"> <a
						ui-sref="content.object.folder-new({objectId: shCurrentFolder.id})">Create
						a folder</a></span>
			</div>
		</div>
	</div>
	<!--  Folders  -->
	<div ui-sortable="sortableFolders" ng-model="shFolders">
		<div ng-repeat="shFolder in shFolders | filter:shSearchFilter | orderBy:orderByFolderSelected"
			ng-mouseenter="updateAction(shFolder.id,true)" ng-mouseleave="updateAction(shFolder.id,false)"
			class="list-group-item">
			<div class="row">
				<div class="col-lg-8 col-md-7 col-sm-6 col-xs-6">
					<div style="display: inline">
						<span ng-hide="sortableFolders.disabled" class="numberCircleFolder"
							style="margin-right: 10px"><span>{{$index+1}}</span></span>
						<span style="visibility: hidden;">{{shFolder.position=$index+1}}</span>
						</td> <input type="checkbox" ng-model="shStateObjects[shFolder.id]"
							ng-click="checkSomeItemSelected()">
					</div>
					<div style="display: inline">
						<a type="button" class="btn btn-link" ui-sref="content.children({objectId: shFolder.id})"><i
								class="fa fa-folder-open" aria-hidden="true" style="margin-right: 5px"></i>
							{{shFolder.name}}</a>
						<span ng-if="isRecent(shFolder.date)" class="label label-default"
							style="display: inline-block; margin-top: 12px">Recent</span>

						<div style="font-size: 12px; margin-left: 28px">
							<div style="display: table-row">
								<div>
									<span am-time-ago="shFolder.date" style="color: gray"></span><span
										ng-if="shFolder.summary != null"> - </span>
									{{shFolder.summary}}
								</div>
							</div>
							<div>
								<div style="display: inline;">
									<span class="label label-shio">Folder</span> <span
										class="label label-shio">{{shSite.name}} Site</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-5 col-sm-6 col-xs-6" ng-show="actions[shFolder.id]">
					<div class="row">
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
							<a type="button" class="btn btn-link btn-xs"
								ui-sref="content.folder.edit({folderId: shFolder.id})"> <i class="fa fa-pencil-square-o"
									aria-hidden="true"> </i> Edit
							</a>
							<button type="button" class="btn btn-link btn-xs" ng-hide="itemSelected"
								style="display: block;" ng-click="objectCopy(shFolder)">
								<i class="fa fa-files-o" aria-hidden="true"></i> Copy
							</button>
							<button type="button" class="btn btn-link btn-xs" ng-hide="itemSelected"
								style="display: block;" ng-click="objectMove(shFolder)">
								<i class="fa fa-share" aria-hidden="true"></i> Move
							</button>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
							<button type="button" class="btn btn-link btn-xs" ng-hide="itemSelected"
								style="display: block;" ng-click="objectClone(shFolder)">
								<i class="fa fa-clone" aria-hidden="true"></i> Clone
							</button>
							<button type="button" class="btn btn-link btn-xs" ng-hide="itemSelected"
								style="display: block;" ng-click="folderDelete(shFolder)">
								<i class="fa fa-trash-o" aria-hidden="true"></i> Delete
							</button>
							<button type="button" class="btn btn-link btn-xs" style="display: block;"
								ng-click="objectPreview(shFolder)">
								<i class="fa fa-eye" aria-hidden="true"></i> View Page
							</button>

						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
							<button type="button" class="btn btn-link btn-xs" ng-hide="itemSelected"
								style="display: block;" ng-click="objectClearCache(shFolder)">
								<i class="fa fa-eraser" aria-hidden="true"></i> Clear Cache
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--  Posts  -->
	<div ui-sortable="sortablePosts" ng-model="shPosts">
		<div ng-repeat="shPost in shPosts | filter:shSearchFilter | orderBy:orderByPostSelected"
			ng-mouseenter="updateAction(shPost.id,true)" ng-mouseleave="updateAction(shPost.id,false)"
			class="list-group-item">
			<div class="row">
				<div class="col-lg-10 col-md-9 col-sm-8 col-xs-6">

					<div style="display: inline">
						<span ng-hide="sortablePosts.disabled" class="numberCircle"
							style="margin-right: 10px"><span>{{$index+1}}</span></span>
						<span style="visibility: hidden;">{{shPost.position=$index+1}}</span>
						<input type="checkbox" ng-model="shStateObjects[shPost.id]" ng-click="checkSomeItemSelected()">
					</div>
					<div style="display: inline">
						<!-- NON ALIAS -->
						<a ng-if="shPost.shPostType.name !== 'PT-ALIAS'" type="button" class="btn btn-link"
							ui-sref="content.post-type-item.post-item({postTypeId: shPost.shPostType.id, postId: shPost.id})"><i
								class="fa fa-newspaper-o" aria-hidden="true" style="margin-right: 5px"></i>
							{{shPost.title}} </a>
						<!-- ALIAS -->
						<a ng-if="shPost.shPostType.name === 'PT-ALIAS'" type="button" class="btn btn-link"
							ui-sref="content.post-type-item.post-item({postTypeId: shPost.shPostType.id, postId: shPost.id})"><i
								class="fa fa-share-square-o" aria-hidden="true" style="margin-right: 5px"></i>
							{{shPost.title}}</a> <span ng-if="isRecent(shPost.date)" class="label label-default"
							style="display: inline-block; margin-top: 12px">Recent</span>
						<div style="font-size: 12px; margin-left: 28px">
							<div style="display: table-row">
								<div>
									<span am-time-ago="shPost.date" style="color: gray"></span><span
										ng-if="shPost.summary != null"> - </span> {{shPost.summary}}
								</div>
							</div>
							<div>
								<div style="display: inline;">
									
									<span class="label label-shio">Post</span> <span
										class="label label-shio">{{shSite.name}} Site</span> <span
										class="label label-shio">
										{{shPost.shPostType.title}}</span>
									<span class="label label-shio">{{publishStatus(shPost)}}</span>	
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-2 col-md-3 col-sm-4 col-xs-6" ng-show="actions[shPost.id]">
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
							<button type="button" class="btn btn-link btn-xs" ng-hide="itemSelected"
								ng-click="objectCopy(shPost)">
								<i class="fa fa-files-o" aria-hidden="true"></i> Copy
							</button>
							<button type="button" class="btn btn-link btn-xs" ng-hide="itemSelected"
								ng-click="objectMove(shPost)">
								<i class="fa fa-share" aria-hidden="true"></i> Move
							</button>
							<button type="button" class="btn btn-link btn-xs" ng-hide="itemSelected"
								ng-click="objectClone(shPost)">
								<i class="fa fa-clone" aria-hidden="true"></i> Clone
							</button>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
							<button type="button" class="btn btn-link btn-xs" ng-hide="itemSelected"
								ng-click="postDelete(shPost)">
								<i class="fa fa-trash-o" aria-hidden="true"></i> Delete
							</button>
							<button type="button" class="btn btn-link btn-xs" ng-click="objectPreview(shPost)">
								<i class="fa fa-eye" aria-hidden="true"></i> View Page
							</button>
							<button type="button" class="btn btn-link btn-xs" ng-hide="itemSelected"
								ng-click="objectClearCache(shPost)">
								<i class="fa fa-eraser" aria-hidden="true"></i> Clear Cache
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>