<style>
.button {
	-moz-appearance: button;
	/* Firefox */
	-webkit-appearance: button;
	/* Safari and Chrome */
	padding: 10px;
	margin: 10px;
	width: 70px;
}

.drop-box {
	background: #F8F8F8;
	border: 5px dashed #DDD;
	width: 200px;
	height: 65px;
	text-align: center;
	padding-top: 25px;
	margin: 10px;
}

.dragover {
	border: 5px dashed blue;
}
</style>
<div ng-controller="ShWidgetFileCtrl">
	<div ng-if="shPostAttr.strValue != null">
		<div class="row"
			ng-if="shPostAttr.shPostTypeAttr.shPostTypeName == 'PT-FILE'">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<input type='text' class='form-control'
					ng-model="shPostAttr.strValue"></input>
			</div>
		</div>
		<div class="row"
			ng-if="shPostAttr.shPostTypeAttr.shPostTypeName != 'PT-FILE' && !uploadNewFile">
			<div class="col-lg-10 col-md-10 col-sm-9 col-xs-8">
				<input ng-if="fileName != null" type='text' class='form-control'
					ng-model="fileName"></input> <input ng-if="fileName == null"
					type='text' class='form-control'
					ng-model="shPostAttr.referenceObjects[0].title"></input>

			</div>
			<div class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
				<button class="btn btn-viglet" ng-click="clearFile(shPostAttr)">Clear</button>
				<button class="btn btn-viglet" ng-click="newFile()">New
					File</button>
				<button class="btn btn-viglet" ng-click="selectFile(shPost, shPostAttr)">Select
					a File</button>
			</div>
		</div>
	</div>
	<div ng-if="shPostAttr.strValue == null || uploadNewFile">

		<div ngf-drop ngf-select ng-model="shPostAttr.file" class="drop-box"
			ngf-drag-over-class="'dragover'" ngf-multiple="false"
			ngf-allow-dir="true" accept="*/*" ngf-pattern="'*/*'"
			style="width: 300px">Drop files here or click to upload</div>
		<div ngf-no-file-drop>File Drag/Drop is not supported for this
			browser</div>

		Or
		<button class="btn btn-viglet" ng-click="selectFile()">Select
			a File</button>
	</div>
</div>