<style>
.button {
	-moz-appearance: button;
	/* Firefox */
	-webkit-appearance: button;
	/* Safari and Chrome */
	padding: 10px;
	margin: 10px;
	width: 70px;
}

.drop-box {
	background: #F8F8F8;
	border: 5px dashed #DDD;
	width: 200px;
	height: 65px;
	text-align: center;
	padding-top: 25px;
	margin: 10px;
}

.dragover {
	border: 5px dashed blue;
}
</style>
<div ng-controller="ShWidgetFileCtrl" ng-init="init(shPost, shPostAttr)">
	<div ng-if="shPostAttr.strValue != null">

		<div class="panel panel-default" style="margin-top: 10px;"
			ng-if="shPostType.name != 'PT-FILE' && !uploadNewFile">
			<div class="panel-body">
				<ul class="breadcrumb"
					style="background-color: white; padding: 0px; margin: 0px; font-size: 12px;">
					<li ng-repeat="breacrumbItem in breadcrumbFile.slice().reverse()"><a
						ng-click="selectFileByObject(shPostAttr, breacrumbItem)" href>{{breacrumbItem.name}}</a></li>
				</ul>
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

						<a type="button" class="btn btn-link"
							ng-if="shPostAttr.referenceObjects[0].title != null"
							ui-sref="content.post-type-item.post-item({postTypeId: shPostAttr.referenceObjects[0].shPostType.id, postId: shPostAttr.referenceObjects[0].id})"><i
							class="fa fa-newspaper-o" aria-hidden="true"
							style="margin-right: 5px"></i>
							{{shPostAttr.referenceObjects[0].title}}</a>

						<button class="btn btn-default btn-xs"
							ng-click="clearFile(shPostAttr)">Clear</button>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
						style="margin-top: 20px;">
						<img ng-if="imageURL != null" ng-src="{{imageURL}}" style="max-height: 100px;">
					</div>
				</div>
			</div>
		</div>

		<div class="row" ng-if="shPostType.name == 'PT-FILE'">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<i class="fa fa-newspaper-o" aria-hidden="true"
					style="margin-right: 5px"></i> {{shPostAttr.strValue}}

			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
				style="margin-top: 20px;">
				<img ng-if="imageURL != null" ng-src="{{imageURL}}" style="max-height: 100px;">
			</div>
		</div>
	</div>
	<div ng-if="shPostAttr.strValue == null || uploadNewFile" class="row">
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
			<div ngf-drop ngf-select ng-model="shPostAttr.file" class="drop-box"
				ngf-drag-over-class="'dragover'" ngf-multiple="false"
				ngf-allow-dir="true" style="width: 100%">Drop files here or
				click to upload</div>
			<div ngf-no-file-drop>File Drag/Drop is not supported for this
				browser</div>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"
			ng-if="shPostType.name != 'PT-FILE'"
			style="height: 40px; margin-top: 25px;">
			<button class="btn btn-viglet"
				ng-click="selectFile(shPost, shPostAttr)">Or Select a File</button>
		</div>
	</div>
</div>