<div class="modal-header">
	<h3 class="modal-title" id="modal-title">Relator</h3>
</div>
<div class="modal-body">
	<label>{{shPostAttr.shPostTypeAttr.label}}</label>
	<div
		ng-include="shPostAttr.shPostTypeAttr.shWidget.implementationCode"></div>
</div>
<div class="modal-footer">
	<button class="btn btn-default" type="button" ng-click="$ctrl.ok()"
		ng-class="{'btn-viglet': $ctrl.shPostSelected != null }">Save</button>
	<button class="btn btn-default" type="button" ng-click="$ctrl.cancel()">Cancel</button>
</div>
