<div *ngIf="(getShSite() | async) as shSite; else loading">
    <shio-repository-tabs [shSite]="shSite" [tabIndex]="2"></shio-repository-tabs>
    <div class="clearfix overflow-hidden px-3 px-md-4 px-lg-5 mt-6" style="max-width: 1280px;margin-right: auto;
    margin-left: auto;">

        <div id="col-left" class="float-left" style="width: 280px;padding-right: 15px;">
            <nav class="menu" aria-label="Site settings">
                <a class="menu-item" href="#url" aria-current="page">General</a>
                <a class="menu-item" href="#url">Website</a>
                <a class="menu-item" href="#url">Forms</a>
                <a class="menu-item" href="#url">GraphQL</a>
            </nav>
        </div>

        <div id="col-right" class="float-right" style="width: calc(100% - 300px);">
            <div class="Subhead">
                <div class="Subhead-heading">Settings</div>
                <div class="Subhead-actions">
                    <button type="button" class="btn mr-2">Cancel</button>
                    <button type="button" class="btn btn-primary" (click)="saveSite(shSite)">Save changes</button>
                </div>
            </div>
            <div class="form-group">
                <div class="form-group-header">
                    <label for="repo-name">Name</label>
                </div>
                <div class="form-group-body">
                    <input class="form-control" type="text" id="repo-name" [(ngModel)]="shSite.name"
                        style="width: 100%;" />
                    <p class="note" id="help-text-for-checkbox">
                        Site name will appear on main page of repository.
                    </p>
                </div>
            </div>
            <div class="form-group">
                <div class="form-group-header">
                    <label for="repo-description">Description</label>
                </div>
                <div class="form-group-body">
                    <input class="form-control" type="text" id="repo-name" [(ngModel)]="shSite.description"
                        style="width: 100%;" />
                    <p class="note" id="help-text-for-checkbox">
                        Site description will appear on main page of repository.
                    </p>
                </div>
            </div>
            <div class="form-group">
                <div class="form-group-header">
                    <label for="repo-url">URL</label>
                </div>
                <div class="form-group-body">
                    <input class="form-control" type="text" id="repo-url" [(ngModel)]="shSite.url"
                        style="width: 100%;" />
                    <p class="note" id="help-text-for-checkbox">
                        On main page of repository the user will can open the URL of the site.
                    </p>
                </div>
            </div>
            <div class="form-group">
                <div class="form-group-header">
                    <label for="repo-association">Post Type and Page Layout Association</label>
                </div>

                <div class="form-group-body">
                    <div ace-editor [(text)]="shSite.postTypeLayout" [mode]="'json'" [theme]="'eclipse'"
                        [options]="options" [readOnly]="false" [autoUpdateContent]="true"
                        [durationBeforeCallback]="1000"
                        style="min-height: 200px; width:100%; overflow: auto;"></div>
                    <p class="note" id="help-text-for-checkbox">
                        Define which <strong>page payouts</strong> will be used by <strong>post types</strong>.
                    </p>
                </div>
            </div>
            <div class="form-group">
                <div class="form-group-header">
                    <label for="repo-searchable">Searchable Post Types</label>
                </div>
                <div class="form-group-body">
                    <ace fxFlex="auto" [mode]="'json'" style="height: 200px;" [(value)]="shSite.searchablePostTypes">
                    </ace>
                    <p class="note" id="help-text-for-checkbox">
                        Define which <strong>post types</strong> will be indexed and will appear on <strong>website
                            search</strong>.
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #loading>
    <span>Loading</span><span class="AnimatedEllipsis"></span>
</ng-template>