<div style="margin-bottom: 10px;">
	<button type="button" class="btn btn-viglet btn-xs" ng-click="objectsCopy()">
		<i class="fa fa-files-o" aria-hidden="true"></i> Copy
	</button>
	<button type="button" class="btn btn-viglet btn-xs" ng-click="objectsMove()">
		<i class="fa fa-share" aria-hidden="true"></i> Move
	</button>
	<button type="button" class="btn btn-viglet btn-xs" ng-click="objectsClone()">
		<i class="fa fa-clone" aria-hidden="true"></i> Clone
	</button>
	<button type="button" class="btn btn-viglet btn-xs" ng-click="objectsDelete()">
		<i class="fa fa-trash-o" aria-hidden="true"></i> Delete
	</button>
	<button type="button" class="btn btn-viglet btn-xs" ng-click="objectsEdit()">
		<i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit
	</button>
	<button type="button" class="btn btn-viglet btn-xs" ng-click="objectsRename()">
		<i class="fa fa-pencil" aria-hidden="true"></i> Rename
	</button>
</div>
<div>
	<ul class="breadcrumb" style="margin-top: 0px; margin-bottom: 5px;">
		<li><a ng-if="breadcrumb != null"
			ui-sref="content.children.site-children({siteId: shSite.id})"
			ui-sref-opts="{reload:true}"><i class="fa fa-sitemap"
				aria-hidden="true"></i></a><span ng-if="breadcrumb == null"><i
				class="fa fa-sitemap" aria-hidden="true"></i></span></li>
		<li ng-repeat="breacrumbItem in breadcrumb"
			ng-class="{'active':$last}"><a ng-if="!$last"
			ui-sref="content.children.channel-children({channelId: breacrumbItem.id})"
			ui-sref-opts="{reload:true}">{{breacrumbItem.name}}</a><span
			ng-if="$last">{{breacrumbItem.name}}</span></li>
	</ul>
</div>
<table class="table table-hover">
	<!--  Channels  -->
	<tr ng-repeat="shChannel in shChannels">
		<td style="width: 120px; white-space: nowrap; text-align: left">
			<div class="row" style="width: 90px; margin: 0px; margin-right: 10px">
				<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"
					style="font-size: 14px; margin: 5px; padding: 0px; width: 10px">
					<input type="checkbox" ng-model="shStateObjects[shChannel.shGlobalId.id]">
				</div>
				<div ng-click="channelDelete(shChannel)"
					class="glyphicon glyphicon-trash close col-lg-1 col-md-1 col-sm-1 col-xs-1"
					style="font-size: 14px; margin: 5px; padding: 0px; width: 10px"></div>
				<div
					class="glyphicon glyphicon-star-empty close col-lg-1 col-md-1 col-sm-1 col-xs-1"
					style="font-size: 14px; margin: 5px; padding: 0px; width: 10px"></div>
				<a ui-sref="content.channel.edit({channelId: shChannel.id})"><div
						class="glyphicon glyphicon-pencil close col-lg-1 col-md-1 col-sm-1 col-xs-1"
						style="font-size: 14px; margin: 5px; padding: 0px; width: 10px"></div></a>
			</div>
		</td>
		<td><a
			ui-sref="content.children.channel-children({channelId: shChannel.id})"><i
				class="fa fa-folder-open fa-2x" aria-hidden="true"></i></a></td>
		<td><div style="width: 300px">
				<a
					ui-sref="content.children.channel-children({channelId: shChannel.id})">

					{{shChannel.name}}</a>
			</div></td>
		<td style="width: 100px;"><span class="label label-primary">Channel</span></td>
		<td style="width: 100%;" class="hidden-md hidden-sm hidden-xs">{{shChannel.summary}}</td>
		<td style="width: 120px; white-space: nowrap;"
			class="hidden-sm hidden-xs"><span am-time-ago="shChannel.date"></span></td>
	</tr>
	<!--  Posts  -->
	<tr ng-repeat="shPost in shPosts">
		<td style="width: 120px; white-space: nowrap; text-align: left">
			<div class="row" style="width: 90px; margin: 0px; margin-right: 10px">
				<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"
					style="font-size: 14px; margin: 5px; padding: 0px; width: 10px">
					<input type="checkbox" ng-model="shStateObjects[shPost.shGlobalId.id]">
				</div>
				<div ng-click="postDelete(shPost)"
					class="glyphicon glyphicon-trash close col-lg-1 col-md-1 col-sm-1 col-xs-1"
					style="font-size: 14px; margin: 5px; padding: 0px; width: 10px"></div>
				<div
					class="glyphicon glyphicon-star-empty close col-lg-1 col-md-1 col-sm-1 col-xs-1"
					style="font-size: 14px; margin: 5px; padding: 0px; width: 10px"></div>
				<a
					ui-sref="content.post-type-item.post-item({postTypeId: shPost.shPostType.id, postId: shPost.id})"><div
						class="glyphicon glyphicon-pencil close col-lg-1 col-md-1 col-sm-1 col-xs-1"
						style="font-size: 14px; margin: 5px; padding: 0px; width: 10px"></div></a>
			</div>
		</td>
		<td><a
			ui-sref="content.post-type-item.post-item({postTypeId: shPost.shPostType.id, postId: shPost.id})"><i
				class="fa fa-file-o fa-2x" aria-hidden="true"></i></a></td>
		<td><div style="width: 300px">
				<a
					ui-sref="content.post-type-item.post-item({postTypeId: shPost.shPostType.id, postId: shPost.id})">
					{{shPost.title}}</a>
			</div></td>
		<td style="width: 100px;"><span class="label label-warning">
				{{shPost.shPostType.title}}</span></td>
		<td style="width: 100%;" class="hidden-md hidden-sm hidden-xs">{{shPost.summary}}</td>
		<td style="width: 120px; white-space: nowrap;"
			class="hidden-sm hidden-xs"><span am-time-ago="shPost.date"></span></td>
	</tr>
</table>