<div class="panel panel-default"
	style='font-family: "Raleway", sans-serif; font-weight: 400; min-height: 175px; width: 544px; margin-bottom: 0px; padding-bottom: 0px;'>
	<div class="panel-title"
		style="padding: 10px; border-bottom-color: rgb(217, 217, 217); border-bottom-style: solid; border-bottom-width: thin;">
		<p style="font-size: 18px; color: #f0ad4e; margin: 0px;">{{'SETTINGS_ACCOUNT_TITLE'
			| translate }}</p>
		<p style="font-size: 14px; color: rgb(182, 182, 182); margin: 0px;">{{'SETTINGS_ACCOUNT_SUBTITLE'
			| translate }}</p>
	</div>
	<div class="panel-body" style="padding: 0px;">
		<div class="row"
			style="margin: 0px; padding: 10px; padding-bottom: 0px">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"
				style="text-align: right; padding: 0px; padding-right: 20px; padding-top: 5px; font-size: 14px; color: rgb(51, 51, 51)">
				{{'USERNAME' | translate }}</div>
			<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" style="padding: 0px">

				<p ng-if="valid==false"
					style="font-size: 12px; color: rgb(182, 182, 182); margin: 0px;">{{msg}}</p>
				<input ng-model="user.username" maxlength="15"
					ng-change="validateUsername()" type="text" id="account_username"
					name="account_username" value="{{username}}" class="form-control"
					style="width: 210px; font-size: 12px; padding-left: 5px">
				<p
					style="font-size: 12px; color: rgb(182, 182, 182); margin-top: 5px;">https://accounts.viglet.ai/{{user.username}}</p>

			</div>
		</div>
		<div class="row"
			style="margin: 0px; padding: 10px; padding-bottom: 0px">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"
				style="text-align: right; padding: 0px; padding-right: 20px; padding-top: 5px; font-size: 14px; color: rgb(51, 51, 51)">
				{{'FIRST_NAME' | translate }}</div>
			<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" style="padding: 0px">

				<input maxlength="15" ng-model="user.firstName" type="text"
					id="firstName" class="form-control"
					style="width: 210px; font-size: 12px; padding-left: 5px">
			</div>
		</div>
		<div class="row"
			style="margin: 0px; padding: 10px; padding-bottom: 0px">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"
				style="text-align: right; padding: 0px; padding-right: 20px; padding-top: 5px; font-size: 14px; color: rgb(51, 51, 51)">
				{{'LAST_NAME' | translate }}</div>
			<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" style="padding: 0px">

				<input maxlength="15" ng-model="user.lastName" type="text"
					id="lastName" class="form-control"
					style="width: 210px; font-size: 12px; padding-left: 5px">
			</div>
		</div>
		<div class="row"
			style="margin: 0px; padding: 10px; padding-top: 25px; padding-bottom: 30px; border-bottom-color: rgb(217, 217, 217); border-bottom-style: solid; border-bottom-width: thin;">

		</div>
		<div style="padding: 10px;">
			<p
				style="font-size: 18px; color: rgb(51, 51, 51); margin: 0px; font-weight: bold">{{'PASSWORD'
				| translate }}</p>

		</div>
		<div class="row" style="margin: 0px; padding: 10px">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"
				style="text-align: right; padding: 0px; padding-right: 20px; padding-top: 5px; font-size: 14px; color: rgb(51, 51, 51)">
				{{'PASSWORD' | translate }}</div>
			<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" style="padding: 0px">
				<input ng-model="user.password" maxlength="15" type="password"
					id="password" autocomplete="new-password" class="form-control"
					style="width: 210px; font-size: 12px; padding-left: 5px">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"></div>
			<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8"
				style="padding: 0px; padding-top: 20px; padding-bottom: 20px;">
				<button type="submit" ng-click="userSave()" class="btn btn-warning">{{'SETTINGS_SAVE_CHANGES'
					| translate }}</button>
			</div>
		</div>
	</div>
</div>
