<div class="modal-header">
	<h3 class="modal-title" id="modal-title">Remove these contents?</h3>
</div>
<div class="modal-body">
	<div class="list-group">
		<a ng-repeat="shObject in $ctrl.shObjects" class="list-group-item"
			href ng-click="selectedPost(shObject)">
			<div class="row">
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
					<i class="fa fa-file-o fa-2x" aria-hidden="true"> </i>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">{{shObject.title}}</div>
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
					<span class="label label-warning">
						{{shObject.shPostType.title}}</span>
				</div>
			</div>
		</a>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-viglet" type="button" ng-click="$ctrl.ok()">Remove</button>
	<button class="btn btn-default" type="button" ng-click="$ctrl.cancel()">Cancel</button>
</div>