<div class="list-group">
	<div ng-if="shFolders.length == 0 && shPosts.length == 0"
		style="padding: 20px; border-style: dashed; border-color: gray;">
		<div style="padding-top: 20px">
			<h3>Drag and drop to upload files!</h3>
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
					<img src="/img/help-drop-list-target-96.png"  alt="Drag and Drop" style="float: left; margin: 10px">Drag the
					files from your
					desktop and drop them here to load.
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
					<img src="/img/help-drop-folder-target-96.png" alt="Folder Target" style="float: left; margin: 10px"> You
					can
					drop files into
					folders.
				</div>
			</div>
		</div>
		<div style="padding-top: 20px">
			<h3>It is also possible ...</h3>

			<div style="display: table;">
				<i class="fa fa-file-o fa-4x" aria-hidden="true" style="float: left; margin: 10px"></i><span
					style="display: inline-block; margin-top: 20px"><a
						ui-sref="content.post-type-item-by-name.post-item-new({folderId: shCurrentFolder.id, postTypeName: 'File'})">Upload
						file</a></span>
			</div>
			<div style="display: table;">
				<i class="fa fa-folder-o fa-4x" aria-hidden="true" style="float: left; margin: 10px"></i>
				<span style="display: inline-block; margin-top: 20px"> <a
						ui-sref="content.object.folder-new({objectId: shCurrentFolder.id})">Create
						a folder</a></span>
			</div>
		</div>
	</div>
	<div class="row">
		<!--  Folders  -->

		<div ng-model="shFolders">
			<div class="col-lg-2 col-md-3 col-sm-4 col-xs-4"
				ng-repeat="shFolder in shFolders | filter:shSearchFilter | orderBy:orderByFolderSelected"
				ng-mouseenter="updateAction(shFolder.id,true)" ng-mouseleave="updateAction(shFolder.id,false)">
				<a ui-sref="content.children({objectId: shFolder.id})">
					<div style="margin-bottom: 10px;">
						<div style="width: 100%;padding-top: 50%;position: relative;">
							<div style="background-image: url('/img/folder.jpg');background-position: center;background-repeat: no-repeat;background-size: contain;-webkit-background-size: contain;-moz-background-size: contain;-o-background-size: contain;margin: 0px !important;
							width: 100% !important;
							position: absolute !important;
							top: 0;
							left: 0;
							bottom: 0;
							right: 0;
							height: 100% !important;">
							</div>
						</div>
						<div style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;text-align: center;">
							{{shFolder.name}}
						</div>
					</div>
				</a>
			</div>
		</div>

		<!--  Posts  -->
		<div ng-model="shPosts">
			<div class="col-lg-2 col-md-3 col-sm-4 col-xs-4"
				ng-repeat="shPost in shPosts | filter:shSearchFilter | orderBy:orderByPostSelected"
				ng-mouseenter="updateAction(shPost.id,true)" ng-mouseleave="updateAction(shPost.id,false)">
				<!-- NON ALIAS -->
				<a ng-if="shPost.shPostType.name !== 'Alias' && shPost.shPostType.name !== 'File'"
					ui-sref="content.post-type-item.post-item({postTypeId: shPost.shPostType.id, postId: shPost.id})">
					<div style="margin-bottom: 10px;">
						<div style="width: 100%;padding-top: 50%;position: relative;">
							<div style="background-image:  url('/img/news.svg');background-position: center;background-repeat: no-repeat;background-size: contain;-webkit-background-size: contain;-moz-background-size: contain;-o-background-size: contain;margin: 0px !important;
							width: 100% !important;
							position: absolute !important;
							top: 0;
							left: 0;
							bottom: 0;
							right: 0;
							height: 100% !important;">
							</div>
						</div>
						<div style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;text-align: center;">
							{{shPost.title}}
						</div>
					</div>
				</a>
				<!-- ALIAS -->
				<a ng-if="shPost.shPostType.name === 'Alias'"
					ui-sref="content.post-type-item.post-item({postTypeId: shPost.shPostType.id, postId: shPost.id})">
					<div style="margin-bottom: 10px;">
						<div style="width: 100%;padding-top: 50%;position: relative;">
							<div style="background-image:  url('/img/alias.svg');background-position: center;background-repeat: no-repeat;background-size: contain;-webkit-background-size: contain;-moz-background-size: contain;-o-background-size: contain;margin: 0px !important;
							width: 100% !important;
							position: absolute !important;
							top: 0;
							left: 0;
							bottom: 0;
							right: 0;
							height: 100% !important;">
							</div>
						</div>
						<div style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;text-align: center;">
							{{shPost.title}}
						</div>
					</div>
				</a>				
				<a ng-if="shPost.shPostType.name === 'File'"
					ui-sref="content.post-type-item.post-item({postTypeId: shPost.shPostType.id, postId: shPost.id})">
					<div style="margin-bottom: 10px;">
						<div style="width: 100%;padding-top: 50%;position: relative;">
							<div style="background-image: url('/api/v2/staticfile/{{shPost.id}}/thumbnail');background-position: center;background-repeat: no-repeat;background-size: contain;-webkit-background-size: contain;-moz-background-size: contain;-o-background-size: contain;margin: 0px !important;
						width: 100% !important;
						position: absolute !important;
						top: 0;
						left: 0;
						bottom: 0;
						right: 0;
						height: 100% !important;">
							</div>
						</div>
						<div style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;text-align: center;">
							{{shPost.title}}
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>