<div th:text="|${shPostTypeAttr.label}|" style="padding-bottom: 8px;"></div>
<div th:each="choice : ${choices}" class="mdc-form-field" style="display: flex;">
    <div class="mdc-checkbox">
        <input type="checkbox" th:name="${'__sh-post-type-attr-' + shPostTypeAttr.name + '[]'}" th:value="${choice.key}"
            class="mdc-checkbox__native-control">
        <div class="mdc-checkbox__background">
            <svg class="mdc-checkbox__checkmark" viewbox="0 0 24 24">
                <path class="mdc-checkbox__checkmark-path" fill="none" d="M1.73,12.91 8.1,19.28 22.79,4.59" />
            </svg>
            <div class="mdc-checkbox__mixedmark"></div>
        </div>
    </div>
    <label th:text="|${choice.value}|"></label>
</div>