
<div class="panel panel-default"
	style="font-weight: 400; min-height: 175px; margin-bottom: 0px; padding-bottom: 0px;">
	<div class="panel-title"
		style="padding: 10px; border-bottom-color: rgb(217, 217, 217); border-bottom-style: solid; border-bottom-width: thin;">
		<div class="row">
			<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
				<p style="font-size: 18px; color: #f0ad4e; margin: 0px;"
					class="ng-binding">Roles</p>
				<p style="font-size: 14px; color: rgb(182, 182, 182); margin: 0px;"
					class="ng-binding">User Roles</p>

			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"
				style="text-align: right">
				<a ui-sref="organization.role-new" class="btn btn-warning"
					role="button" aria-pressed="true"
					style="margin-bottom: 5px; color: white">New</a>
			</div>
		</div>
	</div>
	<div class="panel-body" style="padding: 0px;">
		<table class="table table-striped table-hover table-responsive">
			<thead>
				<tr>
					<th>Name</th>
					<th>Description</th>
					<th style="text-align: right">Action</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="role in roles">
					<td><a ui-sref="organization.role-edit({roleId: role.id})" >{{role.name}}</a></td>
					<td><a ui-sref="organization.role-edit({roleId: role.id})" >{{role.description}}</a></td>
					<td style="text-align: right">
						<div class="btn-group">
							<button type="button" ui-sref="organization.role-edit({roleId: role.id})"
								class="btn btn-warning">Edit</button>
							<button type="button" class="btn btn-warning dropdown-toggle"
								data-toggle="dropdown" aria-haspopup="true"
								aria-expanded="false">
								<span class="caret"></span> <span class="sr-only">Toggle
									Dropdown</span>
							</button>
							<ul class="dropdown-menu">
								<li><a href ng-click="roleDelete(role.id)" >Delete</a></li>
							</ul>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
