<nav class="UnderlineNav overflow-hidden px-3 px-md-4 px-lg-5 bg-gray-light pt-3 mb-2" aria-label="Dashboard Tabs">
    <div class="UnderlineNav-body">
        <a [routerLink]="['/content/dashboard/repo']" routerLinkActive="active"
            [class.selected]="getRouter().url === '/content/dashboard/repo'" class="UnderlineNav-item d-flex flex-items-center">
            <span octicon="repo" size="16" class="mr-1" [style.color]="getRouter().url === '/content/dashboard/repo'?'':'#959da5'"></span>            
            Repository <span class="Counter">2</span>
        </a>

        <a href="#url" class="UnderlineNav-item d-flex flex-items-center">
            <span octicon="workflow" size="16" class="mr-1"
                [style.color]="getRouter().url === '/content/dashboard/workflow'?'':'#959da5'"></span>
            Tasks <span class="Counter">10</span>
        </a>
        <a [routerLink]="['/content/dashboard/modeling']" routerLinkActive="active"
            [class.selected]="getRouter().url === '/content/dashboard/modeling'" class="UnderlineNav-item d-flex flex-items-center">
            <span octicon="package" size="16" class="mr-1"
                [style.color]="getRouter().url === '/content/dashboard/modeling'?'':'#959da5'"></span>
            Modeling
        </a>
        <a href="#url" class="UnderlineNav-item d-flex flex-items-center">
            <span octicon="code" size="16" class="mr-1"
                [style.color]="getRouter().url === '/content/dashboard/playground'?'':'#959da5'"></span> API
            Playground
        </a>
    </div>
</nav>
<router-outlet>
</router-outlet>