<style>
	:root {
		--mdc-theme-secondary: #bc3830;
	}
</style>
<form action="" th:method="${method}">
	<input type="hidden" name="_csrf" th:value="${token}"> <input type="hidden" name="__sh-post-type"
		th:value="${shPostType.name}">
	<div th:each="field : ${fields}">
		<div th:utext="|${field}|"></div>
	</div>
	<div style="margin-top: 20px">
		<div style="text-align: center;">
			<button type="submit" class="mdc-button" style="background: #bc3830; color: #ffffff"
				ng-click="submitted= true;">Enviar</button>
		</div>
	</div>
</form>