<table class="table" style="margin: 0px;">
	<caption style="display:none">Combo Box</caption>
	<tr>
		<th scope="row" style="background: #F9F9F9; width: 20%;">
			<p>
				<strong>Choices</strong>
			</p>
			<p>Type each option in a new line.</p>
			<p>For more control, you can specify both values and the labels,
				as in example below:</p> <samp>
				red: Red<br> blue: Blue
			</samp>
		</th>
		<td><textarea class="form-control" rows="8" ng-model="shPostTypeAttr.widgetSettingsObject.choices"></textarea>
	</tr>
	<tr>
		<th scope="row" style="background: #F9F9F9; width: 20%;">
			<p>
				<strong>Allow Null?</strong>
			</p>

		</th>
		<td><input type="checkbox" ng-true-value="1" ng-false-value="0"
				ng-model="shPostTypeAttr.widgetSettingsObject.allowNull"></td>
	</tr>
</table>