<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Shio CMS</title>
	<base href="/">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/x-icon" href="favicon.ico">
	<link th:href=/favicon.ico" rel="shortcut icon" type="image/x-icon" />
	<link rel="apple-touch-icon" sizes="57x57" th:href=/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" th:href=/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" th:href=/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" th:href=/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" th:href=/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" th:href=/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" th:href=/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" th:href=/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" th:href=/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192" th:href=/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" th:href=/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" th:href=/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" th:href=/favicon-16x16.png">
	<link rel="manifest" th:href=/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
	<script>

		// Custom identicon style
		// https://jdenticon.com/icon-designer.html?config=8644440010c4330a24461852
		window.jdenticon_config = {
			hues: [196],
			lightness: {
				color: [0.36, 0.70],
				grayscale: [0.24, 0.82]
			},
			saturation: {
				color: 0.51,
				grayscale: 0.10
			},
			backColor: "#86444400"
		};
		
		</script>
</head>

<body>
	<app-root></app-root>
</body>

</html>