<div class="Header py-lg-0 Details flex-wrap flex-lg-nowrap px-3">
    <div class="Header-item" style="padding: 6px 0px">
        <a [routerLink]="['/content/dashboard']" routerLinkActive="active"
            class="Header-link d-flex flex-items-center ">
            <shio-logo size="30" style="padding-top: 5px;"></shio-logo>
        </a>
    </div>
    <div class="Header-item Header-item--full">
        <input type="search" class="form-control input-dark input-sm" style="width: 25%;" placeholder="Search for..." />
    </div>
    <div class="Header-item position-relative d-none d-lg-flex">
        <details class="details-overlay details-reset">
            <summary class="Header-link" aria-label="Create new…" data-ga-click="Header, create new, icon:add"
                aria-haspopup="menu" role="button" style="outline:none;">
                <span octicon="plus" size="16" class="mr-1"></span>
                <span class="dropdown-caret"></span>
            </summary>
            <div class="dropdown-menu dropdown-menu-sw mt-n2" role="menu">
                <a role="menuitem" class="dropdown-item" href>New repository</a>
                <a role="menuitem" class="dropdown-item" href>Import repository</a>
                <div role="none" class="dropdown-divider"></div>
                <a role="menuitem" class="dropdown-item" href>New organization</a>
                <a role="menuitem" class="dropdown-item" href>Import organization</a>
                <div role="none" class="dropdown-divider"></div>
                <a role="menuitem" class="dropdown-item" href>New post type</a>
                <a role="menuitem" class="dropdown-item" href>Import post type</a>
            </div>
        </details>

    </div>    
    <div class="Header-item position-relative mr-0 d-none d-lg-flex">
        <details *ngIf="(user | async) as userItem"
            class="details-overlay details-reset">
            <summary class="Header-link" aria-haspopup="menu" role="button" style="outline:none;">
                <div class="float-left" style="padding-top: 7px;margin-right: 7px;">
                    <div style="background-color: whitesmoke;width: 20px;height: 20px;border-radius: 50%;">
                        <svg width="20" height="20" style="border-radius: 50%;"
                            [identiconHash]="userItem.username | lowercase">
                            Avatar
                        </svg>
                    </div>
                </div>
                <div class="dropdown-caret" style="margin-top: 17px;padding-bottom: 10px;padding-top: 1px;"></div>
            </summary>
            <ul class="dropdown-menu dropdown-menu-sw" style="margin-right: 8px;">
                <li>
                    <div class="dropdown-item">Signed in as <strong>{{userItem.username}}</strong></div>
                </li>
                <li class="dropdown-divider" role="separator"></li>
                <li><a class="dropdown-item" (click)="logout()" href>Sign out</a></li>
            </ul>
        </details>
    </div>
</div>