.numberCircle {
	padding: 5px;
	display: inline-block;
	line-height: 0px;
	border-radius: 50%;
	border: 1px solid;
	font-size: 12px;
	border-color: #FF874Bdd;
}

.numberCircle span {
	display: inline-block;
	padding-top: 50%;
	padding-bottom: 50%;
	margin-left: 2px;
	margin-right: 2px;
	color: #FF874Bdd;
	font-family: Arial, sans-serif;
}

.numberCircleFolder {
	padding: 5px;
	display: inline-block;
	line-height: 0px;
	border-radius: 50%;
	border: 0px solid;
	/* border-bottom-color: #ddd; */
	font-size: 12px;
	background-color: #FF874Bdd;
}

.numberCircleFolder span {
	display: inline-block;
	padding-top: 50%;
	padding-bottom: 50%;
	margin-left: 2px;
	margin-right: 2px;
	color: white;
	font-family: Arial, sans-serif;
}

.fa-viglet {
    color: #FF874B;
}

.fa-viglet:focus .fa-viglet:hover {
    color: white !important;
}

.btn-viglet {
    background-color: #FF874B;
    color: white !important;
}

.btn-viglet:hover {
    background-color: #FF691F;
    color: white !important;
}
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: 'ProximaNovaLight';
    src: url('../fonts/proximanova-light-webfont.eot');
    src: url('../fonts/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanova-light-webfont.woff') format('woff'), url('../fonts/proximanova-light-webfont.ttf') format('truetype'), url('../fonts/proximanova-light-webfont.svg#ProximaNovaLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNovaReg';
    src: url('../fonts/proximanova-reg-webfont.eot');
    src: url('../fonts/proximanova-reg-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanova-reg-webfont.woff') format('woff'), url('../fonts/proximanova-reg-webfont.ttf') format('truetype'), url('../fonts/proximanova-reg-webfont.svg#ProximaNovaReg') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* Wrapper for page content to push down footer */

#wrap {
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 auto -60px;
    /* Pad bottom by footer height */
    padding: 0 0 60px;
}


/* Set the fixed height of the footer here */

#footer {
    height: 60px;
    background-color: #f5f5f5;
}


/* centered columns styles */

.row-centered {
    text-align: center;
}

.col-centered {
    display: inline-block;
    float: none;
    /* reset the text-align */
    text-align: left;
    /* inline-block space fix */
    margin-right: -4px;
    vertical-align: text-top;
}

body {
    font-family: "ProximaNovaLight", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    line-height: 22px;
    color: #444;
    position: relative;
}

html {
    font-size: 15px;
}

p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px 0;
    font-family: "ProximaNovaLight", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #444;
    text-transform: none;
}

.container {
    width: 100%;
}

.navbar-brand {
    padding: 0px;
}

.navbar-brand>img {
    height: 100%;
    padding: 15px;
    width: auto;
}

.navbar-default .navbar-left>li:focus,
.navbar-default .navbar-left>li:hover {
    color: #333;
    background-color: transparent;
    border-bottom-color: #FF691F;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

navbar-default .navbar-left>li:focus,
.navbar-default .navbar-left>li {
    color: #333;
    background-color: transparent;
    border-bottom-color: transparent;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

.navbar-default .navbar-left>li.active {
    border-bottom-color: #FF874B;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

@media only screen and (min-width: 300px) {
    .cover-welcome {
        margin-top: 60px;
        min-width: 100%;
        min-height: 140px;
        width: auto;
        height: auto;
        //  height: 100%; 
        z-index: -100;
        background-size: cover;
        background-position: center top;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        overflow: hidden;
        background: url('../img/banner/aiforeveryone.jpg') 50% 50% / cover no-repeat;
    }
    .banner-text {
        margin-top: 10px;
        margin-bottom: 0px;
        text-align: center;
        font-size: 16px;
        line-height: 150%
    }
    .turing-text {
        text-align: left;
        font-size: 20px;
        line-height: 150%
    }
}

@media only screen and (min-width: 321px) {
    .cover-welcome {
        margin-top: 60px;
        min-width: 100%;
        min-height: 180px;
        width: auto;
        height: auto;
        //  height: 100%; 
        z-index: -100;
        background-size: cover;
        background-position: center top;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        overflow: hidden;
        background: url('../img/banner/aiforeveryone.jpg') 50% 50% / cover no-repeat;
    }
    .banner-text {
        margin-top: 10px;
        margin-bottom: 0px;
        text-align: center;
        font-size: 20px;
        line-height: 150%
    }
    .turing-text {
        text-align: left;
        font-size: 14px;
        line-height: 150%
    }
}

@media only screen and (min-width: 1200px) {
    /* Styles */
    .cover-welcome {
        margin-top: 60px;
        min-width: 100%;
        min-height: 450px;
        width: auto;
        height: auto;
        //  height: 100%; 
        z-index: -100;
        background-size: cover;
        background-position: center top;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        overflow: hidden;
        background: url('../img/banner/aiforeveryone.jpg') 50% 50% / cover no-repeat;
    }
    .banner-text {
        margin-top: 10px;
        margin-bottom: 20px;
        text-align: center;
        font-size: 25px;
        line-height: 150%
    }
    .turing-text {
        text-align: left;
        font-size: 16px;
        line-height: 150%
    }
}